<div id="packlist" class="none">
<iframe id="fdingdan"  name="fdingdan" onload="returnmessage('fdingdan');" style="display:none"></iframe>
<form action="{yun:}url m=member c=pay act=dingdan{/yun}" method="post" target="fdingdan" id='myform' onSubmit="return checkpack();">
<input type="hidden" id="buypack" value="1">
<div class="Download_resume_tips">
<div class="Download_resume_cont" id="ratinglist">

</div>
<div class="Download_resume_tips_jine none">应付金额：<em class="Download_resume_tips_f">￥460</em></div>
<div class="Download_resume_tips_bth"><input type="submit" value="立即购买" class="Download_resume_tips_sub"></div>
</div>
</form>
</div>

<div id='job_box' class="none" style="float:left">


<div class="r_Interview"><span class="Interview_span">面试职位：</span><select id='jobname' class="Interview_select"></select></div>
<div class="r_Interview"><span class="Interview_span">联系人：</span><input size='5'  id='linkman' value='' class="Interview_text Interview_text_w200"></div>
<div class="r_Interview"><span class="Interview_span">联系电话：</span><input size='19'  id='linktel' value='' class="Interview_text"></div>
<div class="r_Interview"><span class="Interview_span">面试时间：</span><input size='40' id='intertime' value=''  class="Interview_text  Interview_text_w200"></div>
<div class="r_Interview"><span class="Interview_span">面试地址：</span><input size='40' id='address' value=''  class="Interview_text"></div>
<div class="r_Interview"><span class="Interview_span">面试备注：</span><textarea id="content" cols="40" rows="5"  class="Interview_textarea_text"></textarea></div>
<div class="r_Interview " style="padding-bottom:20px;"><span class="Interview_span">&nbsp;</span><input type="hidden" value="{yun:}$Info.id{/yun}" id="eid">
		<input type="hidden" value="{yun:}$Info.uid{/yun}" id="uid">
		<input type="hidden" id="username" value="{yun:}$Info.name{/yun}"> 
		<input class="resume_sub_yq" id="click_invite" type="button" value="邀请面试"  >
        
        </div>



 </div>
 
<div id="talent_pool_beizhu" class="none">
<div class="resume_beizu" style="margin-left:18px; margin-top:18px;"><textarea id="remark" cols="40" rows="5" class="resume_beizu_text" style="width:340px;height:90px;border:1px solid #ddd"></textarea></div>
<div style="text-align:center; padding:10px 0;"><input type="button" value="保存" onClick="talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}','{yun:}url m=ajax c=talent_pool{/yun}')" class="resume_beizu_bth"/></div>
</div>