<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script><script src="{yun:}$style{/yun}/js/special.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="{yun:}$style{/yun}/special/css/css.css">
</head>
<script language="javascript">
var pricename='{yun:}$config.integral_pricename{/yun}'; 
</script>
<body class="senior_bg">
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="special_bg" style="width:100%; background:url({yun:}$config.sy_weburl{/yun}{yun:}$info.background{/yun}) no-repeat center top">
  <div class="special_banner"></div>
<div class="special_cont">
<div class="special_cont_tip">
<div><i class="special_cont_tip_left"></i></div>

<div class="special_cont_tip_span">专题介绍<em class="famous_content_t_zt_span_em"> Presentations</em></div>

</div>


<div class="senior_content">
<div class="senior_content_p"> 
{yun:}$info.intro{/yun} 
{yun:}if !$isapply{/yun}
<div class="senior_join_btn">我是企业，我要加入招聘
<input type='button' value="参加报名" onclick="comapply('{yun:}$info.id{/yun}','{yun:}$info.integral{/yun}','{yun:}url m=special c=apply{/yun}')" class="senior_btn" ></div>
{yun:}/if{/yun}

</div>
<div class="special_cont_tip">
<div><i class="special_cont_tip_left"></i></div>
<div class="special_cont_tip_span">名企招聘<em class="famous_content_t_zt_span_em"> Name recruitment</em></div>
</div>
    <div class="senior_job_connt">
    
    {yun:}specialcom sid='auto.id' namelen=10 jobnamelen=6 item=clist{/yun}
    <div class="senior_job_list">
	  <div class="senior_job_list_pic"> <a href="{yun:}$clist.comurl{/yun}" target="_blank"><img src="{yun:}$clist.logo{/yun}" width="185" height="75" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/></a></div>
        <div class="senior_job_list_right">
        <i class="senior_job_list_right_icon"></i>
         <i class="senior_job_list_right_icon2"></i>
			<div class="senior_j_c">
                <div class="senior_j_h1"><a href="{yun:}$clist.comurl{/yun}" target="_blank">{yun:}$clist.name_n{/yun}</a></div>
				<div class="senior_j_c_list">
                招聘职位：{yun:}foreach from=$clist.jobs key=key item=jlist{/yun}{yun:}if $key>0{/yun},{yun:}/if{/yun}<a href="{yun:}$jlist.joburl{/yun}" target="_blank">{yun:}$jlist.name_n{/yun}</a>{yun:}/foreach{/yun} 
                </div>
			</div>
         <div class="senior_job_zt"> 
         <span class="fl">共{yun:}$clist.jobnum{/yun}个在招职位</span><a href="{yun:}url m=company c=show id='`$clist.uid`'{/yun}#job" target="_blank" class="fr">更多>></a></div>
	 </div>
 	</div>
    {yun:}/specialcom{/yun} 
</div>
</div>
</div>

<style>
.foot{ margin-top:0px;}
</style>
{yun:}include file="$tplstyle/footer.htm"{/yun}
