<!--foot  start-->
{yun:}desc assign_name=desc{/yun}
<div class="clear"></div>
<div class="footer">
  <div class="foot">
    <div class="foot_conent">
    <div class="footer_tel">
    <div class="footer_help_tel">
            <i class="footer_icon_hf"></i>
            <p>{yun:}$config.sy_webname{/yun}客服热线</p>
            <p class="footer_help_tel_num">{yun:}$config.sy_freewebtel{/yun}</p>
        </div>  
    
    </div>
      <div class="footer_left"> 
	  {yun:}foreach item=desclist from=$desc{/yun}
        <dl class="footer_list">
          <dt>{yun:}$desclist.name{/yun}</dt>
          <dd>
            <ul>
              {yun:}foreach item=lit from=$desclist.list{/yun}
              <li><a  href="{yun:}$lit.url{/yun}">{yun:}$lit.name{/yun}</a></li>
              {yun:}/foreach{/yun}
            </ul>
          <dd>
        </dl>
        {yun:}/foreach{/yun} 
		</div>
        
   
      <div class="footer_wx"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_wx_qcode{/yun}"  width="120" height="120"><div class="footer_wx_p">官方微信</div></div>
    </div>
    <div class="clear"></div>
    <div class="footer_bot">
      <div class="footer_bot_p">{yun:}$config.sy_webcopyright{/yun}{yun:}$config.sy_webrecord{/yun} </div>
      <div class="footer_bot_p">	地址:{yun:}$config.sy_webadd{/yun}  电话(Tel):{yun:}$config.sy_webtel{/yun}  EMAIL:{yun:}$config.sy_webemail{/yun}</div>
      <div class="footer_img"> 
      <a href="/"><img alt="" src="{yun:}$style{/yun}/images/ftImg01.png" width="120" height="52"> </a> 
      <a href="/"><img alt="" src="{yun:}$style{/yun}/images/ftImg02.png" width="120" height="52"> </a> 
      <a href="/"><img alt="" src="{yun:}$style{/yun}/images/ftImg03.png" width="120" height="52"> </a> 
	  {yun:}$config.sy_webtongji{/yun}
      </div>
    </div>
  </div>
</div>
<!--foot  end--> 

<div id="bg" style=""></div>
<div id="uclogin" class="none"></div>
<script>var integral_pricename='{yun:}$config.integral_pricename{/yun}';var weburl="{yun:}$config.sy_weburl{/yun}"; </script>
{yun:}baidu{/yun}

</body>
</html>