@charset "utf-8";
/* CSS Document */
*{outline: none; }
html,body{height:100%; margin:0; padding:0;}
body{margin:0;padding:0; font:12px 微软雅黑,宋体; color:#333;word-wrap:break-word;}
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, button, input, textarea, th, td {margin:0; padding:0;}
img{border:none;}
ul{margin:0;padding:0; list-style:none;}
em{ font-style:normal;}
a{ text-decoration:none;}
.dn{ display:none;}
.db{display:block;}
.fl{float:left}
.fr{float:right;}
.f24{ font-size:24px;}
.f20{ font-size:20px;}
.f18{ font-size:18px;}
.f16{ font-size:16px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.c6{ color:#666;}
.c9{ color:#999;}
.ls{ color:#39c;}
.b9{ color:#b9b9b9;}
.c45{ color:#456dab;}
.fa{ color:#fa9325;}
.clear{ clear:both;height: 0; line-height:0px;}
.wrap{ margin:0 auto; width:980px;}
/*company5*/
/*header头部*/
.c_header{ width:100%; min-height:524px; margin:0 auto; position:relative;}
.c_header_beijing{ background:#000; width:100%; height:79px; position:absolute; top:0px; left:0px; opacity:0.3; -moz-opacity:0.3;}
.c_header_top{ width:980px; height:79px; position:absolute; top:0px; z-index:100;}
.c_top_logo{width:132px; padding-top:23px;}
.c_logo_ba{ border-right:1px solid #9ab6c1;}
.c_top_daoh ul{}
.c_top_daoh ul li{ float:left; font-size:16px; height:79px; line-height:79px; padding:0px 20px 0px 19px; *padding:0px 18px 0px 17px; font-weight:bold;}
.c_top_daoh ul li.c_currer{ background:url(../images/li_bg.png) repeat;}
.c_top_daoh ul li a{color:#fff; display:inline-block;}
.c_dibu_neron{ margin-top:86px;}
/*内容content*/
.c_content{ background:#fff;}
.c_content_bao{ padding-top:26px;}
.c_content_about{ width:100%; padding-bottom:13px;}
.c_about_tit{ font-size:14px; color:#666; background:url(../images/c_xian.png) repeat-x center; line-height:26px; position:relative;}
.c_about_tit i{ width:9px; height:9px; margin-right:9px; background:url(../images/c_dian.png) no-repeat; position:absolute; left:0px; top:9px; display:inline-block;}
.c_about_tit span{ width:69px; display:inline-block; background:#fff; text-align:center; margin-left:18px;}
.c_about_nr{ width:100%; font-size:12px; color:#666; line-height:25px; padding-top:10px}
.c_content_recru{}
.c_recru_list{ padding-top:20px;}
.c_recru_list ul li{ float:left; width:270px; height:53px; background:#f9f9f9; padding:13px 22px 0px 13px;}
.c_recru_list ul li a{ cursor:pointer; display:inline-block;}
.c_recru_list ul li.c_list_curre{ background:#8cdaf7;}
.c_recru_list ul li.c_list_curre span{ color:#fff;}
.c_recru_list ul li.c_list_curre em{ color:#fff;}
.c_recru_list ul li.n_list_end{ text-align:center;}
.c_list_bt{ width:100%;}
.c_list_bt span{ color:#457e93;}
.c_list_bt em{ color:#b0b0b0;}
.c_list_nr{ width:100%; color:#666; padding-top:8px;}
.c_list_more{ color:#a0a1a1;}
.c_content_envir{ padding-bottom:10px;}
.c_envir_pic{ padding-top:20px;}
.c_envir_pic ul li{ float:left; width:180px;}
.c_chat_ly{ height:115px; padding-top:14px; border-bottom:1px dashed #dddbdb;}
.c_chat_pictur{ width:94px; padding-left:20px; padding-top:5px;}
.c_pictur_bk{ width:70px; height:85px; border:1px solid #edeaea;}
.c_chat_cont{ width:848px; padding-right:18px; line-height:25px;}
.c_cont_name{ width:100%;}
.c_cont_name a{ color:#3399cc;}
.c_cont_name a:hover{ color:#0CF;}
.c_cont_name em{ color:#999;}
.c_cont_hf em{ color:#ff9933;}
.c_cont_pl{ width:100%;} 
.c_cont_hf{ width:100%; text-indent:3em;}
.c_cont_cy{ text-align:right; clear:both; width:100%;}
.c_cont_cy a{ display:inline-block; width:48px; padding-left:29px; background:url(../images/c_hf.png) no-repeat left center;}
.c_cont_cy a:hover{ color:#39c;}
.c_content_fb{ padding-top:9px;}
.c_fb_area{ width:955px; min-height:114px; border:1px solid #e7e7e7; _height:114px; padding:10px;}
.c_fb_button{ width:105px; height:29px; line-height:29px; border:medium none; background:#3ca2e3; color:#fff; text-align:center; margin-top:9px; cursor:pointer;}
.c_fb_button:hover{ background:#09C;}
/*底部footer*/
.c_footer{ height:68px; border-top:1px solid #a7a7a7; margin-top:23px; padding-top:23px; text-align:center; line-height:22px;}
.c_footer01{ height:65px; border-top:4px solid #18589a;}
/*company4*/
/*header头部*/
.c_q_header{ width:100%;  border-bottom:1px solid #ebeaea; box-shadow:3px 3px 3px #ebeaea; background:#fff;}
.c_head_tou{ width:100%; position:relative;}
.com_ans{ position:absolute; background:url(../images/com_anw.png) no-repeat; width:189px; height:74px; top:10px; right:0; color:#fff;}
.com_ans_tp{width:100%; float:left; text-align:center; font-size:24px; line-height:40px;}
.com_ans_tex{width:100%;float:left; text-align:center;font-size:14px;}
.c_tou_logo{ padding-top:10px; padding-bottom:10px;}
.c_tou_delu{ line-height:64px;}
.c_tou_delu span{ padding:0px 14px 0px 12px;}
.c_tou_delu a{ color:#456dab;}
.c_tou_delu a:hover{ color:#39c;}
.c_tou_delu a.c_tou_qiuz{ font-weight:bold; padding-right:22px;}
.c_tou_delu a.c_tou_qy{font-weight:bold;}
.wrap_l_name{ float:left; padding-left:20px; padding-top:20px;}
.wrap_l_name_n{ font-size:18px;}
.wrap_l_name_gz{ display:inline-block;width:65px;height:28px; text-align:center; line-height:28px; background:#093;color:#fff;  margin-right:10px;}
.wrap_l_name_gz:hover{color:#fff}
.wrap_l_name_p{ padding-top:10px;}
.wrap_l_name_p_line{ font-size:12px;color:#999; padding:0px 10px;}
.com_nav{width:100%; background:#444; float:left}
.com_nav ul li{width:110px;height:40px; line-height:40px;float:left; text-align:center; font-size:16px;}
.com_nav ul li a{color:#fff;}
.com_nav ul .com_nav_cur{ background:#1499E5}
/*content内容*/
.c_q_content{ width:100%;}
.c_q_cont{ width:100%; padding-top:17px;}
.c_cont_ban{ height:300px;}
.c_info_bao{  padding-bottom:54px; background:#fff;}
.c_cont_info{ background:#fbfbfb; border-bottom:1px solid #eee;}
.c_info_logo{ padding-left:20px;}
.c_info_logo span{ width:185px; height:75px; display:inline-block; border:2px solid #efecec; margin-top:10px;}
.c_info_ner{ width:545px; padding-left:18px;}
.c_ner_mc{ font-size:18px; font-weight:600;}
.c_ner_mc a{ color:#335383;}
.c_ner_mc a:hover{ color:#39c;}
.c_ner_dt{ color:#515253; font-size:16px; padding-top:13px; *padding-top:9px;}
.c_ner_dt span.c_dt_tb01{ width:16px; height:14px; display:inline-block; background:url(../images/c_icon01.png) no-repeat; margin-left:14px;}
.c_ner_dt span.c_dt_tb02{ width:12px; height:14px; display:inline-block; background:url(../images/c_icon02.png) no-repeat;}
.c_ner_js{ color:#afb0b0; margin-top:8px;}
.c_ner_js span{ width:10px; height:10px; display:inline-block;}
.c_ner_js .c_js_dh01{ background:url(../images/c_icon03.png) no-repeat; margin-right:6px;}
.c_ner_js .c_js_dh02{background:url(../images/c_icon04.png) no-repeat}
.c_info_fuli{ padding-top:8px; _padding-top:4px;}
.c_info_fuli span{ width:68px; height:26px; line-height:26px; text-align:center; display:inline-block; border:1px solid #d9d9d9; margin-right:11px; margin-bottom:7px; color:#666;}
.c_info_gz{ width:98px; height:31px; border:1px solid #eeeeef; border-right:none; line-height:31px; font-size:13px; background:url(../images/c_jgz.png) no-repeat 14px center;}
.c_info_gz a{ color:#456dab; padding-left:37px;}
.c_info_gz a:hover{ color:#39c;}
.c_jianjie_right{ padding-top:23px; width:270px;}
.c_cont_jianjie{ padding-left:18px; padding-right:20px;}
.c_jianjie_left{ width:634px;}
.c_left_st{ padding-top:18px; padding-bottom:10px;}
.c_left_gs{ padding-left:14px; background:url(../images/c_tb03.png) no-repeat left; line-height:35px; color:#335383; font-size:16px; font-weight:bold}
.c_left_nr{ color:#666; line-height:30px; font-size:14px;}
.c_left_zhiwei{}
.c_left_zhaop{ padding-top:8px;}
.c_left_zhaop ul li{ width:602px; height:71px; background:#fbfbfb; padding:10px 15px 0px 16px; line-height:30px; margin-bottom:14px;}
.c_left_zhaop ul li a{cursor:pointer;  }
.c_left_zhaop ul li a:hover{text-decoration:none;}
.c_left_zhaop ul li.c_left_cure{ background:#00aadb;}
.c_left_zhaop ul li.c_left_cure span{ color:#fff;}
.c_left_zhaop ul li.c_left_cure em{ color:#fff;}
.c_zhaop_tb{ width:100%;}
.c_zhaop_tb span{ color:#456dab; font-size:14px; font-weight:bold}
.c_zhaop_tb em{ color:#c1c1c1;}
.c_zhaop_db{ width:100%; color:#666;}
.c_left_pinl{ width:630px; padding-top:30px;}
.c_zhaop_dbxinz{color:#f60; font-size:14px;}
.c_left_zhaop ul .c_left_cure .c_zhaop_dbxinz{color:#fff;}
.c_left_pinl01{ background:url(../images/c_tb04.png) repeat-y 81px center; padding-left:114px; float:left;}
.c_pinl_list{ width:477px; border:1px solid #dedede; border-radius:5px; padding:17px 14px 17px 16px; position:relative; margin:18px 0px; float:left;}
.c_pinl_time{ position:absolute; left:-114px; top:10px;}
.c_pinl_yb{ line-height:22px;}
.c_pinl_yb a{ color:#456dab;}
.c_pinl_yb a:hover{ color:#39c;}
.c_pinl_dd{ width:10px; height:10px; background:url(../images/c_quan.png) no-repeat; position:absolute; left:-38px; top:19px;}
.c_pinl_dd01{background:url(../images/c_quan01.png) no-repeat;}
.c_pinl_tb{ width:12px; height:14px; position:absolute; left:-12px; background:url(../images/c_quan03.png) no-repeat;}
.c_yb_fs{ text-align:right;}
.c_yb_fs span{ color:#456dab; padding-left:30px; background:url(../images/c_hf01.png) no-repeat left center;}
.c_yb_fs span:hover{ color:#39c;}
.c_right_nr{ width:246px;  background:#fbfbfb; padding:15px 0px 0px 21px; line-height:30px; font-size:14px; margin-bottom:15px;}
.c_nr_hy em{ width:53px; display:inline-block; color:#6699cc;}
.c_nr_hy span{ color:#666;}
.c_picture_fy a{ height:42px; line-height:42px; font-size:14px; display:inline-block; background:#fafafa;}
.c_picture_fy .c_pic01{ width:102px; color:#666; border-right:1px solid #eee; padding-left:31px;}
.c_picture_fy .c_pic02{ width:81px; color:#4f81e0; padding-left:52px;}
.c_picture_fy a:hover{ color:#4f81e0;}
/*company3*/
/*header头部*/
.c_w_header{ width:100%;}
.c_header_tou01{ width:100%; background:#18589a; height:27px; line-height:27px;}
.c_huany_xt{ color:#ededed;}
.c_huany_delu{color:#ededed;}
.c_huany_delu a{ color:#ededed;}
.c_huany_delu a:hover{ text-decoration:underline;}
.c_huany_delu span{ padding:0px 8px;}
.c_header_zj02{ line-height:91px;}
.c_header_db03{ height:401px;}
.c_logo_bao{ padding-top:29px;}
.c_zj02_logo{padding-left:3px;}
.c_zj02_list ul li{ float:left; font-size:16px; margin:0px 7px; *margin:0px 5px; }
.c_zj02_list ul li a{ color:#666;}
.c_zj02_list ul li a:hover{ color:#114d8a; text-decoration:none;}
.c_zj02_list ul .c_zj02_curr{ font-size:20px; background:url(../images/c_li_xian.png) repeat-x 0px 68px;}
.c_zj02_list ul .c_zj02_curr a{ color:#114d8a;}
.c_about_title01{ width:100%; font-size:16px; color:#114d8a; line-height:40px; border-bottom:1px solid #c9c9c9;}
.c_about_title01 em a{ color:#114d8a; font-size:12px;}
.c_about_title01 em a:hover{ color:#39f;}
.c_content_bao01{ padding-top:11px;}
.c_recru_zpzw ul{ width:478px; padding-left:11px; padding-top:10px; float:left;}
.c_recru_zpzw ul li{ line-height:25px; padding-left:10px; background:url(../images/c_xtb.png) no-repeat left center;}
.c_recru_zpzw ul li span{ color:#006699; padding-right:11px;}
.c_recru_zpzw ul li span:hover{ color:#09F;}
.c_recru_zpzw ul li em{ color:#999; padding-right:40px;}
.c_recru_zpzw ul li a:hover{ text-decoration:none;}
.com_cp_list{width:100%}
.com_cp_list dl{width:200px; float:left; margin-right:10px;}
.com_cp_list dd{width:100%;height:40px; line-height:40px; overflow:hidden}
.com_news{width:100%}
.com_news ul { padding-top:10px;}
.com_news ul li{width:300px; float:left; height:30px; line-height:30px; font-size:14px; background:url(../images/c_xtb.png) no-repeat left 13px; padding-left:13px;}

.pingl_txt{ border:1px solid #3ca2e3;}

.firm_det_link{ font-size:14px; line-height:30px; padding-bottom:10px; overflow:hidden;zoom:1; margin-top:10px;}
.firm_det_link span{ color:#a8adb1; display:inline-block;overflow:hidden;}
.firm_det_link span i{ color:#141617; font-style:normal}
.firm_det_link .firm_mes1{ width:300px;}
.firm_mes1 img{ vertical-align:middle}
.firm_det_link .firm_mes2{ width:315px;}
.firm_det_link .firm_mes2 img{ vertical-align:middle}
.firm_det_link .firm_mes3{ width:690px;_margin-right:-3px;}
.firm_tips_no{width:100%; text-align:center; padding:40px 0; font-size:16px;}.zx_yx_input{width:105px;height:33px; line-height:33px;border:1px solid #ddd; text-indent:10px; margin-right:10px;}
.affirm_yz{width:100%; float:left; margin-top:10px;}.wx_share_fx{width:122px; margin:10px auto 0px;}
.wx_share_fx_img{width:120px;height:120px;border:1px solid #ddd;}
.wx_share_fx_p{width:100%; text-align:center; padding-top:8px; font-size:14px; font-weight:bold}