<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.car_time,.car_the_time,.car_the_add,.car_the_per,.car_state');
</script>
<![endif]-->
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/yun_job_fairs.css" type="text/css">
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="zph_bannner">
     <img class="zph_banner_img" style="width:100%;height:320px;" src="{yun:}$style{/yun}/images/103.jpg"/>

       {yun:}fairs item=zphs limit=1{/yun}
     <div class="zph_bn_ct">
          <div class="zph_bn_tit">{yun:}$zphs.title{/yun}</div>
          <div class="zph_bn_tm">[ {yun:}$zphs.starttime{/yun} 至 {yun:}$zphs.endtime{/yun} ]</div>
          <div class="zph_bn_g">已有 <a href="{yun:}url m=zph c=com id=$zphs.id{/yun}">{yun:}$zphs.jobnum{/yun}</a> 个职位，共有 <a href="{yun:}url m=zph c=com id=$zphs.id{/yun}">{yun:}$zphs.comnum{/yun}</a> 家企业参会</div>
          <div class="zph_bn_bt">
            {yun:}if $zphs.stime<'0' && $zphs.etime>'0'{/yun}
              	<span class="zph_bn_bt_z">停止预定</span>
            {yun:}else{/yun}
            
             {yun:}/if{/yun}
               <a class="zph_bn_bt_z" href="{yun:}url m=zph c=show id=$zphs.id{/yun}">查看详情</a>
          </div>
          
     </div>   <div class="zph_bn_sc_bg"></div>
     <div class="zph_bn_sc">
            
               <span class="zph_bn_sy">主办方：{yun:}$zphs.organizers{/yun}</span>
               <span class="zph_bn_cy">会场地址：{yun:}$zphs.address{/yun}</span>
          </div>
     {yun:}/fairs{/yun}
     
     
</div>
<div class="yun_content">
  <div class="current_Location png"> 您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">{yun:}$config.sy_webname{/yun}</a> > <a href="{yun:}url m=zph{/yun}">招聘会 </a></div>
    
  <div class="zph_classed"><span class="zph_classed_span fl"><i class="zph_classed_span_1 yun_bg_color"></i>正在开始的招聘会</span><a href="{yun:}url m=zph c=review{/yun}" class="fr">往期回顾>></a></div>
  {yun:}fairs ispage=1 item=zph limit=10{/yun}
  <div class="career">
    <div class="career_con">
      <div class="car_time yun_bg_color_hover">
      <div>
      <i class="career_con_t_icon career_con_icon_t_left yun_bg_color_hover"></i>
      <i class="career_con_t_icon career_con_icon_t_right yun_bg_color_hover"></i>
      <i class="career_con_icon career_con_icon_left  yun_bg_color_hover"></i>
      <i class="career_con_icon career_con_icon_right  yun_bg_color_hover"></i>
      </div>
        <p>星期{yun:}$zph.week{/yun}</p>
        <div class="car_time_box">
        <div class="car_time_box_h3 yun_text_color">{yun:}$zph.starttime|date_format:"%d"{/yun}</div>
        <span>{yun:}$zph.starttime|date_format:"%Y年%m月"{/yun}</span>
        </div>
         </div>
      <div class="car_theme">
        <h2><a href="{yun:}url m=zph c=show id='`$zph.id`'{/yun}" class="title{yun:}$zph.id{/yun} yun_text_color">{yun:}$zph.title{/yun}</a></h2>
        <dl>
          <dt class="car_the_time">举办时间：</dt>
          <dd>{yun:}$zph.starttime{/yun}至{yun:}$zph.endtime{/yun}</dd>
        </dl>
        <dl>
          <dt class="car_the_add">会场地址：</dt>
          <dd>{yun:}$zph.address{/yun}</dd>
        </dl>
        <dl>
          <dt class="car_the_per">主&nbsp;办&nbsp; 方：</dt>
          <dd>{yun:}$zph.organizers{/yun}</dd>
        </dl>
      </div>
      <div class="car_order">
          <div class="car_order_con">
              {yun:}if $zph.stime<'0' && $zph.etime>'0'{/yun}
              	<span class="car_ord_orded">停止预定</span>
              {yun:}else{/yun}

              {yun:}/if{/yun}
              <a href="{yun:}url m=zph c=com id=$zph.id{/yun}" class="car_ord_co">参会企业</a>
              <a href="{yun:}url m=zph c=show id=$zph.id{/yun}" class="car_ord_det">查看详情</a>
          </div>
        {yun:}if $zph.stime<'0' && $zph.etime>'0'{/yun}
        	<p>共有<i>{yun:}$zph.comnum{/yun}</i>家企业参会，共有<i>{yun:}$zph.jobnum{/yun}</i>个职位</p>	
        {yun:}else{/yun}
        	<p>已有<i>{yun:}$zph.comnum{/yun}</i>家企业参会，已有<i>{yun:}$zph.jobnum{/yun}</i>个职位，正在增加中……</p>
        {yun:}/if{/yun} </div>
    </div>
    {yun:}if $zph.stime<'0' && $zph.etime>'0'{/yun}
    	<div class="car_state car_stateed"></div>
    {yun:}else{/yun}
    	<div class="car_state"></div>
    {yun:}/if{/yun} </div>
  {yun:}/fairs{/yun}

{yun:}if !$total{/yun} 
<div class="seachno" style="border:1px solid #ddd;width:998px;">
        <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif"></div>
        <div class="listno-content" style="margin-top:20px;"> <strong>很抱歉，还没有发布招聘会的相关信息</strong><br>
        
	 </div>
</div>
{yun:}else{/yun}

</div>


<div class="clear"></div>
<div class="search_pages">
  <div class="pages">{yun:}$pagenav{/yun}</div>
</div>
{yun:}/if{/yun}
  </div>  
{yun:}include file="$tplstyle/footer.htm"{/yun}
{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 