<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<meta name=keywords content="{yun:}$keywords{/yun}" />
<meta name=description content="{yun:}$description{/yun}" />
<link rel="stylesheet" href="{yun:}$com_style{/yun}images/blus.css" type="text/css" />
<link rel="stylesheet" href="{yun:}$com_style{/yun}/images/style.css" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script> var weburl = "{yun:}$config.sy_weburl{/yun}"</script>
<script type="text/javascript">
//回到顶部
	$(function(){
		showScroll();
		function showScroll(){
			$(window).scroll( function() { 
				var scrollValue=$(window).scrollTop();
				scrollValue > 100 ? $('div[class=scroll]').fadeIn():$('div[class=scroll]').fadeOut();
			} );	
			$('#scroll').click(function(){
				$("html,body").animate({scrollTop:0},200);	
			});	
		}
	})
</script>
<style>
.scroll{width:80px;height:80px;background:#f7f7f7;color:#999;line-height:80px;text-align:center;position:fixed;right:30px;bottom:50px;cursor:pointer;font-size:14px;border:1px solid #ddd;}
.scroll dl dd{line-height:30px;}
.scroll dl dt{padding-top:20px;}
</style>
</head>
<body bgcolor="f7f7f7">
      <!--返回顶部-->
     <div class="scroll none" id="scroll">
		 <dl>
             <dt><img src="{yun:}$com_style{/yun}images/uppp.png"/></dt>
         
             <dd>回到顶部</dd>
         </dl>
	</div>
<!--header头部-->
<div class="c_q_header">
  <div class="wrap">
    <div class="c_head_tou">
    <div class="com_ans"><span class="com_ans_tp">{yun:}$pre{/yun}%</span><span class="com_ans_tex">两周内简历回复率</span></div>
      <div class="c_tou_logo fl"> <span>{yun:}if $com.logo{/yun}<img src="{yun:}$com.logo{/yun}" width="185" height="75" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" />{yun:}else{/yun}<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="185" height="75" />{yun:}/if{/yun}</span> </div>
      <div class="wrap_l_name">
      
       <h1 class="wrap_l_name_n" style="display:inline-block">{yun:}$com.name{/yun}</h1>
      {yun:}if $com.email_status=="1"{/yun} 
      <img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="邮箱未认证" title="邮箱已认证" class="png" /> 
      {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="邮箱未认证" title="邮箱未认证" class="png" />     {yun:}/if{/yun}
        {yun:}if $com.moblie_status=="1"{/yun} 
        <img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="手机未认证" title="手机已认证" class="png" /> 
        {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="手机未认证" title="手机未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.yyzz_status=="1"{/yun} 
        <img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="执照未认证" title="执照已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="执照未认证" title="执照未认证" class="png" /> 
        {yun:}/if{/yun}
        {yun:}if $ComMember.source==6 && $ComMember.claim==0 && $ComMember.email!=""{/yun}
        <a href="javascript:claim('{yun:}url m=ajax c=claim uid=$com.uid{/yun}');">认领</a>
        {yun:}/if{/yun}
        <div class="wrap_l_name_p"> {yun:}if $usertype=='1'{/yun}
          {yun:}if $isatn.id{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">取消关注</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">关注</a> {yun:}/if{/yun}
          {yun:}else{/yun} 
            {yun:}if $uid{/yun}
            <a href="javascript:void(0)" onclick="layer.msg('只有个人用户才能关注', 2,8)" class="wrap_l_name_gz">关注</a> 
            {yun:}else{/yun}
            <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">关注</a> 
            {yun:}/if{/yun} 
          {yun:}/if{/yun}
          已有<font id="antnum{yun:}$com.uid{/yun}">{yun:}$com.ant_num{/yun}</font>人关注 </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--头部结束-->
<div class="clear"></div>
<!--内容content-->
<div class="c_q_content">
  <div class="wrap">
    <div class="c_q_cont">
      <div class="c_cont_ban"><img src="{yun:}$banner.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_banner{/yun}',2);"  width="980" height="300" /></div>
      <div class="c_info_bao">
        <div class="c_cont_info">
          <div class="com_nav">
            <ul>
              <li class="com_nav_cur"><a href="#about">关于我们</a></li>
              <li><a href="#contact">联系方式</a></li>
              <li><a href="#job">招聘职位</a></li>
              <li><a href="#pl">评论留言</a></li>
              <li><a href="#show">企业环境</a></li>
              <li><a href="#news">企业新闻</a></li>
              <li><a href="#news">产品展示</a></li>
              <li><a href="{yun:}$config.sy_weburl{/yun}">人才网首页</a></li>
            </ul>
          </div>
        </div>
        <div class="c_cont_jianjie">
          <div class="c_jianjie_left fl">
            <div class="c_left_st" id="about">
              <div class="c_left_gs">企业简介</div>
              <div class="c_left_nr">{yun:}$com.content{/yun}</div>
            </div> 
		  
		  <div class="c_left_st" id="contact" data-slide='2'>
			<div class="c_left_gs"><span>联系方式</span></div>
		  {yun:}if $looktype=="1" || $look_msg!=""{/yun}
		  <div class="firm_login">
			<div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span> {yun:}if $looktype=="1"{/yun} 
			<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect" class="firm_login_zc">创建简历</a> {yun:}elseif $looktype=="2"{/yun} <a class="firm_login_dl" href="javascript:void(0);" onclick="showlogin('1');">立即登陆</a> <a class="firm_login_zc" href="{yun:}url m=register{/yun}">立即注册</a> {yun:}elseif $looktype=="3"{/yun}{yun:}/if{/yun} </div>
		  </div>
		  {yun:}else{/yun}
			<div class="firm_det_link"> 
      {yun:}if $com.linkman{/yun}<span class="firm_mes1">联 &nbsp;系&nbsp;人：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkman{/yun}</em> </i></span>{yun:}/if{/yun}
      {yun:}if $com.linkjob{/yun}<span class="firm_mes1">联系人职位：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkjob{/yun}</em> </i></span>{yun:}/if{/yun}
    {yun:}if $com.linkphone{/yun} <span class="firm_mes1">固定电话：<i>{yun:}$com.linkphone{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linktel{/yun} <span class="firm_mes1">联系电话：<i> <em class="JoB_material_right JoB_material_line">{yun:}image uid=$com.uid action=linktel{/yun}</em> </i></span> {yun:}/if{/yun}
          {yun:}if $com.linkmail{/yun} <span class="firm_mes1">联系邮件：<i>{yun:}$com.linkmail{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linkqq{/yun} <span class="firm_mes1">联 系 QQ：<i>{yun:}$com.linkqq{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.zip{/yun} <span class="firm_mes1">邮政编码：<i>{yun:}$com.zip{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.website{/yun} <span class="firm_mes1">企业网址：<i>{yun:}$com.website{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.busstops{/yun} <span class="firm_mes1" style="width:100%;">公交站点：<i>{yun:}$com.busstops{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.address{/yun} <span class="firm_mes1" style="width:100%;">公司地址：<i>{yun:}$com.address{/yun}</i></span> {yun:}/if{/yun}  </div>
          {yun:}/if{/yun}
      </div>
			<div class="c_left_zhiwei" id="job">
              <div class="c_left_gs">招聘职位<span class="f13 b9">（共有{yun:}$num{/yun}个职位正在招聘）</span></div>
              <div class="c_left_zhaop">
                <ul>
                  {yun:}joblist ispage=1 limit=10 item=joblist uid='auto.id'{/yun}
                  <li id="y{yun:}$joblist.id{/yun}" aid="{yun:}$joblist.id{/yun}"> <a href="{yun:}$joblist.job_url{/yun}">
                    <div class="c_zhaop_tb fl"><span class="fl">{yun:}$joblist.name{/yun}</span><em class="fr">{yun:}$joblist.lastupdate|date_format:"%Y-%m-%d"{/yun}</em></div>
                    <div class="c_zhaop_db"><span>薪资：<em class="c_zhaop_dbxinz">{yun:}$joblist.job_salary{/yun}</em> / 学历：{yun:}$joblist.job_edu{/yun} / 经验：{yun:}$joblist.job_exp{/yun} / 所在地：{yun:}$joblist.job_city_two{/yun}</span></div>
                    </a> </li>
                  {yun:}/joblist{/yun}
                </ul>
                {yun:}if $pagenav{/yun}
                <div class="pages"> <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}if $smarty.get.page{/yun}{yun:}$smarty.get.page{/yun}{yun:}else{/yun}1{yun:}/if{/yun}','10','1');">上一页</a> <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}if $smarty.get.page{/yun}{yun:}$smarty.get.page{/yun}{yun:}else{/yun}1{yun:}/if{/yun}','10','2');">下一页</a></div>
                {yun:}/if{/yun}
              </div>
              {yun:}if $num==0{/yun}
                <div class="firm_tips_no"> 该企业还没有发布职位信息!</div>
               {yun:}/if{/yun} 
            </div> 
            <div class="c_left_chat">
              <div class="c_left_gs" id="pl">评论留言</div>
              <div class="c_left_pinl">
                <div class="c_left_pinl01"> 
				{yun:}if $msglist{/yun}
                  {yun:}foreach item=v from=$msglist{/yun}
                  <div class="c_pinl_list">
                    <div class="c_pinl_time">{yun:}$v.ctime|date_format:"%Y-%m-%d"{/yun}</div>
                    <div class="c_pinl_dd c_pinl_dd01"></div>
                    <div class="c_pinl_tb"></div>
                    <div class="c_pinl_yb">
                      <div class="c_yb_wx c6"><em class="c45">{yun:}if $v.name!=""{/yun}{yun:}$v.name{/yun}{yun:}else{/yun}匿名{yun:}/if{/yun}：</em>{yun:}$v.content{/yun}</div>
                      {yun:}if $v.reply!=""{/yun}
                      <div class="c_yb_hf c6"><em class="fa">企业回复：</em><span class="c45">@{yun:}$v.name{/yun}</span> {yun:}$v.reply{/yun}</div>
                      {yun:}/if{/yun} </div>
                  </div>
                  {yun:}/foreach{/yun}
              {yun:}if $msg_num{/yun}
              <div style="float:right; padding-bottom:20px;"> 该企业共有{yun:}$msg_num{/yun}条评论，<a href="{yun:}url m=company c=msg id=$id{/yun}" style="color:#F30">点击查看全部>></a> </div>
              {yun:}/if{/yun}
                  {yun:}else{/yun}
                  <div class="com_index_pl" style="font-size:14px; padding:10px 0; font-size:14px;color:#666">还未有人评论过该企业，赶快来评论一下吧！！</div>
                  {yun:}/if{/yun}
                  
                  {yun:}if $usertype==1{/yun}
                  <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" class="none"></iframe>
                  <form action="{yun:}url m=company c=compl id='`$com.uid`'{/yun}" target="supportiframe" method="post" onsubmit="return check_pl();">
                    <input type="hidden" name="id" value="{yun:}$id{/yun}" />
                    <textarea id="content" name="content" style="width:500px;height:100px;" class="pingl_txt"></textarea>
		<div class="affirm affirm_yz"> 
			<input class="zx_yx_input fl" id="msg_CheckCode" type="text"  placeholder="请输入验证码" value="" maxlength="4" name="authcode" >
			<img  class="fl" id="vcode_imgs" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" onclick="check_codes();">
		</div>
                    <input class="c_fb_button" type="submit" name="submit" value="提交评论" />
                  </form>
                  {yun:}else{/yun}
                    <div class="Job_ask_bg_login">
                    {yun:}if $uid{/yun}
                   <div style="font-size:14px; padding:10px 0; font-size:14px;color:#F30"> 只有个人用户才可以评论</div>
                    {yun:}else{/yun}
                    您还没有登录，请先【<a href="javascript:void(0);" onclick="showlogin('1');">登陆</a>】
                    {yun:}/if{/yun}
                    </div>
                  {yun:}/if{/yun} </div>
              </div>
            </div>
            <div style="clear:both"></div>
            <div class="c_left_st">
              <div class="c_left_gs" id="news">企业新闻</div>
              <div class="com_news"> {yun:}if !empty($NewsList){/yun}
                <ul class="">
                  {yun:}foreach from=$NewsList item=news{/yun}
                  <li><a href="{yun:}url m=company c=newsshow id=$com.uid nid=$news.id style=$smarty.get.style{/yun}">{yun:}$news.title|mb_substr:0:17:gbk{/yun} </a></li>
                  {yun:}/foreach{/yun}
                </ul>
                {yun:}else{/yun}
                   <div class="firm_tips_no"> 该企业还没有发布企业新闻!</div>
                {yun:}/if{/yun} </div>
            </div>
            <div style="clear:both"></div>
            <div class="c_left_st">
              <div class="c_left_gs" id="product">产品展示</div>
              <div class="com_cp_list"> {yun:}if !empty($ProductList){/yun}
                {yun:}foreach from=$ProductList item=productlist{/yun}
                <dl>
                  <dt><a href="{yun:}url m=company c=productshow id=$com.uid pid=$productlist.id style=$smarty.get.style{/yun}"><img src="{yun:}formatpicurl path=$productlist.pic{/yun}" width="200" height="140" /></a></dt>
                  <dd><a href="{yun:}url m=company c=productshow id=$com.uid pid=$productlist.id style=$smarty.get.style{/yun}">{yun:}$productlist.title{/yun}</a></dd>
                </dl>
                {yun:}/foreach{/yun}
                {yun:}else{/yun}
                  <div class="firm_tips_no"> 该企业还没有发布产品信息!</div>
                {yun:}/if{/yun} </div>
            </div>
          </div>
          <div class="c_jianjie_right fr">
            <div class="c_right_nr">
              <div class="c_nr_hy"><em>行业</em><span>{yun:}$com.hy_info{/yun}</span></div>
              <div class="c_nr_hy"><em>性质</em><span>{yun:}$com.pr_info{/yun}</span></div>
              <div class="c_nr_hy"><em>规模</em><span>{yun:}$com.mun_info{/yun}</span></div>
              <div class="c_nr_hy"><em>地区</em><span>{yun:}$com.provinceid{/yun}</span></div>
          {yun:}if $com.money{/yun}<div class="c_nr_hy"><em>注资</em>{yun:}$com.money{/yun}万</div>{yun:}/if{/yun}
          {yun:}if $com.sdate{/yun}<div class="c_nr_hy"><em>创办</em>{yun:}$com.sdate{/yun}</div>{yun:}/if{/yun}
          
            </div>
              <div style="width:265px;border:1px solid #eee; margin-top:10px; padding-bottom:10px;">
         <div class="wx_share_fx">
        <div class="wx_share_fx_img"><img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="120" height="120"></div>
        <div class="wx_share_fx_p">分享到朋友圈</div>
        </div>
        </div>
            <div class="c_right_pictur" id="show"> {yun:}show{/yun}
              {yun:}if !empty($show){/yun}
              <div class="infopicBg">
                <div class="info_pic">
                  <ul class="piclist" style="width: 4320px; left: 0px;" id="showlist">
                    {yun:}foreach from=$show key=key item=row{/yun}
                    <li><a class="image_gall" href="{yun:}$config.sy_weburl{/yun}/{yun:}$row.picurl{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$row.picurl{/yun}" width="270" height="200" title="{yun:}$row.title{/yun}"/></a></li>
                    {yun:}/foreach{/yun}
                  </ul>
                </div>
                <div class="newMainpicBg">
                  <div class="pic_prev"></div>
                  <div class="pic_next"></div>
                </div>
              </div>
              {yun:}/if{/yun} </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div> 
<script type="text/javascript">
function page(id,page,limit,updown){
   	if(page<1){
   		page==1;
   	}
	$.ajax({
		type: "POST",
        global: false,
        url :"{yun:}url m=company c=prestr{/yun}",
		data:{id:id,page:page,limit:limit,updown:updown},
		success :function(data){
			var data=eval("("+data+")");
			window.location.href=data.url;
			
		}
	});
}
$(document).ready(function () {
	$(".c_left_zhaop").find("li").hover(function () {
		var aid = $(this).attr("aid");
		$("#y" + aid).addClass("c_left_cure");
	}, function () {
		var aid = $(this).attr("aid");
		$("#y" + aid).removeClass("c_left_cure");
	});
}); 
	var num = document.getElementById("showlist").getElementsByTagName("li").length;
	var width = 270 * num;
	$('.pic_prev').click(function () {
		var ml = parseInt($('.piclist').css('left'));
		if (ml < 0 && (ml % 270) == 0) {
			$('.piclist').animate({ left: ml + 270 + 'px' }, 'slow');
		}
	});
	$('.pic_next').click(function () {
		var ml = parseInt($('.piclist').css('left'));

		if (width + ml > 270 && (ml % 270) == 0) {
			$('.piclist').animate({ left: ml - 270 + 'px' }, 'slow');
		}
	});
	$(function () {
		$('.com_nav li').click(function () {
			$(this).addClass('com_nav_cur').siblings().removeClass('com_nav_cur');
		});
	});
</script> 
<!--内容结束-->
<div class="clear"></div>
<!--底部footer--> 
    <link rel="stylesheet" href="{yun:}$style{/yun}/style/popImage.css" type="text/css" />
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery.popImage.mini.js" language="javascript"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("a.image_gall").popImage();
        })
    </script>  
{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 
{yun:}include file="$tplstyle/footer.htm"{/yun} 