<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>{yun:}$title{/yun}</title>
    <meta name=keywords content="{yun:}$keywords{/yun}" />
    <meta name=description content="{yun:}$description{/yun}" />
    <link rel="stylesheet" href="{yun:}$com_style{/yun}images/blus.css" type="text/css" />
    <link rel="stylesheet" href="{yun:}$com_style{/yun}/images/style.css" type="text/css" />
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
    <script> var weburl = "{yun:}$config.sy_weburl{/yun}"</script>
</head>
<body bgcolor="f7f7f7">
    <!--header头部-->
    <div class="c_q_header">
        <div class="wrap">
            <div class="c_head_tou">
                <div class="c_tou_logo fl">
                    <span>{yun:}if $com.logo{/yun}<img src="{yun:}$com.logo{/yun}" width="185" height="75" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" />{yun:}else{/yun}<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="185" height="75" />{yun:}/if{/yun}</span>
                </div>
                <div class="wrap_l_name">
                    <span class="wrap_l_name_n">{yun:}$com.name{/yun}</span>
                    {yun:}if $com.email_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="邮箱未认证" title="邮箱已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="邮箱未认证" title="邮箱未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.moblie_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="手机未认证" title="手机已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="手机未认证" title="手机未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.yyzz_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="执照未认证" title="执照已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="执照未认证" title="执照未认证" class="png" /> {yun:}/if{/yun}
        <div class="wrap_l_name_p"> {yun:}if $usertype=='1'{/yun}
          {yun:}if $isatn.id{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">取消关注</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">关注</a> {yun:}/if{/yun}
          {yun:}else{/yun}
            {yun:}if $uid{/yun}
            <a href="javascript:void(0)" onclick="layer.msg('只有个人用户才能关注', 2, 3)" class="wrap_l_name_gz">关注</a> 
            {yun:}else{/yun}
            <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">关注</a> 
            {yun:}/if{/yun} 
          {yun:}/if{/yun}
          已有<span id="antnum{yun:}$com.uid{/yun}">{yun:}$com.ant_num{/yun}</span>人关注 </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--头部结束-->
    <div class="clear"></div>
    <!--内容content-->
    <div class="c_q_content">
        <div class="wrap">
            <div class="c_q_cont">
                <div class="c_cont_ban"><img src="{yun:}$banner.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_banner{/yun}',2);" width="980" height="300" /></div>
                <div class="c_info_bao">
                    <div class="c_cont_info">
                        <div class="com_nav">
                            <ul>
                                <li class="com_nav_cur"><a href="{yun:}url m=company c=show id=$com.uid{/yun}#about">关于我们</a></li>
                                <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}#job">招聘职位</a></li>
                                <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}#pl">评论留言</a></li>
                                <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}#show">企业环境</a></li>
                                <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}#news">企业新闻</a></li>
                                <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}#news">产品展示</a></li>
                                <li><a href="{yun:}$config.sy_weburl{/yun}">人才网首页</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="c_cont_jianjie">
                        <div class="c_jianjie_left fl" style="width:100%">
                            <div class="c_left_st">
                                <div class="c_left_gs">产品展示</div>
                                <div class="blue_p_h1">{yun:}$ProductInfo.title{/yun}</div>
                                <div class="firm_det_con"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$ProductInfo.pic{/yun}" width="300" /></div>
                                <div class="c_left_nr">{yun:}$ProductInfo.body{/yun}</div>
                            </div>                            
                        </div>
                      
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div> 
    <!--内容结束-->
    <div class="clear"></div>
    <!--底部footer-->
    {yun:}include file="$tplstyle/footer.htm"{/yun}
    {yun:}include file="$tplstyle/public_search/login.htm"{/yun} 