{yun:}include file="$wapstyle/header_cont.htm"{/yun} 

  <div class="ask_header_bg">
    <div class="ask_search_box">
      <div class="ask_search_ct">
        <form name="myform" method="get" action="index.php">
          <input type="hidden" name="c" value="ask"/>          
          <input type="hidden" name="a" value="list"/>          
          <input type="text" value="{yun:}$smarty.get.keyword{/yun}" name="keyword" id="keyword" class="ask_search_text" placeholder="请输入关键字">
          <input type="submit" value="" class="ask_search_bth">
        </form>
        <i class="ask_search_icon"></i> </div>
    </div>
  </div>

  <div class="ask_msg">
    <ul class="ask_msg_up">
      {yun:}qcache limit=6 son=1 item=qindex{/yun}
      <li> <a href="{yun:}url m=wap c=ask a=topic pid='`$qindex.id`'{/yun}">
        <h3>{yun:}$qindex.name{/yun}</h3>
        <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$qindex.pic{/yun}" /></a></li>
      {yun:}/qcache{/yun}
    </ul>
  </div>

<div class="ask_nav_bg" style="border-bottom:1px solid #ccc;margin-top:10px;">
    <div class="ask_nav_ht fl"><a href="{yun:}url m=wap c=ask a=topic {/yun}">话题</a></div>
    <div class="ask_nav_rd fl"><a href="{yun:}url m=wap c=ask a=hotweek {/yun}">一周热点</a></div>
</div>
<div class="ask_nav_bg">
    <div class="ask_nav_ht fl"><a href="{yun:}url m=wap c=ask a=friend {/yun}">我的主页</a></div>
    <div class="ask_nav_rd fl"><a href="{yun:}url m=wap c=ask a=addquestion {/yun}">我要提问</a></div>
</div>
  <div class="ask_banner">{yun:}ad cid=69 id=253{/yun}</div>

<div class="ask_ct" id="fontshow">
    <div class="ask_ct_top">
      <div class="ask_ct_top_icon"></div>
      <div class="ask_ct_top_ft">最新问题</div>
      <div class="ask_ct_top_rt"><a href="{yun:}url m=wap c=ask a=list{/yun}">更多 &gt;&gt;</a></div>
    </div>
  
    {yun:}qlist item=list name=list keyword='auto.keyword' ispage=1 t_len=20  limit=10{/yun}
    <div class="ask_ct_list">
      <div class="ask_ct_list_tit">
        <div class="ask_ct_list_tit_ft"><a href="{yun:}url m=wap c=ask a=content id='`$list.id`'{/yun}">{yun:}$list.title{/yun}</a></div>
        {yun:}if $list.isatn!='2'{/yun}
        <div class="ask_ct_list_tit_rt">
          {yun:}if in_array($list.id,$my_atten){/yun} <a href="javascript:void(0);"  onclick="attention('{yun:}$list.id{/yun}','1','{yun:}url m=wap c=ask a=attention {/yun}');" class="watch_qxgz">取消关注</a> {yun:}else{/yun}
          {yun:}if $uid{/yun} <a href="javascript:void(0);" onclick="attention('{yun:}$list.id{/yun}','1','{yun:}url m=wap c=ask a=attention{/yun}');" class="watch_gz png" title="关注">+ 关注</a> {yun:}else{/yun} <a href="javascript:void(0);" onclick="showlogins('1');" class="watch_gz png" title="关注">关注</a> {yun:}/if{/yun} 
          {yun:}/if{/yun} 
          </div>
          {yun:}/if{/yun}
      </div>
      <div class="ask_ct_list_peo">
        <dl>
          <dt><img src="{yun:}$list.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_friend_icon{/yun}',2);" /> </dt>
          <dd class="ask_i_name">{yun:}$list.content|strip_tags|mb_substr:0:36:'gbk'{/yun}&nbsp;</dd>
          <dd><a href="{yun:}url m=wap c=ask a=friend uid='`$list.uid`'{/yun}"><i>{yun:}$list.nickname|mb_substr:0:8:'gbk'{/yun}</i></a>
           发起了话题</dd>
          <dd class="ask_ct_list_peo_js">{yun:}$list.atnnum{/yun} 人关注 · {yun:}$list.answer_num{/yun} 个回答 · {yun:}$list.visit{/yun}次浏览</dd>
          <dd><em>{yun:}$list.add_time|date_format:"%Y-%m-%d %H:%M"{/yun}</em></dd>
        </dl>
      </div>
    </div>
    {yun:}/qlist{/yun} 
    <div class="pages">{yun:}$pagenav{/yun}</div></div>
{yun:}include file="$wapstyle/footer.htm"{/yun}