{yun:}include file="$wapstyle/header_cont.htm"{/yun}
{yun:}include file="$wapstyle/nav.htm"{/yun} 
{yun:}foreach from=$rows item=alist{/yun}
<div class="atn_ct atn{yun:}$alist.sc_uid{/yun}">
  <div class="atn_ct_m">
    <div class="atn_ct_m_img"> <img  width="40px;" style="border-radius:10px;" src="{yun:}$alist.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_friend_icon{/yun}',2);"/> </div>
    <div class="atn_ct_m_wr">
      <div class="atn_ct_m_wr_nm"> <a href="{yun:}$alist.url{/yun}">{yun:}$alist.nickname{/yun}</a>
        <div class="atn_ct_can"> {yun:}if $uid==$info.uid{/yun} <a class="watch_qxgz" href="javascript:void(0)" onclick="attention_user('{yun:}$alist.sc_uid{/yun}','remove','{yun:}url m=wap c=ask a=atnuser{/yun}')">取消关注</a> {yun:}/if{/yun} </div>
      </div>
      <div class="atn_ct_m_wr_aw">关注 <i>{yun:}$alist.fans{/yun}</i> | 提问 <i>{yun:}$alist.ask{/yun} </i> | 回答 <i>{yun:}$alist.answer{/yun}</i></div>
    </div>
  </div>
</div>
{yun:}foreachelse{/yun}
<div class="noresult">暂无关注达人！</div>
{yun:}/foreach{/yun} 
<div class="pages">{yun:}$pagenav{/yun}</div>
{yun:}include file="$wapstyle/footer.htm"{/yun}