{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/forgetpw.js" language="javascript"></script>
  <div class="password_box">
  <div class="password">
        <div class="flowsteps flowsteps_jj">
          <ul>
            <li class="flowsfrist"><span><i>1</i><em>用户名</em></span></li>
            <li class="" id="nav2"><span><i>2</i><em>验证身份</em></span></li>
            <li class="" id="nav3"><span><i>3</i><em>重置密码</em></span></li>
            <li class="" id="nav4"><span><i>4</i><em>修改成功</em></span></li>
          </ul>
        </div>
        <div class="clear"></div>

        <div class="password_cont" id="step1">
        
        <ul class="password_cont_box">
        <li class="password_cont_box_list"><span class="password_cont_box_list_s">用户名：</span>
         <div class="password_cont_box_p"><input type="text" id="username"placeholder="请输入用户名"  class="password_list_text_new"> </div>
         </li>
         <li class="password_cont_box_list"><span class="password_cont_box_list_s">验证码：</span>
         <div class="password_cont_box_p"><input type="text" id="authcode" placeholder="请输入验证码" class="password_list_text_new password_list_textw110" maxlength="4"/>
            <img id="vcode_img"  src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" class="password_list_textw110img"/>
           <a href="javascript:check_code();" class="password_a">换一张</a> 
         </li>
         </ul>
         <div class="password_list fl m15">
            <input type="submit" value="下一步" class="password_list_bth" onclick="forgetpw();">
          </div>
        </div>

        <div class="password_cont " style="display:none;" id="step2">
          <div class="password_list mt20">
           
            <div class="password_list_s"> 您正在找回密码的账号为： <span class="password_list_s_c" id="username_halt"></span> </div>
             <div class="password_list_s"></div>
          </div>
          <div class="password_cont_box">
          <ul class="password_list_chongz">
          <li><div class="password_list_chongz_tit">请选择重置密码方式：</div></li>
          <li id="checkemail">
         <label>
            <div class="password_list_s">
              <input type="radio" value="email" name="sendtype" class="password_list_radio">
              选择密保邮箱 <span id="email_halt"></span></div>
               </label>
          </li>
          <li class="password_list  " id="checkmoblie">
           <label>
            <div class="password_list_s">
              <input type="radio" value="moblie" name="sendtype" class="password_list_radio">
              选择绑定手机号 <span id="moblie_halt"></span></div>
               </label>
          </li>
      </ul>
      </div>
          <div class="password_listmt20">
         
            <input name="uid" type="hidden" value="" />
            <input type="submit" value="下一步" class="password_list_bth" onclick="send_str();">
          </div>
        </div>

        
        <div class="password_cont " style="display:none;" id="step3_email">
          <div class="password_list  m10">
          
            <div class="password_list_s"> 我们已经向您的注册邮箱：<span class="password_list_s_c" id="step3_email_halt"></span>发送验证码邮件</div>
          </div>
          
           <ul class="password_cont_box">
       <li class="password_cont_box_list"><span class="password_cont_box_list_s">验证码：</span>
         <div class="password_cont_box_p"><input type="text" value="" placeholder="请输入邮箱验证码" class="password_list_text_new " name="code_email" maxlength="6">
           </div>
         </li>
          <li class="password_cont_box_list">  
          <div class="password_cont_box_p step3_email_timer">如需从新发送，请<a href="javascript:;" class="password_a_dj">点击免费获取</a></div></li>
       </ul>   
       
          <div class="password_list m15">
      
            <input type="submit" value="下一步" class="password_list_bth" onclick="checksendcode();">
          </div>
        </div>
        <div class="password_cont " style="display:none;" id="step3_moblie">
        
        
          <div class="password_list m10">
            <div class="password_list_s"> 我们将向您的绑定手机<span class="password_list_s_c"  id="step3_moblie_halt"></span>发送验证码短信</div>
          </div>
          
                 <ul class="password_cont_box">
       <li class="password_cont_box_list"><span class="password_cont_box_list_s">验证码：</span>
         <div class="password_cont_box_p"> <input type="text" value="" placeholder="请输入手机验证码" class="password_list_text_new" name="code_moblie" maxlength="6">
           </div>
         </li>
          <li class="password_cont_box_list">  
          <div class="password_cont_box_p step3_moblie_timer">如需从新发送，请<a href="javascript:;" class="password_a_dj">点击免费获取</a></div></li>
       </ul> 
       
      
          <div class="password_list m15">
         
            <input type="submit" value="下一步" class="password_list_bth" onclick="checksendcode();">
          </div>
        </div>
        
 
        <div class="password_cont " style="display:none;" id="step4">
        
        <ul class="password_cont_box">
        <li class="password_cont_box_list"><span class="password_cont_box_list_s">新密码：</span>
         <div class="password_cont_box_p">  <input type="password" value="" placeholder="请设置新密码" class="password_list_text_new" name="password" id="password"> </div>
         </li>
         <li class="password_cont_box_list"><span class="password_cont_box_list_s">确认密码：</span>
         <div class="password_cont_box_p"> <input type="password" value=""  placeholder="请确认新密码"class="password_list_text_new" name="passwordconfirm" id="passwordconfirm"></div>
         </li>
        
       
          <div class="password_list fl m15">
            <input type="submit" value="提交修改" class="password_list_bth" onclick="editpw();">
          </div>
        </div>
        <div class="clear"></div>

        <div class="password_cont  " style="display:none;width:100%;margin:0 auto;" id="step5">
          <div class="password_cont_success " style="width:100%;">
            <div class="password_cont_success_p" style="padding-left:0;width:100%;text-align:center;">恭喜您！密码重置成功！</div>
            <div class="password_contm-row" style="margin-left:0;width:100%;text-align:center;"> <a href="{yun:}url m=wap c=login{/yun}" style="margin:0 auto;width:280px;" class="password_input_btn">立即登录</a> </div>
          </div>
        </div>
      </div>
              <div class="password_tip">
        <div class="password_tip_t">温馨提示：</div>
        <div>如手机号码已丢失且未绑定邮箱</div>
        <div>请联系在线客服</div>
        <div>或拨打全国统一服务热线</div>
       <div class="password_tip_tel">{yun:}$config.sy_webtel{/yun} </div>
        </div>
         </div>
 {yun:}include file="$wapstyle/footer.htm"{/yun} 