<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{yun:}$title{/yun} -  手机人才网</title>
<meta http-equiv="keywords" content="{yun:}$keywords{/yun},wap" />
<meta http-equiv="description" content="{yun:}$description{/yun}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-compatible"content="IE=edge"/>
<meta name="viewport" content="width=device-width" initial-scale="1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no,email=no"/>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/style.css" type="text/css"/>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script> 
</head>
<body> 
<div class="">
<div class="body_wap">
<header class="header_h">
<div class="header_fixed">
   <div class="header">
    <div class="header_bg"> <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l"></i></a>
       <div class="header_h1"> 
	   {yun:}if $topplaceholder{/yun}
       <div class="header_fx_search">    
       <form method="get" action="{yun:}$config_wapdomain{/yun}/index.php">
      <input type="hidden" name="c" value="{yun:}$smarty.get.c{/yun}" />
      <div class="formFiled">
        <input type="text" value="{yun:}$smarty.get.keyword{/yun}" name="keyword" class="input_search" placeholder="{yun:}$topplaceholder{/yun}">
        <input type="submit" value=" " class="input_btn">
        <i class="input_btn_icon"></i>
      </div>
    </form>
    </div>
	{yun:}else{/yun} 
   <div class="header_p_z"> {yun:}$headertitle{/yun}</div>
	{yun:}/if{/yun}
	</div>
{yun:}if !$username{/yun} 

<em class="regorlogin" style="width:40px;">
<a href="{yun:}url m=wap c=login{/yun}"><i class="iconfont" style="font-size:24px;color:#fff"></i></a> 

 </em>
 {yun:}else{/yun}
 <em class="regorlogin" style="width:40px;">
<a href="{yun:}$config.sy_weburl{/yun}/wap/member/index.php"></a>
</em>
{yun:}/if{/yun}


     </div>
  </div>
    </div>
 </header>
   </div>
</div>