<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{yun:}$title{/yun} -  手机人才网</title>
<meta http-equiv="keywords" content="{yun:}$keywords{/yun},wap" />
<meta http-equiv="description" content="{yun:}$description{/yun}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-compatible"content="IE=edge"/>
<meta name="viewport" content="width=device-width" initial-scale="1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no,email=no"/>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/style.css" type="text/css"/>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script>
<script type="text/javascript">
function show(obj){
var obj=document.getElementById(obj);  

  if(obj.style.display=="block"){
     obj.style.display="none";
  }else 
  obj.style.display="block";
}
</script>
</head>
<div class="loginlock">温馨提示</div>
<style>
body{ background:#fff}

</style>  
{yun:}if $smarty.get.type=='2'{/yun}

<div class="prompt_message">
<div class="prompt_message_cont">
<div class="prompt_message_i"><i class="prompt_message_i_icon"></i></div>
<div class="prompt_message_tit">审核暂未通过</div>
<div class="prompt_message_p">您的账户暂时还没有通过审核，如需马上开通会员,请联系管理员。</div>


<div class="prompt_message_p2">欢迎拨打我们客服热线：</div>
<div class="prompt_message_tel">{yun:}$config.sy_webtel{/yun}</div>
</div>
</div></div>

{yun:}else{/yun}

<div class="prompt_message">
<div class="prompt_message_cont">
<div class="prompt_message_i"><i class="prompt_message_i_icon_sd"></i></div>
<div class="prompt_message_tit">您的帐号被锁定</div>
<div class="prompt_message_p">很抱歉，由于在您的账户中发现了不安全的情况，您的账户暂时无法
使用！请联系客服解除锁定！</div>
<div class="prompt_message_box">
<div class="prompt_message_p2">如需马上开通会员,欢迎拨打我们客服热线：</div>
<div class="prompt_message_tel">{yun:}$config.sy_webtel{/yun}</div>
</div></div>
</div>
{yun:}/if{/yun}
{yun:}include file="$wapstyle/footer.htm"{/yun} 