

<script src="{yun:}$wap_style{/yun}/js/nativeshare/nativeShare.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$wap_style{/yun}/js/nativeshare/nativeShare.css" type="text/css"/>


{yun:}if $isweixin{/yun}
<script>
	$(function(){
		$('#shareClick').click(function(){
			
			var url = $(this).attr('data-url')
			//$('#weixinBrowser').show();
			window.location.href=url;
		});
		$('#weixinBrowser').click(function(){
			
			//$(this).hide();
		});
	});
	
 </script>

{yun:}else{/yun}

<div id="nativeShare"></div>
<script>
	
	$(function(){
		
		$('#shareClick').click('click', function () {
			
			new nativeShare('nativeShare',config);	

		}); 
		$('#otherBrowser').click(function(){
			
			$(this).hide();
		});
		$('#nativeShare').click(function(evt){
		
			if($(evt.target).parents(".share_bgbox").length==0){
				
				$(this).hide();
			}
			
		});
	});
	
 </script>



{yun:}/if{/yun}


<div id="otherBrowser" style="width:100%;height:100%; background:rgba(51,51,51,0.9); position:fixed;left:0px;top:0px ; z-index:100000001;display:none" > 
 <div class="yun_wap_share_tip" style="width:100%; position:absolute; z-index:100000001;top:50%; margin-top:-90px;">
 
 <div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">1.</i>点击浏览器顶部或底部的<i class="yun_wap_share_tip_i3"></i>或<i class="yun_wap_share_tip_i4"></i></div>
 <div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">2.</i>然后点击分享按钮<i class="yun_wap_share_tip_i"></i>或<i class="yun_wap_share_tip_i2"></i></div>
 <div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">3.</i>分享给朋友或者朋友圈</div>
</div>
</div>



<div id="weixinBrowser" style="width:100%;height:100%; background:rgba(51,51,51,0.9); position:fixed;left:0px;top:0px ; z-index:100000001;display:block;display:none" > 
 <div class="yun_wap_share_tip" style="width:100%; position:absolute; z-index:100000001;">
 <i class="yun_wap_share_tip_wxicon_more"></i>
<i class="yun_wap_share_tip_wxicon"></i>
</div>
</div>