{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<section>
  <div class="once_cont_content">
    <div class="resume-cont_zk" style="padding-top:0px;">
      <form action="{yun:}$config_wapdomain{/yun}/index.php?c=once&a=add" method="post" onsubmit="return ckonce(this);" enctype="multipart/form-data">
        <div class="resume-cont_wate">
        <dl class="resume-cont_wate_list">
          <dt>我想招聘<span class="x_cor">*</span></dt>
          <dd>
            <input type="text" name="title" value="{yun:}$row.title{/yun}" class="reinputText">
          </dd>
        </dl>
        <dl class="resume-cont_wate_list">
          <dt>店面名称<span class="x_cor">*</span></dt>
          <dd>
            <input type="text" name="companyname" value="{yun:}$row.companyname{/yun}"  class="reinputText">
          </dd>
        </dl>
        <dl class="resume-cont_wate_list">
          <dt>联&nbsp;系&nbsp; 人<span class="x_cor">*</span></dt>
          <dd>
            <input type="text" name="linkman" value="{yun:}$row.linkman{/yun}"  class="reinputText">
          </dd>
        </dl>
        <dl class="resume-cont_wate_list">
          <dt>联系电话<span class="x_cor">*</span></dt>
          <dd>
            <input type="text" name="phone" onkeyup="this.value=this.value.replace(/[^0-9-]/g,'')" value="{yun:}$row.phone{/yun}"  class="reinputText">
          </dd>
        </dl>
        <dl class="resume-cont_wate_list" style=" margin-bottom:0px;">
          <dt>招聘要求<span class="x_cor">*</span></dt>
          <dd>
            <textarea id="require" class="once_textAreaMsg tip" placeholder="请输入你的招聘要求" name="require">{yun:}$row.require{/yun}</textarea>
          </dd>
        </dl>
        <dl class="resume-cont_wate_list" >
          <dt>店面形象<span class="x_cor">&nbsp;</span></dt>
          <dd>
            <div class="once_cont_wate_list_photo">
              <input type="file" id="pic" name="pic" value="" class="input-text">
            </div>
            {yun:}if $row.pic{/yun} <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$row.pic{/yun}" width="145" height="35"> {yun:}/if{/yun} </dd>
        </dl>
        <dl class="resume-cont_wate_list">
          <dt>招聘有效期<span class="x_cor">*</span></dt>
          <dd>
            <input type="text" name="edate" value="{yun:}if $row.edate{/yun}{yun:}$row.edate{/yun}{yun:}else{/yun}60{yun:}/if{/yun}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="3" class="reinputText reinputText_w120" >
            <span class="cont_wate_list_date">天</span> </dd>
        </dl>
        {yun:}if $row.id==''{/yun}
        <dl class="resume-cont_wate_list">
          <dt>设置密码<span class="x_cor">*</span></dt>
          <dd>
            <input type="password" name="password" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" class="reinputText reinputText_w100">
            <span class="once_cont_wate_list_tips">密码可用于刷新/修改/删除信息！</span> </dd>
        </dl>
        <dl class="resume-cont_wate_list">
        
        {yun:}else{/yun}
        <dl class="resume-cont_wate_list">
          <dt>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码<span class="x_cor">*</span></dt>
          <dd>
            <input type="password" name="password" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" class="reinputText reinputText_w100">
          </dd>
        </dl>
		<input name="id" value="{yun:}$row.id{/yun}" type="hidden"/>
        {yun:}/if{/yun}
        <dl class="resume-cont_wate_list mt10">
          <input type="submit" name="submit" value="发布" class="inputSubmit">
          </dd>
        </dl>
        </div>
      </form>
    </div>
  </div>
</section>
{yun:}include file="$wapstyle/footer.htm"{/yun} 