{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<style>
body{ background:#fff}

</style> 
 

<div class="prompt_message">
<div class="prompt_message_cont">
<div class="prompt_message_i"><i class="prompt_message_i_icon_cg"></i></div>
<div class="prompt_message_tit">恭喜您注册成功</div>
<div class="prompt_message_p">非常感谢您注册{yun:}$config.sy_webname{/yun}会员！<br>
贵单位的注册资料已经成功提交，本站工作人员正在进行审核！</div> 
<div class="">如需马上开通会员,欢迎拨打我们客服电话：</div>
<div class="prompt_message_tel">{yun:}$config.sy_webtel{/yun}</div>
</div>

</div> 

{yun:}include file="$wapstyle/footer.htm"{/yun} 