<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{yun:}$title{/yun} -  手机人才网</title>
<meta http-equiv="keywords" content="{yun:}$keywords{/yun},wap" />
<meta http-equiv="description" content="{yun:}$description{/yun}" />
<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no,email=no"/>
<meta name="MobileOptimized" content="240" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=yes" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta http-equiv="X-UA-compatible"content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no,email=no"/>
<meta name="viewport" content="width=device-width" initial-scale="1">
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/icon/iconfont.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css" type="text/css"> 
</head> 
<body>
<header>
<div class="header_bg">
<a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l iconfont"></i></a>
<div class="header_h1">{yun:}$headertitle{/yun}</div>
</div>
{yun:}if $config.sy_web_site=='1'{/yun}
<a href="{yun:}url m=wap c=site{/yun}"><span class="search_con_l fl" ><i class="city_icon iconfont"  ></i>{yun:}$config.sy_indexcity{/yun}</span></a>
{yun:}/if{/yun}
</header>
<div class="city_list wapdomain">
<div class="city_all"><div class="city_more"><a href="javascript:void(0)" onclick="setsite('-1','')">全国</a></div></div>
{yun:}fz_list fz_list=city_list{/yun}
{yun:}foreach key=key item=list from=$city_list{/yun}
	<div class="city_cur">
		<div class="city_title">{yun:}$key{/yun}</div>
		<div class="city_more">
		{yun:}foreach  item=city from=$list{/yun}
			<a href="javascript:void(0)"  onClick="setsite('{yun:}$city.id{/yun}','{yun:}$city.name{/yun}');">{yun:}$city.name{/yun}</a>
		{yun:}/foreach{/yun} 
		</div>
	</div>
{yun:}/foreach{/yun}  
</div>  
<script>wapurl="{yun:}url m=wap{/yun}";</script> 
<script>var weburl="{yun:}$config.sy_weburl{/yun}"</script>
</body>
</html>
