<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>

<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>
<div class="main_tag">
<div class="admin_h1_bg"> 
<span class="infoboxp_top_span infoboxp_top_wz">短信设置</span>
<ul>
    <li><a href="index.php?m=msgconfig">短信设置</a></li>
    <li class="on"><a href="index.php?m=msgconfig&c=tpl" style="color:#FFF">模板设置</a></li>
</ul>
</div>
<div class="tag_box">

    <form action="" method="post">
    <table width="100%" class="table_form">
      <tr class="admin_table_trbg">
          <th width="160">参数说明：</th>
          <td>参数值</td>
    </tr>
      <tr>
            <th width="160">注册会员：</th>
            <td>
              <input type="radio" name="sy_msg_reg" value="1" id="sy_msg_reg_0" {yun:}if $config.sy_msg_reg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_reg_0">通知</label>
              <input type="radio" name="sy_msg_reg" value="2" id="sy_msg_reg_1" {yun:}if $config.sy_msg_reg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_reg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgreg" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">找回密码：</th>
            <td>
              <input type="radio" name="sy_msg_getpass" value="1" id="sy_msg_getpass_0" {yun:}if $config.sy_msg_getpass=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_getpass_0">通知</label>
              <input type="radio" name="sy_msg_getpass" value="2" id="sy_msg_getpass_1" {yun:}if $config.sy_msg_getpass=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_getpass_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msggetpass" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">个人生日：</th>
            <td>
              <input type="radio" name="sy_msg_birthday" value="1" id="sy_msg_birthday_0" {yun:}if $config.sy_msg_birthday=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_birthday_0">通知</label>
              <input type="radio" name="sy_msg_birthday" value="2" id="sy_msg_birthday_1" {yun:}if $config.sy_msg_birthday=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_birthday_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgbirthday" style="color:blue;">设置模板</a>
             </td>
        </tr>
         <tr>
            <th width="160">邀请面试：</th>
            <td>
              <input type="radio" name="sy_msg_yqms" value="1" id="sy_msg_yqms_0" {yun:}if $config.sy_msg_yqms=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_yqms_0">通知</label>
              <input type="radio" name="sy_msg_yqms" value="2" id="sy_msg_yqms_1" {yun:}if $config.sy_msg_yqms=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_yqms_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgyqms" style="color:blue;">设置模板</a>
             </td>
        </tr>
         <tr>
            <th width="160">回复面试邀请：</th>
            <td>
              <input type="radio" name="sy_msg_yqmshf" value="1" id="sy_msg_yqmshf_0" {yun:}if $config.sy_msg_yqmshf=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_yqmshf_0">通知</label>
              <input type="radio" name="sy_msg_yqmshf" value="2" id="sy_msg_yqmshf_1" {yun:}if $config.sy_msg_yqmshf=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_yqmshf_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgyqmshf" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">付款成功：</th>
            <td>
              <input type="radio" name="sy_msg_fkcg" value="1" id="sy_msg_fkcg_0" {yun:}if $config.sy_msg_fkcg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_fkcg_0">通知</label>
              <input type="radio" name="sy_msg_fkcg" value="2" id="sy_msg_fkcg_1" {yun:}if $config.sy_msg_fkcg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_fkcg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgfkcg" style="color:blue;">设置模板</a>
             </td>
        </tr>
 		<tr>
            <th width="160">职位审核通过：</th>
            <td>
              <input type="radio" name="sy_msg_zzshtg" value="1" id="sy_msg_zzshtg_0" {yun:}if $config.sy_msg_zzshtg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_email_zzshtg_0">通知</label>
              <input type="radio" name="sy_msg_zzshtg" value="2" id="sy_msg_zzshtg_1" {yun:}if $config.sy_msg_zzshtg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_zzshtg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgzzshtg" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">职位审核未通过：</th>
            <td>
              <input type="radio" name="sy_msg_zzshwtg" value="1" id="sy_msg_zzshwtg_0" {yun:}if $config.sy_msg_zzshwtg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_email_zzshwtg_0">通知</label>
              <input type="radio" name="sy_msg_zzshwtg" value="2" id="sy_msg_zzshwtg_1" {yun:}if $config.sy_msg_zzshwtg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_zzshwtg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgzzshwtg" style="color:blue;">设置模板</a>
             </td>
        </tr>
 		<tr>
            <th width="160">兼职审核通过：</th>
            <td>
              <input type="radio" name="sy_msg_partshtg" value="1" id="sy_msg_partshtg_0" {yun:}if $config.sy_msg_partshtg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_email_zzshtg_0">通知</label>
              <input type="radio" name="sy_msg_partshtg" value="2" id="sy_msg_partshtg_1" {yun:}if $config.sy_msg_partshtg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_zzshtg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgpartshtg" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">兼职审核未通过：</th>
            <td>
              <input type="radio" name="sy_msg_partshwtg" value="1" id="sy_email_partshwtg_0" {yun:}if $config.sy_msg_partshwtg=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_email_partshwtg_0">通知</label>
              <input type="radio" name="sy_msg_partshwtg" value="2" id="sy_msg_partshwtg_1" {yun:}if $config.sy_msg_partshwtg=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_partshwtg_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgpartshwtg" style="color:blue;">设置模板</a>
             </td>
        </tr>
       <tr>
            <th width="160">申请职位：</th>
            <td>
              <input type="radio" name="sy_msg_sqzw" value="1" id="sy_msg_sqzw_0" {yun:}if $config.sy_msg_sqzw=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_sqzw_0">通知</label>
              <input type="radio" name="sy_msg_sqzw" value="2" id="sy_msg_sqzw_1" {yun:}if $config.sy_msg_sqzw=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_sqzw_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgsqzw" style="color:blue;">设置模板</a>
             </td>
        </tr>
         <tr>
            <th width="160">申请职位回复：</th>
            <td>
              <input type="radio" name="sy_msg_sqzwhf" value="1" id="sy_msg_sqzwhf_0" {yun:}if $config.sy_msg_sqzwhf=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_sqzwhf_0">通知</label>
              <input type="radio" name="sy_msg_sqzwhf" value="2" id="sy_msg_sqzwhf_1" {yun:}if $config.sy_msg_sqzwhf=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_sqzwhf_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgsqzwhf" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">手机认证：</th>
            <td>
              <input type="radio" name="sy_msg_cert" value="1" id="sy_msg_cert_0" {yun:}if $config.sy_msg_cert=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_cert_0">通知</label>
              <input type="radio" name="sy_msg_cert" value="2" id="sy_msg_cert_1" {yun:}if $config.sy_msg_cert=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_cert_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgcert" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">会员提醒：</th>
            <td>
              <input type="radio" name="sy_msg_remind" value="1" id="sy_msg_remind_0" {yun:}if $config.sy_msg_remind=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_remind_0">通知</label>
              <input type="radio" name="sy_msg_remind" value="2" id="sy_msg_remind_1" {yun:}if $config.sy_msg_remind=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_remind_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgremind" style="color:blue;">设置模板</a>
             </td>
        </tr>


        <tr class="admin_table_trbg">
            <th width="160">自动发送职位通知：</th>
            <td>
              <input type="radio" name="sy_msg_notice" value="1" id="sy_msg_notice_0" {yun:}if $config.sy_msg_notice=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_notice_0">通知</label>
              <input type="radio" name="sy_msg_notice" value="2" id="sy_msg_notice_1" {yun:}if $config.sy_msg_notice=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_notice_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgnotice" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">注册验证码：</th>
            <td>
              <input type="radio" name="sy_msg_regcode" value="1" id="sy_msg_regcode_0" {yun:}if $config.sy_msg_regcode=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_regcode_0">通知</label>
              <input type="radio" name="sy_msg_regcode" value="2" id="sy_msg_regcode_1" {yun:}if $config.sy_msg_regcode=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_regcode_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgregcode" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr class="admin_table_trbg">
            <th width="160">充值提醒：</th>
            <td>
              <input type="radio" name="sy_msg_recharge" value="1" id="sy_msg_recharge_0" {yun:}if $config.sy_msg_recharge=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_recharge_0">通知</label>
              <input type="radio" name="sy_msg_recharge" value="2" id="sy_msg_recharge_1" {yun:}if $config.sy_msg_recharge=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_recharge_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgrecharge" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">兼职报名：</th>
            <td>
              <input type="radio" name="sy_msg_partapply" value="1" id="sy_msg_partapply_0" {yun:}if $config.sy_msg_partapply=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_partapply_0">通知</label>
              <input type="radio" name="sy_msg_partapply" value="2" id="sy_msg_partapply_1" {yun:}if $config.sy_msg_partapply=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_partapply_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgpartapply" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">网站周年庆：</th>
            <td>
              <input type="radio" name="sy_msg_webbirthday" value="1" id="sy_msg_webbirthday_0" {yun:}if $config.sy_msg_webbirthday=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_webbirthday_0">通知</label>
              <input type="radio" name="sy_msg_webbirthday" value="2" id="sy_msg_webbirthday_1" {yun:}if $config.sy_msg_webbirthday=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_webbirthday_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgwebbirthday" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">企业会员过期提醒：</th>
            <td>
              <input type="radio" name="sy_msg_viped" value="1" id="sy_msg_viped_0" {yun:}if $config.sy_msg_viped=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_viped_0">通知</label>
              <input type="radio" name="sy_msg_viped" value="2" id="sy_msg_viped_1" {yun:}if $config.sy_msg_viped=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_viped_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgviped" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">个人会员未发布简历：</th>
            <td>
              <input type="radio" name="sy_msg_useradd" value="1" id="sy_msg_useradd_0" {yun:}if $config.sy_msg_useradd=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_useradd_0">通知</label>
              <input type="radio" name="sy_msg_useradd" value="2" id="sy_msg_useradd_1" {yun:}if $config.sy_msg_useradd=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_useradd_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msguseradd" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">个人会员未更新简历：</th>
            <td>
              <input type="radio" name="sy_msg_userup" value="1" id="sy_msg_userup_0" {yun:}if $config.sy_msg_userup=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_userup_0">通知</label>
              <input type="radio" name="sy_msg_userup" value="2" id="sy_msg_userup_1" {yun:}if $config.sy_msg_userup=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_userup_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msguserup" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">企业未发布职位提醒：</th>
            <td>
              <input type="radio" name="sy_msg_addjob" value="1" id="sy_msg_addjob_0" {yun:}if $config.sy_msg_addjob=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_addjob_0">通知</label>
              <input type="radio" name="sy_msg_addjob" value="2" id="sy_msg_addjob_1" {yun:}if $config.sy_msg_addjob=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_addjob_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgaddjob" style="color:blue;">设置模板</a>
             </td>
        </tr>
        <tr>
            <th width="160">企业职位未刷新提醒：</th>
            <td>
              <input type="radio" name="sy_msg_upjob" value="1" id="sy_msg_upjob_0" {yun:}if $config.sy_msg_upjob=="1"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_upjob_0">通知</label>
              <input type="radio" name="sy_msg_upjob" value="2" id="sy_msg_upjob_1" {yun:}if $config.sy_msg_upjob=="2"{/yun}checked{yun:}/if{/yun}>
              <label for="sy_msg_upjob_1">不通知</label>&nbsp;&nbsp;
              <a href="?m=msgconfig&c=settpl&name=msgupjob" style="color:blue;">设置模板</a>
             </td>
        </tr>
   	 <tr class="admin_table_trbg">
         <td colspan="2" align="center"><input class="admin_submit4" id="msgconfig" type="button" name="msgconfig" value="提交" />&nbsp;&nbsp;<input class="admin_submit4" type="reset" value="重置" /></td>
        </tr>
    </table>
	<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
    </form>

</div>
</div>
<script>

$(function(){
	$("#msgconfig").click(function(){
		$.post("index.php?m=msgconfig&c=save",{
			config : $("#msgconfig").val(),
			sy_msg_getpass : $("input[name=sy_msg_getpass]:checked").val(),
			sy_msg_yqms : $("input[name=sy_msg_yqms]:checked").val(),
			sy_msg_birthday : $("input[name=sy_msg_birthday]:checked").val(),
			sy_msg_yqmshf : $("input[name=sy_msg_yqmshf]:checked").val(),
			sy_msg_reg : $("input[name=sy_msg_reg]:checked").val(),
			sy_msg_fkcg : $("input[name=sy_msg_fkcg]:checked").val(),
			sy_msg_zzshtg : $("input[name=sy_msg_zzshtg]:checked").val(),
			sy_msg_zzshwtg : $("input[name=sy_msg_zzshwtg]:checked").val(),
			sy_msg_partshtg : $("input[name=sy_msg_partshtg]:checked").val(),
			sy_msg_partshwtg : $("input[name=sy_msg_partshwtg]:checked").val(),
			sy_msg_cert : $("input[name=sy_msg_cert]:checked").val(),
			sy_msg_sqzw : $("input[name=sy_msg_sqzw]:checked").val(),
			sy_msg_sqzwhf : $("input[name=sy_msg_sqzwhf]:checked").val(),
			sy_msg_remind : $("input[name=sy_msg_remind]:checked").val(),
			sy_msg_userdy : $("input[name=sy_msg_userdy]:checked").val(),
			sy_msg_comdy : $("input[name=sy_msg_comdy]:checked").val(),
			sy_msg_notice : $("input[name=sy_msg_notice]:checked").val(),
			sy_msg_regcode : $("input[name=sy_msg_regcode]:checked").val(),
			sy_msg_recharge : $("input[name=sy_msg_recharge]:checked").val(),
			sy_msg_partapply : $("input[name=sy_msg_partapply]:checked").val(),
			sy_msg_webbirthday : $("input[name=sy_msg_webbirthday]:checked").val(),
			sy_msg_viped : $("input[name=sy_msg_viped]:checked").val(),
			sy_msg_useradd : $("input[name=sy_msg_useradd]:checked").val(),
			sy_msg_userup : $("input[name=sy_msg_userup]:checked").val(),
			sy_msg_addjob : $("input[name=sy_msg_addjob]:checked").val(),
			sy_msg_upjob : $("input[name=sy_msg_upjob]:checked").val(),
			
			pytoken : $("#pytoken").val()
		},function(data,textStatus){
			config_msg(data);
		});
	});
})
</script>
</div>
</body>
</html>