<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
<style>
* {
	margin: 0;
	padding: 0;
}
body, div {
	margin: 0;
	padding: 0;
}
</style>
</head>
<body class="body_ifm">
<div class="infoboxp">
  <div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
    <h6>店铺招聘</h6>
  </div>
  <div class="main_tag" >
    <div class="tag_box">
      <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form target="supportiframe" action="index.php?m=admin_once&c=save" method="post" onSubmit="return check_resume_once()" enctype="multipart/form-data">
        <table width="100%" class="table_form" style="background:#fff;">
          <tr>
            <th>职位名称：</th>
            <td width="350"><input type="text"  value="{yun:}$row.title{/yun}" name="title" id="title" class="input-text"></td>
            <th>(店面)名称：</th>
            <td width="350"><input type="text"  value="{yun:}$row.companyname{/yun}" name="companyname" id="companyname" class="input-text"></td>
          </tr>
          <tr  class="admin_table_trbg">
            <th>有效时间(天)：</th>
            <td><input class="input-text" type="text" id="edate" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  maxlength="3" value="{yun:}$row.edate{/yun}" name="edate"></td>
            <th>联 系 人：</th>
            <td><input type="text" id="linkman" name="linkman" value="{yun:}$row.linkman{/yun}" class="input-text"/></td>
          </tr>
          <tr>
            <th>联系电话：</th>
            <td colspan="3"><input type="text" name="phone" id="phone" value="{yun:}$row.phone{/yun}" class="input-text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/></td> </tr> <tr>
            <th>店铺形象：</th>
            <td colspan="3"><input type="file" id="pic" name="pic" class="input-text">{yun:}if $row.pic{/yun} <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$row.pic{/yun}" width="145" height="35"> {yun:}/if{/yun}</td>
            
          </tr>
          <tr  class="admin_table_trbg">
            <th>要　　求：</th>
            <td colspan="3"><textarea id="require" name="require" style="width:500px; height:50px;border:1px solid #ccc; font-size:12px;color:#666">{yun:}$row.require{/yun}</textarea></td>
          </tr>
          <tr  class="admin_table_trbg">

            <th>密码：</th>
            <td colspan="3"><input type="password" name="password" id="password" value="" class="input-text" style='width:100px' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')"/><span class="admin_web_tip">不填写则不修改</span></td>
          </tr>
          <tr>
            <td align="center" colspan="4"> {yun:}if is_array($row){/yun}
              <input type="hidden" name="id" id="id" value="{yun:}$row.id{/yun}"/>
              <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
              {yun:}/if{/yun}
              <input class="admin_submit4" type="submit" name="submit" value="&nbsp;保 存&nbsp;" />
              <input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
          </tr>
        </table>
        <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
      </form>
    </div>
  </div>
</div>
<script>
function check_resume_once(){ 
	var id=$("#id").val();
	var title=$("#title").val();
	if($.trim(title)==""){ 
		layer.msg('请填写职位名称', 2, 8);return false; 
	}	
	var companyname=$("#companyname").val();
	if($.trim(companyname)==""){ 
		layer.msg('请填写(店面)名称', 2, 8);return false; 
	}
	var edate=$("input[name=edate]").val();
	    if(!edate){
			layer.msg('请填写有效期！', 2, 8);return false;
	    }
	var linkman=$("input[name=linkman]").val();
		if($.trim(linkman)==""){
			layer.msg('请填写联系人', 2, 8);return false;  
		}
	var phone=$.trim($("#phone").val());
	if(!phone){ 
		layer.msg('请填写联系电话', 2, 8);return false; 
	}else{
		var reg= /^[1][34578]\d{9}$|^([0-9]{3,4}\-)?[0-9]{7,8}$/;   
		if(!reg.test(phone)){ 
			layer.msg('联系电话格式错误！', 2, 8);return false;
		}
	}
	var require=$("#require").val();
	if($.trim(require)==""){ 
		layer.msg('请填写招聘要求', 2, 8);return false;
	}
}
</script>
</body>
</html>