<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script> 
<script src="js/show_pub.js"></script> 
<title>后台管理</title>
</head>
<script type="text/javascript"> 
$(document).ready(function(){
	$(".imghide").hover(function(){
		$(this).find('.class_xg').show();
	},function(){
		$(this).find('.class_xg').hide();
	});
})
</script>
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css" rel="stylesheet" type="text/css" />

<body class="body_ifm"> 
<span id="temp"></span>
<div class="infoboxp"> 
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">单页面类别管理</span>
<a  href="javascript:void(0)" onClick="add_class('添加类别','450','240','#houtai_div','')" class="admin_infoboxp_tj">添加类别</a>
</div>
<div class="table-list">
  <div class="admin_table_border">
  <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
<form action="index.php?m=desc_class&c=del" method="post" target="supportiframe" id='myform'>  
<input type="hidden" name="pytoken"  id='pytoken' value="{yun:}$pytoken{/yun}">
<table width="100%" id="table_industry">
	<thead>
	<tr class="admin_table_top">
   		<th width="50"><label for="chkall"> <input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' /></label></th>
		<th width="60">编号</th>
		<th>类别名称<span class="clickup">(点击修改)</span></th>
		<th>排序（越大越靠前）</th>
		<th width="180" class="admin_table_th_bg">操作</th>
	</tr>
	</thead>
	<tbody>	 
	{yun:}foreach item=v key=key from=$list{/yun}
	 
	<tr align="center" {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
  	    <td width="50"><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
		<td class="ud">{yun:}$v.id{/yun}</td>
		<td class="ud imghide" align="left">
		<span onClick="checkname('{yun:}$v.id{/yun}');" id="name{yun:}$v.id{/yun}" style="cursor:pointer;">{yun:}$v.name{/yun}</span>
        <input class="input-text hidden" type="text" id="inputname{yun:}$v.id{/yun}" value="{yun:}$v.name{/yun}" onBlur="subname('{yun:}$v.id{/yun}','index.php?m=desc_class&c=ajax');" >
        <img class="class_xg" style="padding-left:5px;" title="" src="images/xg.png" onClick="checkname('{yun:}$v.id{/yun}');"/>

		</td>
		<td class="imghide"><span onClick="checksort('{yun:}$v.id{/yun}');" id="sort{yun:}$v.id{/yun}" style="cursor:pointer;">{yun:}$v.sort{/yun}</span>
        <input class="input-text hidden citysort" type="text" id="input{yun:}$v.id{/yun}" size="10" value="{yun:}$v.sort{/yun}" onBlur="subsort('{yun:}$v.id{/yun}','index.php?m=desc_class&c=ajax');" >
        <img class="class_xg" style="padding-left:5px;" title="" src="images/xg.png" onClick="checksort('{yun:}$v.id{/yun}');"/></td>
		<td class="ud">
      
        <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=desc_class&c=del&delid={yun:}$v.id{/yun}');"class="admin_cz_sc">删除</a></td>
	</tr> 
	
{yun:}/foreach{/yun} 
  <tr style="background:#f1f1f1;">
    <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
    <td colspan="4" >
    <label for="chkAll2">全选</label>&nbsp;
    <input class="admin_submit4"  type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
    </tr>
	</tbody>
</table>
</form>
</div>
</div>

</div>
<div id="houtai_div" style="  display:none;">
<div class="admin_mt10">
    <table cellspacing='1' cellpadding='1' class="admin_examine_table">
		<tbody>
			<tr >
				<th width="90">类别名称：</th><td><textarea  id='position'  class="add_class_textarea"></textarea></td>
			</tr>
			<tr class="ui_td_11">
				<td colspan='2' align="center"><div class="add_class_div"><span class="admin_web_tip">说明：可以添加多条分类（请按回车键换行，一行一个）</span></div></td>
			</tr>
			<tr class="ui_td_11">
				<td  class="ui_content_wrap"colspan='2'  > 
                <input class="admin_examine_bth"  type="button" name="add" value=" 添加 " onClick="save_dclass('index.php?m=desc_class&c=add')" /></td>
			</tr> 
		</tbody>
	</table>
</div>  
</div>  
  </body>
</html>