<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />  
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<script>
function checkform(){
	if($("#ad_name").val()==""){ 
		parent.layer.msg('广告名称不能为空！', 2,8);
		return false;
	}
	if($("#ad_start").val()==""){ 
		parent.layer.msg('请填写开始时间！', 2,8);
		return false;
	}
	if($("#ad_end").val()==""){ 
		parent.layer.msg('请填写结束时间！', 2,8);
		return false;
	}
	if($("#ad_start").val()!="" && $("#ad_end").val()!="" ){
		 var time1 = $("#ad_start").val() ;
		 var time2 = $("#ad_end").val();
		 time1arr = time1.split("-");
		 time2arr = time2.split("-");
		 date1 = new Date(time1arr[0],time1arr[1],time1arr[2]);
		 date2 = new Date(time2arr[0],time2arr[1],time2arr[2]);
		 if(date1>date2){ 
			 parent.layer.msg('结束时间不得低于开始时间，请重新设定！', 2,8);
			 return false;
		}
	} 
	var item = $('input[name="ad_type"]:checked').val();
	
	if(!item){
		 parent.layer.msg('请选择一种广告类型！', 2,8); return false;
	}else{ 
		if(item=="word"&&$("input[name=word_info]").val()==""){
			parent.layer.msg('请填写文字信息！', 2,8); return false;
		}
	}
}
function replace_type(type){
	if(type=="word"){
		$("#word").attr("style","display:");
		$("#pic").attr("style","display:none");
		$("#flash").attr("style","display:none");
		$("#lianmeng").attr("style","display:none");
	}else if(type=="pic"){
		$("#word").attr("style","display:none");
		$("#pic").attr("style","display:");
		$("#flash").attr("style","display:none");
		$("#lianmeng").attr("style","display:none");
	}else if(type=="flash"){
		$("#word").attr("style","display:none");
		$("#pic").attr("style","display:none");
		$("#flash").attr("style","display:");
		$("#lianmeng").attr("style","display:none");
	}else if(type=="lianmeng"){
		$("#word").attr("style","display:none");
		$("#pic").attr("style","display:none");
		$("#flash").attr("style","display:none");
		$("#lianmeng").attr("style","display:");
	}
}
function adpic_url(){
	$("#typeid").html("<input  type='file' id='pic_url' name='ad_url' value='' class=\"input-text\"><label><input id='upload' type='radio' name='upload'  onclick='adpic_src();'>远程地址</label><label><input id='upload_pic' type='radio' checked name='upload' onclick='adpic_url();'>本地上传</label>");
}
function adpic_src(){
	$("#typeid").html("<input class='input-text'  type='text' id='pic_url' name='ad_url' value='{yun:}$ad_info.pic_url{/yun}'><label><input id='upload' checked type='radio' name='upload'>远程地址</label><label><input id='upload_pic' type='radio' name='upload' onclick='adpic_url();'>本地上传</label>");
} 
function adflash_url(){
	$("#flashid").html("<input  type='file'  name='ad_url' value='' class=\"input-text\"><label><input id='flash'  type='radio' name='flash'  onclick='adflash_src();' >远程地址</label><label><input id='upload_flash' type='radio' checked name='upload_flash' onclick='adflash_url();'>本地上传</label>");
}
function adflash_src(){
	$("#flashid").html("<input class='input-text'  type='text'  name='ad_url' value='{yun:}$ad_info.flash_url{/yun}'><label><input id='upload' checked type='radio' name='upload' >远程地址</label><label><input id='upload_pic' type='radio' name='upload' onclick='adflash_url();'>本地上传</label>");
}
</script>
<style>
* {margin: 0 ;padding: 0;}
body,div{ margin: 0 ;padding: 0;}
</style>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="admin_Prompt">
<div class="admin_Prompt_span">
    注意事项：添加广告时，请正确选择分类和类型。
</div><div class="admin_Prompt_close"></div></div>
  <div class="infoboxp_top">
      <span class="admin_title_span">{yun:}if is_array($ad_info){/yun}更新广告{yun:}else{/yun}添加广告{yun:}/if{/yun}</span>
      </div>
   <div class="clear"></div>
  <div class="admin_table_border">
  <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
  <form name="myform" target="supportiframe" action="{yun:}if is_array($ad_info){/yun}index.php?m=advertise&c=modify_save{yun:}else{/yun}index.php?m=advertise&c=ad_saveadd{yun:}/if{/yun}" method="post" encType="multipart/form-data" onsubmit="return checkform();">
    <table width="100%" class="table_form" style="background:#fff">
      <tr >
        <th width="200">广告名称：</th>
        <td>
        <input class="input-text" id="ad_name" value="{yun:}$ad_info.ad_name{/yun}" name="ad_name" size="30">
        <label><input type="checkbox" name="target" value="2" {yun:}if $ad_info.target!=1{/yun}checked{yun:}/if{/yun}>新窗口打开</label>
        </td>
      </tr>
     <tr class="admin_table_trbg">
        <th width="200">使用范围：</th>
        <td><input type="button" value="{yun:}if $domainname!=""{/yun}{yun:}$domainname{/yun}{yun:}else{/yun}全站{yun:}/if{/yun}" class="city_news_but" onClick="domain_show('{yun:}$domainnum{/yun}');">
        <input type="hidden" id="did" value="{yun:}$ad_info.did{/yun}" name="did"></td>
      </tr> 
     	<tr>
        <th width="200">广告所属分类：</th>
        <td><select name="class_id">
        	{yun:}foreach from=$class item=list{/yun}
        	<option value="{yun:}$list.id{/yun}" {yun:}if $list.id==$ad_info.class_id{/yun}selected{yun:}/if{/yun} >{yun:}$list.class_name{/yun}</option>
            {yun:}/foreach{/yun}
        </select></td>
      </tr> 
	  <tr class="admin_table_trbg">
        <th width="200">广告是否启用：</th>
        <td>
		<input name='is_open' value='1' type='radio' checked>启用
		<input name='is_open' value='0' {yun:}if '0'==$ad_info.is_open{/yun}checked{yun:}/if{/yun} type='radio'>关闭
		</td>
      </tr>
	  <tr>
        <th width="200">排序：</th>
        <td><input id="sort" class="input-text" value="{yun:}$ad_info.sort{/yun}" name="sort" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"><span class="admin_web_tip">越大越在前</span></td>
      </tr>
      <tr class="admin_table_trbg">
        <th width="200">开始时间：</th>
        <td>
        <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">  
		<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
        <input id="ad_start" class="input-text" type="text" readonly size="20" value="{yun:}$ad_info.time_start{/yun}" name="time_start"> 
        &nbsp;&nbsp;结束时间：
        <input id="ad_end" class="input-text" type="text" readonly size="20" value="{yun:}$ad_info.time_end{/yun}" name="time_end">
        <script type="text/javascript"> 
		var checkin = $('#ad_start').fdatepicker({
			format: 'yyyy-mm-dd',startView:4,minView:2
		}).on('changeDate', function (ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				checkout.update(newDate);
			}
			checkin.hide();
			$('#ad_end')[0].focus();
		}).data('datepicker');
		var checkout = $('#ad_end').fdatepicker({
			format: 'yyyy-mm-dd',startView:4,minView:2,
			onRender: function (date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker'); 
        </script>
          </td>
      </tr>
		<tr>
			<th width="200">备注：</th>
			<td><textarea class="text" cols="50" rows="3" name="remark">{yun:}$ad_info.remark{/yun}</textarea></td>
		</tr>
     	<tr>
        <th width="200">广告类型：</th>
        <td colspan="2">
        <label><input type="radio" id="word_ad" name="ad_type" value="word" onClick="replace_type('word');" {yun:}if $ad_info.ad_type=="word"{/yun}checked{yun:}/if{/yun}>文字广告</label>
          <label><input value="pic" type="radio" id="pic_ad" name="ad_type" onClick="replace_type('pic');" {yun:}if $ad_info.ad_type=="pic"{/yun}checked{yun:}/if{/yun}>图片广告</label>
         <label><input type="radio" value="flash" id="flash_ad" name="ad_type" onClick="replace_type('flash');"{yun:}if $ad_info.ad_type=="flash"{/yun}checked{yun:}/if{/yun}>FLASH广告</label>         
         <label><input type="radio" value="lianmeng" id="lianmeng_ad" name="ad_type" onClick="replace_type('lianmeng');"{yun:}if $ad_info.ad_type=="lianmeng"{/yun}checked{yun:}/if{/yun}>联盟广告</label>
          </td>
      </tr>
      <tr> 
      <td class="admin_table_trbg" colspan="2" style="padding:0; background:none">
      <table width="100%" id="word" style="display:none">
    	<tr class="admin_table_trbg">
           <th width="200" >文字信息：</th>
        <td ><input class='input-text' id="word_info" name='word_info' value='{yun:}$ad_info.word_info{/yun}'></td>
      </tr>
      <tr>
        <th>文字链接：</th>
        <td><input class='input-text' id="word_url" name='word_url' value='{yun:}$ad_info.word_url{/yun}'><span class="admin_web_tip">外部链接请加上“http://”</span></td>
      </tr>
      </table>
	   </td>
      </tr>
	  <tr>
      <td colspan="2" style="padding:0; background:none">
      <table id="pic" style="display:none;" width="100%">
      <tr class="admin_table_trbg">
        <th width="200" >图片地址：</th>
        <td  id='typeid'><input class='input-text' type='text' id='pic_url' name='pic_url' value='{yun:}$ad_info.pic_url{/yun}'  >
          <label><input id='upload' checked type='radio' name='upload'>远程地址</label>
          <label><input id='upload_pic' type='radio' name='upload' onclick='adpic_url();'>本地上传</label>
          </td>
      </tr>
      <tr>
        <th width="200">图片链接：</th>
        <td><input class='input-text' id="pic_src" name='pic_src' value='{yun:}$ad_info.pic_src{/yun}' ><span class="admin_web_tip">外部链接请加上“http://”</span></td>
      </tr>
      <tr class="admin_table_trbg">
        <th width="200">图片描述：</th>
        <td><input class='input-text' id="pic_content" name='pic_content' value='{yun:}$ad_info.pic_content{/yun}' ><span class="admin_web_tip">例如：公司名称或图片介绍，可留空</span></td>
      </tr>
      <tr>
        <th width="200">图片宽度：</th>
        <td><input class='input-text' id="pic_width" size='8'onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" name='pic_width' value='{yun:}$ad_info.pic_width{/yun}' style="width:90px;">px(像素) &nbsp;&nbsp;图片高度：<input class='input-text' id="pic_height" size='8' onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" name='pic_height' value='{yun:}$ad_info.pic_height{/yun}' style="width:90px;">px(像素)</td>
      </tr>
       </table>
	   <table id="flash" style="display:none;" width="100%">
		   <tr class="admin_table_trbg">
			<th width="200">FLASH地址：</th>
			<td id='flashid'><input class='input-text' id="flash_url"  name='flash_url' value='{yun:}$ad_info.flash_url{/yun}'   >
			  <label><input type='radio' id='flash' checked name='flash'>远程地址</label>
			 <label> <input type='radio' id='upload_flash' name='upload_flash'  onclick='adflash_url();'>本地上传</label>
             </td>
		  </tr>
		  <tr>
			  <th >FLASH宽度：</th>
			<td><input class='input-text' id="flash_width" name='flash_width' value='{yun:}$ad_info.flash_width{/yun}'>
            FLASH高度：<input class='input-text' id="flash_height" name='flash_height' value='{yun:}$ad_info.flash_height{/yun}'></td>
      </tr>
      </table>
      <table id="lianmeng" style="display:none;" width="100%">
		   <tr class="admin_table_trbg">
			<th width="200">联盟广告代码：</th>
			<td id='lianmengid'>
            <textarea class="text" cols="50" rows="3" id="lianmeng_url"  name='lianmengm_url'></textarea>
             </td>
		  </tr>
      </table>
      </td>
      </tr>
      {yun:}if is_array($ad_info){/yun}
      <input type="hidden" name="id" value="{yun:}$ad_info.id{/yun}">
      <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
      {yun:}/if{/yun}
      <tr class="admin_table_trbg">
        <td align="center" colspan="2">
        <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
        <input class="admin_submit4" type="submit" name="submit" value="&nbsp;提  交&nbsp;" />
        <input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
      </tr>
    </table>
  </form>
</div></div>
<script>
replace_type("{yun:}$ad_info.ad_type{/yun}");
</script>
<div id="domainlist" style="display:none;float:left">
	<div class="fz_city_news_cont" style="padding:10px;_height:{yun:}$ieheight{/yun}px;"> 
		<div class="admin_resume_dc">
			<label><span class="admin_resume_dc_s"><input type="radio" name="ndid" onClick="check_domain('全站','0')" value="0" checked class="fz_city_news_check">全站</label></span>
			{yun:}foreach from=$domain item=list{/yun}
			<label><span class="admin_resume_dc_s"><input type="radio" name="ndid" onClick="check_domain('{yun:}$list.webname{/yun}','{yun:}$list.id{/yun}')" {yun:}if $list.id==$news.did{/yun}checked{yun:}/if{/yun} value="{yun:}$list.id{/yun}" class="fz_city_news_check">{yun:}$list.webname{/yun}</label></span>
			{yun:}/foreach{/yun} 
		</div>
	</div>
</div>
</body>
</html>