<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
<script>
function checkpadd(){
	var quota=$.trim($("#quota").val()); 
	var stime=$.trim($("#stime").val());
	var etime=$.trim($("#etime").val());
	if(quota==''){parent.layer.msg('可抵额度不能为空！',2,8);} 
	if(stime==''||etime==''){
		parent.layer.msg('开始时间、结束时间不能为空！',2,8);
	}else{
		var st=toDate(stime);
		var ed=toDate(etime);
		if(st>ed){
			parent.layer.msg('开始时间不得大于结束时间', 2, 2);  
		}
	}
}
</script>
</head>
<body class="body_ifm"> 
<div class="infoboxp"> 
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top"><h6>添加卡号</h6></div>
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form name="myform" action="index.php?m=admin_prepaid&c=upcard" method="post" target="supportiframe" onSubmit="return checkpadd()">
      <table width="100%" class="table_form" style="background:#fff;"> 
		<tr>
          <th>卡　　号：</th>
          <td>{yun:}$info.card{/yun}</td>
        </tr> 
        <tr class="admin_table_trbg">
          <th>额　　度：</th>
          <td><input class="input-text" type="text" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" name="quota" id="quota" size="20" value="{yun:}$info.quota{/yun}"/></td>
        </tr>   
		<tr>
          <th>密　　码：</th>
          <td><input class="input-text" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" name="password" id="password" size="20" value="{yun:}$info.password{/yun}"/></td>
        </tr>  		
        <tr class="admin_table_trbg" >
        <th width="120">有效日期：</th>
        <td><link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">  
		<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
          <input id="stime" class="input-text" type="text" readonly value="{yun:}$info.stime|date_format:'%Y-%m-%d'{/yun}" name="stime"> </td>
      </tr>
      <tr >
        <th width="120">结束日期：</th>
        <td><input id="etime" class="input-text" type="text" readonly value="{yun:}$info.etime|date_format:'%Y-%m-%d'{/yun}" name="etime">
          <script type="text/javascript">
		  var checkin = $('#stime').fdatepicker({
			format: 'yyyy-mm-dd',startView:4,minView:2 
		}).on('changeDate', function (ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				checkout.update(newDate);
			}
			checkin.hide();
			$('#etime')[0].focus();
		}).data('datepicker');
		var checkout = $('#etime').fdatepicker({
			format: 'yyyy-mm-dd',startView:4,minView:2,
			onRender: function (date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			checkout.hide();
		}).data('datepicker'); 
        </script></td>
      </tr> 
        <tr class="admin_table_trbg" >
        <th width="120">状　　态：</th>
        <td><select name='type'>
			<option value="2" {yun:}if $info.type!='1'{/yun}selected="selected"{yun:}/if{/yun}>不可用</option>
			<option value="1" {yun:}if $info.type=='1'{/yun}selected="selected"{yun:}/if{/yun}>可用</option>
		</select></td>
      </tr>
        <tr >
          <td align="center" colspan="2"> 
            <input type="hidden" name="id" value="{yun:}$info.id{/yun}"/>
            <input type="hidden" name="cid" value="{yun:}$info.cid{/yun}"/>
            <input class="admin_submit2" type="submit" name="submit" value="&nbsp;更 新&nbsp;"  />             
            <input class="admin_submit2" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
        </tr>
      </table>
	  <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
    </form>
  </div>
</div>
</body>
</html>