<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}" />
<meta name="description" content="{yun:}$description{/yun}" />
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css" />
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.pagination li a,.#sidebar .menu_main h2 span,..yunuserEnterBox .yun_topLogin a.yun_More');
</script>
<![endif]-->
{yun:}if $ishtml{/yun}
<script src="{yun:}url m=ajax c=wjump{/yun}" language="javascript"></script>
{yun:}/if{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/reg_ajax.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/yunindex4.2.css" type="text/css" />
<script src="{yun:}$style{/yun}/js/index.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/search.js" type="text/javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/slides.jquery.js" type="text/javascript"></script>
</head>
<body class="yunIndexBody">
{yun:}include file="$tplstyle/index_header.htm"{/yun} 

 <script>
    $(document).ready(function(){
        $('.yunHeaderSearch_left').delegate('#search_name','click',function(){$(this).next().show();});
		$("img.lazy").lazyload();
    });
</script> 
<div class="yunw1024">
<div class="yun_Index_leftsidebar fl">
<div class="yun_Index_leftsidebar_tit yun_z_bg">职位分类<i class="yun_Index_leftsidebar_icon png"></i></div>
 <div id="sidebar">
      <div class="mainNavs"> 
        <!--放上去current--> 
        {yun:}foreach item=v key=key from=$job_index{/yun}
		{yun:}if $key<6{/yun}
        <div class="menu_box" aid="{yun:}$key{/yun}" id="jobclass{yun:}$key{/yun}">
          <div class="menu_main">
            <h2>{yun:}$job_name[$v]{/yun} <span ></span></h2>
            <div class="menu_main_b_h">
            {yun:}foreach item=vv from=$job_type[$v]{/yun} 
            <a href="{yun:}listurl t=index type=job1_son job1=$v job1_son=$vv{/yun}">{yun:}$job_name[$vv]{/yun} </a> {yun:}/foreach{/yun} 
            </div>
            </div>
          <div class="menu_sub dn" style="top: 0px;{yun:}if count($job_type[$v])<3{/yun}height:550px;{yun:}/if{/yun}" id="jobclass_{yun:}$key{/yun}"> {yun:}foreach item=vvl from=$job_type[$v]{/yun}
            <dl class="reset">
              <dt>
              		<a href="{yun:}listurl t=index type=job1_son job1=$v job1_son=$vvl{/yun}">{yun:}$job_name[$vvl]{/yun} </a>
              </dt>
              <dd> 
              {yun:}foreach item=vvv from=$job_type[$vvl]{/yun} 
              <a href="{yun:}listurl t=index type=job_post job1=$v job1_son=$vvl job_post=$vvv{/yun}">{yun:}$job_name[$vvv]{/yun} </a> 
              {yun:}/foreach{/yun} </dd>
            </dl>
            {yun:}/foreach{/yun} </div>
        </div>
		{yun:}/if{/yun}
        {yun:}/foreach{/yun} </div>
    </div>
</div>
<div class="yun_Index_rightsidebar fr">
      <div class="cont_Projector fl">
        <div class="Projector">
          <div class="Projector_img">
            <div id="slides" class="s_lb">
              <div class="slides_container">
               {yun:}adlist classid=3 item="lunbo" key=key{/yun}
                <div class="slide">{yun:}$lunbo.html{/yun}</div>
                {yun:}/adlist{/yun} 
               </div>
            </div>
          </div>
        </div>
      </div>
<!-- Index  login-->  
<div class="yun_Indexlogin fr">   
<div class="yun_Indexlogin_tit"> <span class="yun_Indexlogin_tit_s"><i class="yun_Indexlogin_tit_line yun_z_bg"></i>用户登录<i class="yun_Indexlogin_tit_sw"></i></span></div>
<div class="yun_Indexlogin_box ">
<div class="yun_Indexlogin_text">
<div><i class="yun_Indexlogin_icon"></i></div>
<input type="text" id="username" name="username" value="邮箱/手机号/用户名" class="yun_Indexlogin_t">
 <div class="index_logoin_msg none" id="show_name">
        <div class="index_logoin_msg_tx">请填写用户名</div>
        <div class="index_logoin_msg_icon"></div>
   </div>
</div>
<div class="yun_Indexlogin_text">
<div><i class="yun_Indexlogin_icon yun_Indexlogin_icon_m"></i></div>
<input type="text" id="password2" value="请输入密码" class="yun_Indexlogin_t">
<input type="password" id="password" name="password" class="yun_Indexlogin_t none" value="">
      <div class="index_logoin_msg none" id="show_pass">
	   <div class="index_logoin_msg_tx">请填写密码</div>
	   <div class="index_logoin_msg_icon"></div>
</div>
</div>
<div class="yun_Indexlogin_yzm_t">
<div><i class="yun_Indexlogin_icon yun_Indexlogin_yzm_icon"></i></div>
{yun:}if stripos($config.code_web,"前台登陆")!==false{/yun}
<input type="text" id="txt_CheckCode" name="authcode" value="验证码" class="yun_Indexlogin_yzm">
<a href="javascript:void(0);" onclick="check_codes();"><img id="vcode_imgs" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" width="60" height="30" class="yun_Indexlogin_yzm_img"></a>
<a href="javascript:void(0);" onclick="check_codes();" class="yun_Indexlogin_icon_m_hyh">换一换？</a>
{yun:}else{/yun}
<div class="yun_Indexlogin_zddl"><input type="checkbox" value=""> 下次自动登录</div>
{yun:}/if{/yun}
</div>
<div class="yun_Indexlogin_sub"><input type="submit" value="立即登录" class="yun_Indexlogin_bth" onclick="check_login('{yun:}url m=login c=loginsave{/yun}');"></div>
<div class="yun_Indexlogin_sub_fotg">还没有注册账号？<a href="{yun:}url m=forgetpw{/yun}" class="yun_Indexlogin_ft ">忘记密码?</a></div>
<div class="yun_Indexlogin_p"><a href="{yun:}url m=register usertype=2{/yun}" class="yun_text_color_login yun_text_color">企业注册</a><a href="{yun:}url m=register usertype=1{/yun}" class="yun_text_color_login_gr yun_text_color">个人注册</a></div>
</div>
</div>
<script>
$(document).ready(function(){
	$.post("{yun:}url m=ajax c=DefaultLoginIndex{/yun}",{},function(data){
		$(".yun_Indexlogin").html(data);
	});
});
</script>
<section>
<div class="yunIndex_box fl">
<div class="yunIndex_Emergencybox fl">
<div class="yunIndex_tit fl">
<span class="yunFamousenterprises_tit_s fl"><a href="{yun:}listurl type=tp v=1{/yun}" rel="nofollow" target="_blank">紧急招聘</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
<a href="{yun:}listurl type=tp v=1{/yun}" class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow" target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>
<div class="yunIndex_Emergency">
<ul class="yunIndex_Emergency_list">
 {yun:}joblist namelen=30 comlen=30   urgent='1' limit=6 item=urgent_list name=urgent_list1{/yun}
<li>
<div class="yunIndex_Emergency_left fl">
<aside class="zz_yun">
<div class="yunIndex_Emergency_leftjobname"><a href="{yun:}$urgent_list.job_url{/yun}" target="_blank" class="yunIndex_Emergency_Jobname yun_text_color">{yun:}$urgent_list.name{/yun}</a></div></aside>
<aside><div class="yunIndex_Emergency_p"><span class="yunIndex_Emergency_Xz">{yun:}if $urgent_list.job_salary!='面议'{/yun}￥{yun:}/if{/yun}{yun:}$urgent_list.job_salary{/yun}</span>{yun:}$urgent_list.job_exp{/yun}经验/{yun:}$urgent_list.job_edu{/yun}学历</div></aside>
<aside><div class="yunIndex_Emergency_p2"><a href="{yun:}$urgent_list.com_url{/yun}"  target="_blank" class="yunIndex_Emergency_name">{yun:}$urgent_list.com_name{/yun}</a></div></aside>
</div>
<div class="yunIndex_Emergency_logo fl"><a href="{yun:}$urgent_list.job_url{/yun}"><img src="{yun:}$urgent_list.logo{/yun}" width="148" height="60" alt="{yun:}$urgent_list.com_name{/yun}"></a></div>
</li>
 {yun:}/joblist{/yun}
</ul>
</div>
</div>
</div>
</section>
</div>
<!-- 名企--> 
<section>    
 <div class="yunFamousenterprises fl">    
 <div class="yunFamousenterprises_tit fl"><span class="yunFamousenterprises_tit_s fl"><a href="{yun:}url m=company rec=1{/yun}" rel="nofollow" target="_blank">名企招聘</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span><a href="{yun:}url m=company rec=1{/yun}" class="yunIndex_tit_more yun_text_color fr" rel="nofollow"target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>
<div class="yunFamousenterprises_box fl">
          <div class="Famous_recruitment_cont">
            <div class="index_left15560">
              <div id="mainids"> 
              {yun:}hotjob item=hotjoblist limit=24{/yun}
                <div class="tlogo">
                  <ul>
                    <li onmouseover="showDiv2(this)" onmouseout="showDiv2(this)"> <a href="{yun:}$hotjoblist.url{/yun}" target="_blank" class="tlogo_p_a"><img width="185" height="75" border="1" data-original="{yun:}formatpicurl path=$hotjoblist.hot_pic{/yun}" class="on lazy"src="{yun:}$hotjoblist.hot_pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" alt="{yun:}$hotjoblist.username{/yun}"/></a>
                      <div class="show">
                        <div class="area"><i class="area_icon"></i>{yun:}$hotjoblist.job{/yun}</div>
                      </div>
                    </li>
                  </ul>
                </div>
                {yun:}/hotjob{/yun} 
                </div>
            </div>
</div>
</div>
</div>
</section>
   <div class="clear"></div>
    <div class="index_w1024">
    <div class="index_banner_main">
      <div class="index_banner_cont">
        {yun:}adlist classid=13 limit=2 item=adlist_13{/yun}
        {yun:}$adlist_13.html{/yun}
        {yun:}/adlist{/yun}
        {yun:}adlist classid=14 limit=6 item=adlist_14{/yun}
        {yun:}$adlist_14.html{/yun}
        {yun:}/adlist{/yun}
        {yun:}adlist classid=15 limit=10 item=adlist_15{/yun}
        {yun:}$adlist_15.html{/yun}
        {yun:}/adlist{/yun} </div>
        </div>
    </div>
    <div class="clear"></div>
<section>
<div class="yunIndex_newbox fl">
<div class="yunIndex_newtit fl">
<span class="yunFamousenterprises_tit_s fl"><a href="{yun:}listurl type=tp v=2{/yun}"rel="nofollow"target="_blank">推荐职位</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
<a href="{yun:}listurl type=tp v=2{/yun}" class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow"target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>
<div class="yunIndex_con_box fl">
<div class="yunIndex_Recommend">
<ul class="yunIndex_Recommend_list">
 {yun:}joblist namelen=12 comlen=20 rec='1' limit=18 item=rec_list name=rec_list1{/yun}
<li>
<aside><div class="yunIndex_Recommend_job"><span class="yunIndex_Recommend_job_s"><a href="{yun:}$rec_list.job_url{/yun}" class="yunIndex_Recommend_jobname yun_text_color">{yun:}$rec_list.name_n{/yun}</a></span> <span class="yunIndex_Recommend_XZ">{yun:}if $rec_list.job_salary!='面议'{/yun}￥{yun:}/if{/yun}{yun:}$rec_list.job_salary{/yun}</span></div></aside>
<aside><div class="yunIndex_Recommend_p">{yun:}$rec_list.job_city_two|mb_substr:0:4:"gbk"{/yun} {yun:}$rec_list.job_city_three|mb_substr:0:4:"gbk"{/yun}<span class="yunIndex_Recommend_line">|</span>{yun:}$rec_list.job_exp{/yun}工作经验<span class="yunIndex_Recommend_line">|</span>{yun:}$rec_list.job_edu{/yun}</div></aside>
<aside><div class="yunIndex_Recommend_p2"><a href="{yun:}$rec_list.com_url{/yun}" class="yunIndex_Emergency_name">{yun:}$rec_list.com_n{/yun}</a></div></aside>
</li>
 {yun:}/joblist{/yun}
</ul>
</div>
</div>
</div>
</section>
<section>
<div class="yunIndex_newbox fl">
<div class="yunIndex_newtit fl">
<span class="yunFamousenterprises_tit_s fl"><a href="{yun:}url m=job c=search{/yun}"rel="nofollow"target="_blank">最新职位</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
<a href="{yun:}url m=job c=search{/yun}" class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow"target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>
<div class="yunIndex_con_box fl">
<div class="yunIndex_Newjob fl">
<ul class="yunIndex_Newjob_list fl">
 {yun:}joblist namelen=10 comlen=16  limit=20 item=new_list name=new_list1{/yun}
<li>
<div class="yunIndex_Newjob_left fl">
<div class="yunIndex_Newjob_t fl"><a href="{yun:}$new_list.job_url{/yun}" class="yunIndex_Newjob_name yun_text_color">{yun:}$new_list.name_n{/yun}</a> <span class="yunIndex_Newjob_t_date">{yun:}$new_list.time{/yun}</span></div>
<div class="yunIndex_Newjob_p fl"><span class="yunIndex_Newjobzx">{yun:}if $new_list.job_salary!='面议'{/yun}￥{yun:}/if{/yun}{yun:}$new_list.job_salary{/yun}</span>{yun:}$new_list.job_exp{/yun}经验/{yun:}$new_list.job_edu{/yun}学历</div>
</div>
<div class="yunIndex_Newjob_right fr">
<div class="yunIndex_Newcom_name"><a href="{yun:}$new_list.com_url{/yun}" class="yunIndex_Newcom_cname">{yun:}$new_list.com_n{/yun}</a></div>
</div>
</li>
 {yun:}/joblist{/yun}
</ul>
</div>
</div>
</div>
</section>
<section>
<div class="yunIndex_newbox yunIndex_newbox_pd fl">
<div class="yunIndex_newtit fl">
<span class="yunFamousenterprises_tit_s fl"><a href="{yun:}url m=resume c=search {/yun}"rel="nofollow"target="_blank">人才推荐</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
<a href="{yun:}url m=resume c=search {/yun}" class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow"target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>

<div class="yunIndex_user fl">
<ul class="yunIndex_user_list">
 {yun:}userlist item=ulist post_len=10 limit=12 key=key name=userlist1{/yun}
<li>
<div class="yunIndex_user_pic">
<a href="{yun:}url m=resume  c=show id='`$ulist.id`'{/yun}" target="_blank"><img width="80" height="100" data-original="{yun:}$ulist.photo{/yun}" class="lazy" src="{yun:}$ulist.photo{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);" />
<i class="yunIndex_user_pic_bg png"></i></a></div>
<div class="yunIndex_user_p yunIndex_user_name"><a class="cblue blod" href="{yun:}url m=resume  c=show id='`$ulist.id`'{/yun}" target="_blank">{yun:}$ulist.username_n{/yun}</a></div>
<div class="yunIndex_user_p">{yun:}$ulist.age{/yun}岁<span class="yunIndex_user_line">|</span>{yun:}$ulist.exp_n{/yun}<span class="yunIndex_Recommend_line">|</span>{yun:}$ulist.edu_n{/yun}</div>
<div class="yunIndex_user_p_yx">意向：{yun:}$ulist.job_post_n{/yun}</div>
 <div class="com_index_rue_list fl"></div>
</li>
   {yun:}/userlist{/yun}
</ul>
</div>
</div>
</section>
<section>
<div class="yunIndex_newbox fl">
<div class="yunIndex_newtit fl">
<span class="yunFamousenterprises_tit_s fl"><a href="{yun:}url m=article{/yun}"rel="nofollow"target="_blank">职场资讯</a><i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
<a href="{yun:}url m=article{/yun}" class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow"target="_blank">查看更多<i class="yunIndex_tit_more_icon"></i></a></div>
	<div class="yunIndex_con_box fl">
        {yun:}article rec=1 limit=8 pic=1 t_len=18 d_len=24 type=t urlstatic=1 item=indexnews name=newlist2{/yun}
          <div class="index_news_content"> {yun:}if $indexnews.pic{/yun}
            <dl class="index_news_top">
              <dt> <a href="{yun:}$indexnews.pic.0.url{/yun}"> <img width="100" height="80" data-original="{yun:}$config.sy_weburl{/yun}/{yun:}$indexnews.pic.0.newsphoto{/yun}" class="lazy" src="" alt="{yun:}$indexnews.pic.0.title{/yun}"/> </a> </dt>
              <dd> <strong><a href="{yun:}$indexnews.pic.0.url{/yun}">{yun:}$indexnews.pic.0.title{/yun}</a></strong> <span>{yun:}$indexnews.pic.0.description{/yun}...</span> <a href="{yun:}$indexnews.pic.0.url{/yun}" target="_blank">[详细]</a> </dd>
            </dl>
            {yun:}/if{/yun}
            <div class="index_news_right">
              <ul>
                {yun:}if $indexnews.arclist{/yun}
                {yun:}foreach from=$indexnews.arclist item=arcitem{/yun}
                <li>[{yun:}$arcitem.name{/yun}] <a href="{yun:}$arcitem.url{/yun}" target="_blank">{yun:}$arcitem.title{/yun}</a></li>
                {yun:}/foreach{/yun}
				{yun:}/if{/yun}
              </ul>
            </div>
          </div>
          {yun:}/article{/yun} 
	</div>
</div>
</section>
<section>
	<div class="yunIndex_newbox fl">
		<div class="yunIndex_newtit fl">
        <span class="yunFamousenterprises_tit_s fl">友情链接<i class="yunFamousenterprises_tit_i yun_z_bg"></i></span>
			{yun:}if $config.sy_linksq==0{/yun} <a href="{yun:}url m=link{/yun}"  class="yunIndex_tit_more yun_text_color yunIndex_tit_more_mt fr" rel="nofollow">申请链接<i class="yunIndex_tit_more_icon"></i></a>{yun:}/if{/yun}
		</div>
		<div class="yunIndex_con_box fl"> 
			<div class="index_link_list_img"> {yun:}link type=2 tem_type=2 item=linklist{/yun} <a href="{yun:}$linklist.link_url{/yun}" target="_blank"><img class="lazy" src="" data-original="{yun:}$linklist.pic{/yun}" width="120" height="35" alt="{yun:}$linklist.link_name{/yun}" /></a> {yun:}/link{/yun} </div>
			<div class="index_link_list_name"> {yun:}link type=1 tem_type=2 item=linklist2{/yun} <a href="{yun:}$linklist2.link_url{/yun}" target="_blank"> {yun:}$linklist2.link_name{/yun}</a> {yun:}/link{/yun} </div> 
		</div>
	</div>  
</section>
<div class="clear"></div> 
</div>
<script>
$(document).ready(function(){
	$(".index_new_job li").hover(function(){
		var aid=$(this).attr("aid");
		$("#joblist"+aid).addClass("index_new_job_hover");	
	},function(){
		var aid=$(this).attr("aid");
		$("#joblist"+aid).removeClass("index_new_job_hover");	
	})   
	$(".menu_box").hover(function(){
		var aid=$(this).attr("aid");
		var ftop=Number($(this).offset().top); 
		var sheight=Number($("#jobclass_"+aid).height());  
		if(aid=='0'){ 
			$("#jobclass_"+aid).css("top","0px"); 
		}else if(sheight>ftop){ 
			$("#jobclass_"+aid).css("top","0px"); 
		}else if(ftop>sheight&&Number(sheight)<250){  
			var isIE6=!window.XMLHttpRequest;
			if (isIE6){
				var top=Number(ftop)-Number(99);
			}else if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.match(/9./i)=="9."){
				var top=Number(ftop)-Number(94);
			}else{ 
				var top=Number(ftop)-Number(94);
			}  
			$("#jobclass_"+aid).css("top",top+"px"); 
 		}else if(Number(sheight)>250){ 
			var top=Number(ftop)-Number(320);
			$("#jobclass_"+aid).css("top",top+"px"); 
		} 
		$("#jobclass"+aid).addClass("current");	
		$("#jobclass_"+aid).attr("class","menu_sub db");
	},function(){
		var aid=$(this).attr("aid");
		$("#jobclass"+aid).removeClass("current");	
		$("#jobclass_"+aid).attr("class","menu_sub dn");	
	})  
	$(".select_wrap").hover(function(){
		$(".select_wrap_list").show();
	},function(){
		$(".select_wrap_list").hide();
	})  
	$("#slides").slides({
		preload: true,
		preloadImage: '{yun:}$style{/yun}/images/loading.gif',
		play: 5000,
		pause: 2500,
		hoverPause: true
	});
	$.get('{yun:}url m=ajax c=footertj{/yun}',function(data){
		$('.tip_bottom_left').html(data)
	});
})
</script> 
<div class="tip_bottom" >
  <div class="tip_bottom_bg">
    <div class="tip_bottom_main" >
    <div class="tip_bottom_icon png"></div>
      <div class="tip_bottom_left fl">
        <a href="javascript:void(0);" onclick="$('.tip_bottom').hide();" class="tip_bottom_close png"></a>
        <span class="tip_bottom_logo fl">
          <h2>发现更多新的职位信息</h2>
        </span>
        <div class="tip_bottom_num fl"><span>0</span>公司</div>
        <div class="tip_bottom_num fl"><span>0</span>职位</div>
        <div class="tip_bottom_num fl"><span>0</span>简历数</div>
        <a href="{yun:}url m=login{/yun}" class="tip_bottom_login fl">登录</a>
        <a href="{yun:}url m=register usertype=1{/yun}" class="tip_bottom_reg fl" >快速注册<i class="tip_bottom_reg_icon"></i></a>
      </div>
    </div>
  </div>
</div>
      <div id="bg"></div>
      {yun:}include file="$tplstyle/backtop.htm"{/yun}
      <div id='footer_ad'> {yun:}adlist classid=10 item=footer_ad{/yun}
        <div class="footer_ban" id="">
          <div class="baner_footer" id='bottom_ad_fl'> <span class="ban_close" onclick="colse_bottom()">关闭</span> {yun:}$footer_ad.html{/yun} </div>
          <input type="hidden" value='1' id='bottom_ad_is_show' />
        </div>
        {yun:}/adlist{/yun}
        {yun:}adlist classid=11 key=key item=left_ad{/yun}
        <div class="duilian {yun:}if $key=='0'{/yun}duilian_left{yun:}else{/yun}duilian_right{yun:}/if{/yun}">
          <div class="duilian_con">{yun:}$left_ad.html{/yun}</div>
          <div class="close_container">
            <div class="btn_close"></div>
          </div>
        </div>
        {yun:}/adlist{/yun} </div>
{yun:}include file="$tplstyle/footer.htm"{/yun}