@charset "gb2312";
/* CSS Document */
* {margin:0;padding: 0;}
body {font: 14px "微软雅黑", "Arial Narrow", HELVETICA;background:#f4f4f4;}
a {color: #666666;text-decoration: none;}
img {border: medium none;}
.none{display:none;}
body, ul, ol, li, dl, dt, dd, div, span, b, form, img, p, pre {border: 0 none;list-style: none outside none;margin: 0;padding: 0;}
.clear {clear: both;}
.yun_resume_content{width:800px; margin:0 auto}
.yun_resume_new_content{width:720px; float:left; }
.yun_resume_header{width:100%; float:left; padding:20px 0; position:relative; z-index:10000}
.yun_resume_logo{width:; float:left}
.yun_resume_logo_zt{ float:right; position:absolute;right:0px;bottom:10px;}
.yun_resume_logo_zt_n{ color:#f60;}
.yun_resume_logo_zt_list{ display:inline-block; padding:0px 20px;}
.yun_resume_operation_p{width:100%; float:left; padding:10px 0;}
.yun_resume_resumename{ float:left}
.yun_resume_resumename_c{color:#06F; padding-left:10px}
.yun_resume_resumename_name{ float:left}
.yun_resume_resumename_qh{ float:left; padding-left:50px;}
.list  .agleft{ text-align:left; text-indent:10px;}
.resume_sub_yq{width:76px;height:26px; line-height:26px; text-align:center; cursor:pointer;color:#963; background:url(../images/yun_firm_sub1.jpg) no-repeat;border:none;}
.rem_chlose_left{width:180px;height:60px; line-height:60px; text-align:center; background:#f60; font-size:18px; font-family:microsoft yahei,宋体;color:#fff;}
.list_bg_right_r{ background:#f8f8f8 url(../images/r_right_bg.png) repeat-y right}
.fixed_left{ position:fixed; float:left; left:50px; top:200px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+200));}
.resume_template{ width:140px;height:50px; line-height:50px;font-size:16px; color:#993; cursor:pointer; background:#e7e7e7 url(../images/jianli_jt.gif) no-repeat 150px center; margin-top:10px; padding-left:40px; font-family:microsoft yahei,宋体;}
.resume_template a{ display:block;}
.resume_template_bg{ background:#898887;color:#fff;}
.resume_template_mor{ background:#898887 url(../images/jianli_jt2.gif) no-repeat 150px center;color:#fff;}
.fairs_introduction_p {font-size:14px;line-height:25px;color:#282828;padding:20px 0 20px 0px;}
.fairs_introduction_img li {width:215px;float:left;border:1px solid #e2e2e2;background:#fff;padding:2px; margin-right:10px;}
.fairs_introduction_img li img {display:block}
.dom_resume_sp_img{width:708px}
.resume_box{width:835px; margin:0 auto}
.resume_logo{ float:left;padding:20px 0;}
.resume_cur{width:100%; float:left;}
.resume_cur_l{ float:left}
.resume_cur_r{ float:right}
.resume_content{width:810px; background:#fff; float:left;position:relative}
.resume_r_l{ margin-left:20px; font-size:12px;}
.resume_r_l strong{ font-weight:bold;color:#f60}
.resume_content_top_box{width:769px; padding:20px;  background:#fafafa; float:left}
.resume_content_left{width:680px; float:left}
.resume_content_name{color:#999;width:100%; padding-bottom:15px;}
.resume_content_name_s{ font-size:24px; margin-right:10px;color:#000}
.resume_ans{background:url(../images/res_show.png) no-repeat; width:179px; padding-left:10px; display:inline-block; color:#fff; line-height:20px; font-size:12px; position:absolute;left:260px;bottom:-50px; z-index:100000}
.one_vita_name_yrz{ margin-left:10px;}
.resume_content_right{ float:right}
.resume_content_right_photo{width:80px;height:100px;border:1px solid #ddd; padding:2px; overflow:hidden}
.resume_content_msg_c{ display:inline-block;width:120px; float:left; line-height:28px; margin-right:20px;}
.resume_content_msg_span{ display:inline-block;color:#666}
.resume_content_h1{width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-top:20px;}
.resume_content_h1 .resume_content_h1_icon{ width:32px;height:32px; display:inline-block; background:url(../images/jl_icon.png) no-repeat; float:left}
.resume_content_h1 .resume_content_h1_icon1{ background-position:0 0;}
.resume_content_h1 .resume_content_h1_icon2{ background-position:0 -32px;}
.resume_content_h1 .resume_content_h1_icon3{ background-position:0 -64px;}
.resume_content_h1 .resume_content_h1_icon4{ background-position:0 -128px;}
.resume_content_h1 .resume_content_h1_icon5{ background-position:0 -192px;}
.resume_content_h1 .resume_content_h1_icon6{ background-position:0 -224px;}
.resume_content_h1 .resume_content_h1_icon7{ background-position:0 -192px;}
.resume_content_h1 .resume_content_h1_icon8{ background-position:0 -64px;}
.resume_content_h1 .resume_content_h1_icon9{ background-position:0 -128px;}
.resume_content_h1 .resume_content_h1_icon10{ background-position:0 -64px;}
.resume_content_h1 .resume_content_h1_icon11{ background-position:0 -128px;}
.resume_jl_box_tc{width:100%; float:left; margin-top:5px;}
.resume_content_h1_name{ font-size:18px; float:left; margin-top:3px;}
.resume_content_box{width:740px; float:left; padding:0px 30px 30px 30px;}
.resume_content_yx_list{width:350px; float:left; line-height:35px;}
.resume_content_yx_list_w100{width:100%;color:#f60}
.resume_c6{color:#948f8f}
.resume_content_yx_cont{width:100%; float:left; }
.resume_jl_box{width:690px; float:left;border-left:2px solid #f5f5f5; padding-left:30px; margin-top:10px; margin-left:10px; line-height:23px;word-wrap: break-word;}
.resume_jl_list{width:100%; position:relative; margin-top:15px; line-height:26px;}
.resume_jl_list_icon{ display:block;width:10px;height:10px; background:#0393d6; position:absolute;left:-36px;top:8px;border-radius:50%; overflow:hidden}
.resume_jl_time{color:#878e92}
.resume_jl_post_name{font-weight:bold; font-size:16px;}
.resume_jl_qy_name{ }
.resume_jl_post_name .resume_jl_bm{ font-size:14px; font-weight:normal;color:#878e92; margin-left:10px;}
.foot{ padding:20px 0; text-align:center}
.resume_jl_box_t1{ display:inline-block; float:left}
.resume_jl_box_t2{ float:left; font-style:normal}
.resume_jl_box_tp{width:100%; text-align:center; padding:20px 0;}
.resume_jl_box_tp a{color:#456dab; text-decoration:underline}
.btn{width:600px; float:left; text-align:center; padding:20px 0; padding-left:140px;}
.resume_jl_p{word-wrap: break-word;}
.btn_1{width:85px;height:30px; line-height:30px;border:none; background:#456dab;color:#fff; cursor:pointer; font-family:微软雅黑; margin-right:10px; float:left; }
.btn_down{width:85px;height:30px;background:#456dab;color:#fff; line-height:30px; text-align:center;}
.resume_content_msg_span_fl{ float:left}
/*邀请面试*/
.city_1 {background: none repeat scroll 0 0 #FFFFFF;color: #666666;line-height: 24px;width: 100%;float: left;}
.city_01 {display: block;float: left;line-height: 22px;width: 80px;text-align: right;font-size: 14px;}
.city_1 .city_3 {float: left;margin-top: 10px;width: 360px;}
.city_1 .city_3 input{ border:1px solid #ddd; height:26px; line-height:26px;}
.city_1 .city_3 dt {color: #000000;float: left;width: 360px;}
.city_1 .city_3 input {display: block;float: left;}
.city_1 .city_3 .resyme_text {width: 230px;float: left;border-color: #CCCCCC #DBDBDB #DBDBDB #CCCCCC;border-radius: 2px 2px 2px 2px;border-style: solid;
border-width: 1px;font-size: 12px;height: 95px;line-height: 23px;padding: 2px;}
.resume_sub_yq {width: 76px;height: 26px;line-height: 26px;text-align: center;cursor: pointer;color: #963;background: url(../images/yun_firm_sub1.jpg) no-repeat;border: none;}
.fairs_introduction_img{width:100%}
.fairs_introduction_img li{width:215px; float:left; margin-top:10px; margin-right:10px;}
/*下载简历提示*/
.Download_resume_tips{width:500px; background:#fff; padding:20px; font-size:14px;}
.Download_resume_tips_h1{border-bottom:1px solid #ddd; padding-bottom:20px; font-size:16px; font-weight:bold}
.Download_resume_tips_h1 .Download_resume_tips_h1_s{ font-size:18px;color:#f60; font-style:normal; font-weight:bold}
.Download_resume_con_list{width:100%;}
.Download_resume_tips_p{ line-height:30px; text-align:left; padding:10px 0;}
.Download_resume_tips_p .Download_resume_tips_p_span{ display:inline-block; word-spacing:normal}
.Download_resume_cont{width:500px;height:380px; overflow:auto}
.Download_resume_tips_c{color:#093; font-style:normal; font-weight:bold}
.Download_resume_tips_f{color:#f60; font-style:normal; font-weight:bold}
.Download_resume_tips_cf{color:#999; font-style:normal; }
.Download_resume_tips_rad{width:13px;height:13px; overflow:hidden; vertical-align:middle; margin-right:5px; margin-left:5px;}
.Download_resume_tips_cur{background:#f8f8f8;}
.Download_resume_tips_yhq{width:100%; padding:5px 0}
.Download_resume_tips_yhq a{color:#f60;}
.Download_resume_tips_jine{width:100%; padding:10px 0; font-size:14px; font-weight:bold; text-align:center}
.Download_resume_tips_jine .Download_resume_tips_f{ font-size:20px;}
.Download_resume_tips_bth{width:100%;padding:10px 0; text-align:center}
.Download_resume_tips_sub{width:110px;height:40px; background:#f60;color:#fff;border:none; font-size:14px; font-weight:bold; cursor:pointer;font-family:microsoft yahei,宋体;}
.Download_resume_cont_list{width:100%; float:left}

.resume_con_identity{display:block; float:left; padding-top:3px;}
.resume_jl_box_t2 img{float:left;}
.resume_beizu_text{border:1px solid #ddd;width:340px;height:90px;}
.resume_beizu_bth{width:80px;height:30px; background:#1369c0;border:none;color:#fff; cursor:pointer}
.resume_rz{ width:85px; margin:5px 0 0 0;}
.resume_rz a{width:85px; height:30px; background:#f60; border-radius:2px; float:left; color:#fff; line-height:30px; text-align:center;}

.city_1 .city_3 .interview_inp{ width:275px;}
.yun_resume_foot{line-height: 25px;color: #816e74;margin-top: 10px; width:100%; padding:10px 0;text-align:center}
.expext_yl_box_bth{width:100%; position:fixed;bottom:0px;left:0px; background:rgba(0,0,0,0.5); text-align:center; padding:10px 0;}
.expext_yl_box_bth .expext_yl_box_sub{width:176px;height:42px; line-height:42px; text-align:center; background:#f60;border-radius:3px; display:inline-block;color:#fff; font-size:16px;text-decoration:none; }
.yun_resume_operation{ position:fixed;right:100px;top:200px; _position:relative}
.yun_resume_operation_box{width:140px;border:1px solid #ddd; background:#fff;}
.yun_resume_operation_box_h1{width:100%; padding:10px 0; text-align:center;border-bottom:1px solid #ddd; background:#f8f8f8; font-size:16px; }
.vita_Opera_cz_list{width:100%;height:40px; position:relative}
.yun_resume_cz_sub{ background:#fff;border:none;width:100%; height:100%; line-height:40px;color:#000;font-size:15px; cursor:pointer; text-align:left; text-indent:50px; display:block}
.yun_resume_cz_sub_cor{color:#f60}
.yun_resume_cz_sub:hover{ background:#f8f8f8; text-decoration:none}
.vita_Opera_cz_list_icon{width:28px;height:28px; display:block; position:absolute;left:10px;top:8px; }
.vita_Opera_cz_list_icon_xz{background:url(../images/yun_resume_xz.png) no-repeat}
.vita_Opera_cz_list_icon_sc{background:url(../images/yun_resume_sc.png) no-repeat}
.vita_Opera_cz_list_icon_yq{background:url(../images/yun_resume_ms.png) no-repeat}
.vita_Opera_cz_list_icon_dy{background:url(../images/yun_resume_dy.png) no-repeat}
.vita_Opera_cz_list_icon_fx{background:url(../images/yun_resume_fx.png) no-repeat}