<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>提示信息 - {yun:}$config.sy_webname{/yun} - Powered by PHPYun.</title>
<META content="{yun:}$job_arr_msg{/yun}" name="Keywords">
<META content="{yun:}$job_arr_msg{/yun}" name="Description">
<link href="{yun:}$config.sy_weburl{/yun}/app/template/member/style/msg.css" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script> 
<link rel="stylesheet" href="{yun:}$style{/yun}/style/yunindex4.2.css" type="text/css" />
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css" />
<SCRIPT>
function TimeOut(i){
	if(i>1){
		i=i-1;
		$("#times").html(i);
		setTimeout("TimeOut("+i+");",1000);
	}else{
		window.location.href='{yun:}$url{/yun}';
	}
} 
</SCRIPT>
</head>
<body onLoad="TimeOut('5')" class="" style="background:#f8f8f8">
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="clear"></div>
<div class="w1000">
<div class="err_w500">
<div class="err_w500_tit">友情提示</div>
<dl class="err_box">
<dt class="err_left">&nbsp;</dt>
<dd><div class="err_con">
<div class="err_h">{yun:}$msg{/yun}</div>
<div class="err_p"><span class="err_none"><i class="err_none_s"><span id="times">9</span>秒</i>后自动跳转，如果浏览器没有跳转，请点击立即跳转</span>
</div>
<div class="err_b"><a href="{yun:}$url{/yun}" class="err_b_a">立即跳转</a></div>
</div>
</dd>
</dl>





</div>
<div class="clear"></div>

</div> 

{yun:}include file="$tplstyle/footer.htm"{/yun}
