
<!--简历置顶-->
<script>
function cktopspan(day,price){
	var disval=$('input[name="dis"]:checked ').val();
	if(disval&&day!=disval){
		$("input[name=dis][value="+disval+"]").attr("checked",false);
	}
	$("input[name=dis][value="+day+"]").attr("checked",true);
	var needs=day*price;
	$("#price").html(needs);
}
</script>
<div id="resumetop" style="display:none;">
    <div class="admin_Operating_sh" style="padding:10px; ">
     <form action="index.php?c=resume&act=rtop" target="supportiframe" name="myform" method="post">
         <div class="stick_msg">置顶简历：<i id="resumename"></i></div>
         <div class="stick_msg">置顶结束时间：<span id='topdate'></span></div>
         <div class="stick_tm">
              <div class="stick_tm_ft">置顶时长：</div>
              <ul class="stick_tm_box">
                   <lable for="dis1">
                          <li>
                              <input type="radio" class="stick_tm_box_radio" value="1" name="dis" onclick="cktop('1','{yun:}$config.integral_resume_top{/yun}')"/>
                              <span class="stick_tm_box_time" onclick="cktopspan('1','{yun:}$config.integral_resume_top{/yun}')">1天</span>
                          </li>
                   </lable>
                   <lable for="dis3">
                          <li>
                              <input type="radio" class="stick_tm_box_radio" value="3" name="dis" onclick="cktop('3','{yun:}$config.integral_resume_top{/yun}')"/>
                              <span class="stick_tm_box_time"onclick="cktopspan('3','{yun:}$config.integral_resume_top{/yun}')">3天</span>
                          </li>
                   </lable>
                   <lable for="dis7">
                          <li>
                              <input type="radio" class="stick_tm_box_radio" value="7" name="dis" onclick="cktop('7','{yun:}$config.integral_resume_top{/yun}')"/>
                              <span class="stick_tm_box_time"onclick="cktopspan('7','{yun:}$config.integral_resume_top{/yun}')">7天</span>
                          </li>
                   </lable>
                   <lable for="dis15">
                          <li>
                              <input type="radio" class="stick_tm_box_radio" value="15" name="dis" onclick="cktop('15','{yun:}$config.integral_resume_top{/yun}')"/>
                              <span class="stick_tm_box_time"onclick="cktopspan('15','{yun:}$config.integral_resume_top{/yun}')">15天</span>
                          </li>
                   </lable>
                   <lable for="dis30">
                          <li style="margin-top:10px;">
                              <input type="radio" class="stick_tm_box_radio" value="30" name="dis" onclick="cktop('30','{yun:}$config.integral_resume_top{/yun}')"/>
                              <span class="stick_tm_box_time"onclick="cktopspan('30','{yun:}$config.integral_resume_top{/yun}')">30天</span>
                          </li>
                   </lable>
              </ul>
         </div>
         <div class="stick_rage">
              <span>应付{yun:}$config.integral_pricename{/yun}：<em id="price">0</em></span> <br/>
              <span>您当前可用{yun:}$config.integral_pricename{/yun}：<em>{yun:}$statis.integral{/yun}</em></span>
         </div>
         <div class="stick_rage_bt">
              <input type="hidden" name="eid" value="">
              <input class="stick_rage_bt_but" type="submit" name="submit" value="确定支付"/>
         </div>
         </form>
    </div>
</div>
<!--简历置顶end-->
<div class="clear"></div>
<div class=foot><div class=copyright>{yun:}$config.sy_webcopyright{/yun} 电话(Tel):{yun:}$config.sy_webtel{/yun}</div></div>
<div id="uclogin" style="display:none"></div>
<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
</body>
</html>