{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_user_member_w1100"> {yun:}include file="$userstyle/left.htm"{/yun}
  <div class="mian_right fltR mt20">
      <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">申请的职位</span> <i class="member_right_h1_icon user_bg"></i></div>
    <div class="resume_box_list">
      <div class="resume_Prompt">您已申请 <span style="color:red;">{yun:}$total{/yun}</span> 条职位,请耐心等待企业回复！</div>
      <div class="clear"></div>
      <div id="gms_showclew"></div>
      <form action="index.php" method="get" target="supportiframe" id='myform'>
      <input type="hidden" name="c" value="job" />
      <input type="hidden" name="act" value="del" />
      {yun:}if !empty($rows){/yun}
      <div class="List_Ope List_Title mt12"> 
      <span class="List_Title_span List_Title_w260" style="width:340px;">申请的职位</span> 
      <div class="job_applied_position">
      <div class="job_applied_position_text_box"><input class="job_applied_position_text" type="button" onclick="search_show('job_browse');" {yun:}if $smarty.get.browse{/yun}value="{yun:}$StateList[$smarty.get.browse]{/yun}"{yun:}else{/yun}value="投递反馈"{yun:}/if{/yun} id="browse">
      <input type="hidden" id="browseid" name="browse"  {yun:}if $smarty.get.jobid{/yun} value="{yun:}$smarty.get.browse{/yun}"{yun:}/if{/yun}/>
       <div class="job_applied_position_text_list" style="display:none" id="job_browse">
		<ul class="">
        {yun:}foreach item=v from=$StateList key=key{/yun}
        <li><a href="index.php?c=job&browse={yun:}$key{/yun}">{yun:}$v{/yun}</a></li>
        {yun:}/foreach{/yun}
        </ul>
        </div>
      </div>
      </div>
        <div class="job_applied_position">投递简历名称</div>
        <div class="job_applied_position">
      <div class="job_applied_position_text_box"><input class="job_applied_position_text" type="button" onclick="search_show('job_datetime');" {yun:}if $smarty.get.datetime{/yun}value="{yun:}$search_list[$smarty.get.datetime]{/yun}"{yun:}else{/yun}value="投递时间"{yun:}/if{/yun} id="datetime">
      <input type="hidden" id="datetimeid" name="datetime"  {yun:}if $smarty.get.jobid{/yun} value="{yun:}$smarty.get.browse{/yun}"{yun:}/if{/yun}/>
      <div class="job_applied_position_text_list" style="display:none" id="job_datetime">
		<ul class="">
        {yun:}foreach item=v from=$search_list key=key{/yun}
        <li><a href="index.php?c=job&datetime={yun:}$key{/yun}">{yun:}$v{/yun}</a></li>
        {yun:}/foreach{/yun}
        </ul>
      </div>
 </div>
 </div> 
 <span class="List_Title_span List_Title_w80">操作</span>
  </div>
      {yun:}/if{/yun}
      {yun:}foreach item=job from=$rows{/yun}
      <div class="List_Ope List_Ope_bor">
      <span class="List_Title_span List_Title_span_n">
          <input type=checkbox name="delid[]" value="{yun:}$job.id{/yun}" class="List_Title_span_check">
          </span>
       <span class="List_Title_span List_Title_w260" style="width:310px;">
        <div class=""> {yun:}if $job.type==1{/yun} 
        <a href="{yun:}url m=job c=comapply id='`$job.job_id`'{/yun}" target="_blank" title="{yun:}$job.job_name{/yun}" class="List_Title_span_com">{yun:}$job.job_name{/yun}</a> 
       
        {yun:}/if{/yun} 
        </div>
        
        <a href="{yun:}url m=company c=show id='`$job.com_id`'{/yun}" target="_blank" title="{yun:}$job.com_name{/yun}"class="List_Ope_a">{yun:}$job.com_name{/yun} </a> </span> 
        <div class="job_applied_position job_applied_position_mt10 {yun:}if $job.is_browse>1{/yun}statuscolor{yun:}/if{/yun}">{yun:}$StateList[$job.is_browse]{/yun}</div>
   <div class="job_applied_position job_applied_position_mt10">{yun:}$job.resume_name{/yun}</div>
    <div class="job_applied_position job_applied_position_mt10">{yun:}$job.datetime|date_format:'%Y-%m-%d'{/yun}</div>
      <span class="List_Title_span List_Title_w80 mt10"> 
      <!--批量取消-->
      
      {yun:}if $job.quxiao=='1'{/yun}
      <span class="List_dete" style="color:#999;">已取消申请</span><br/>
      <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=job&act=del&id={yun:}$job.id{/yun}');" class="List_dete cblue" >删除</a>
      {yun:}else{/yun}
        {yun:}if $job.body!=''{/yun} <span class="List_dete" style="color:#999;">已取消申请</span><br/>
        {yun:}/if{/yun}
        {yun:}if $job.is_browse=='1'&&$job.body==''{/yun} <a href="javascript:void(0)" onclick="quxiaoshenqin({yun:}$job.id{/yun});" class="List_dete cblue" >取消申请</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=job&act=del&id={yun:}$job.id{/yun}');" class="List_dete cblue" >删除</a> {yun:}/if{/yun} 
       {yun:}/if{/yun}  
               
        </span> </div>
      <div class="clear"></div>
      {yun:}foreachelse{/yun}
      <div class="msg_no">
      <p>亲爱的用户，您还没有申请过职位，想要获得更多工作机会</p>
  <p>立即搜索您感兴趣的职位并申请吧！</p>
<a href="{yun:}url m=job{/yun}" target="_blank"class="msg_no_sq uesr_submit">立即搜索我感兴趣的职位>></a>
</div>
      {yun:}/foreach{/yun}
       </div>
      {yun:}if $rows{/yun}
      <div class="" style="width: 870px;
    padding-left: 10px;">
      <div class="List_Ope List_Ope_bg"> <span class="List_Title_span List_Title_span_n">
        <input id="checkAll" type="checkbox" onclick="m_checkAll(this.form)" class="List_Title_span_check_n mt5">
        </span>
        <input type="button" name="subdel" value="批量取消" onclick="return really_quxiao('delid[]');" class="member_index_resume_t_cz_bth uesr_submit">
      </div>
    
     <div class="diggg" style="margin-top:10px; float:right">{yun:}$pagenav{/yun}</div>  </div>
      {yun:}/if{/yun}
    </form>
    
  </div>
</div>
<div style="padding:10px;height:180px;display:none;" id='blackdiv'>
  <div class="Blacklist_box">
    <form action="index.php?c=job&act=qs" target="supportiframe" method="post">
      <input type="hidden" value="" name="id" id="qsid">
       <div class="qxsq_box"> 
        <span class="Blacklist_box_qx">选择取消原因：</span>
        <select name="body" style="width:160px;">
          <option value="已经找到工作">已经找到工作</option>
          <option value="想休息一段时间">想休息一段时间</option>
          <option value="生病了">生病了</option>
          <option value="看错信息了">看错信息了</option>
          <option value="很长时间没有查看">很长时间没有查看</option>
          <option value="其它原因">其它原因</option>
        </select>
      </div>
      <div class="qxsq_box_bth">
        <input type="submit" value="确定" class="job_sq_qx_yy">
      </div>
    </form>
  </div>
  <div class="clear"></div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}