{yun:}include file="$userstyle/header.htm"{/yun} 
<div class="yun_user_member_w1100"> 
{yun:}include file="$userstyle/left.htm"{/yun}
<script>
$(document).ready(function(){	
	var proportion={yun:}$config.integral_proportion{/yun};
	$("#integral").keyup(function(){
		var integral=parseInt($(this).val());
		if(integral){
			var min_recharge='{yun:}$config.integral_min_recharge{/yun}';
			if(min_recharge>0&&integral<min_recharge){
				integral=min_recharge;
				$("#integral").val(value);
			}
			var price=integral/proportion;
			$("#user_vip_price").val(price);
			$(".payintegral").html(price);
		}
	});  
});
function pay_form(){
	var integral=$("#integral").val();
	if(Number(integral)<1){
		layer.msg('请填正确填写充值{yun:}$config.integral_pricename{/yun}！', 2, 8);return false;  
	}
}
</script>
<div class="mian_right fltR mt12">
   <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">立即充值</span> <i class="member_right_h1_icon user_bg"></i></div>
  <div class="clear"></div>
  <div id="">
    
    <form name="alipayment" target="supportiframe" action="index.php?c=pay&act=dingdan" method="post" onsubmit="return pay_form();">
      <div class="passwd_list mt10">
        <ul>
          <li>充值{yun:}$config.integral_pricename{/yun}：<input type="text" id="integral" name="integral" style="width:100px"class="pass_text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/><span class="proportion">当前{yun:}$config.integral_pricename{/yun}兑换比为1元={yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}{yun:}if $config.integral_min_recharge>0{/yun}，单次最低充值{yun:}$config.integral_min_recharge{/yun}{yun:}$config.integral_pricename{/yun}。{yun:}/if{/yun}</span></li>
		  <li>需付金额：<span class="payintegral">0</span>元
		  <input type="hidden" name="price" size="10"  id="user_vip_price"></li>
			
          
          <li>备　　注：<textarea name="remark" id="remark" cols="40" class="user_pay_textarea"></textarea>
         </li>
          <li>
          <div class="passwd_list_p_name">
            <input type="submit" name="submit" class="member_index_resume_t_cz_bth uesr_submit" value="去付款">
			<input type="button" name="card" class="member_index_resume_t_cz_bth uesr_submit" onclick="use_card();"  value="充值卡">
            </div>
          </li>
        </ul>
      </div>
    </form>
    <div style="padding:10px;">
    <div class="" style="padding:5px; float:left;color:#999; line-height:23px;">
<div class="wxts">温馨提示：</div>

1.银行付款界面尽量使用ie浏览器<br>
2.过程中请勿按浏览器“后退”键<br>
3.提交支付后，将转入银行的网站，请根据页面提示操作<br>
4.如果提交后在银行页面打不开，可以尝试过3分钟后再刷新页面,清理IE缓存,卸载3721或google工具条,换个浏览器或换个上网环境 
</div>
</div>  </div>
</div>
</div>

<script>
    function use_card() {
        $.layer({
            type: 1,
            title: '使用充值卡充值',
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['350px', '190px'],
            page: { dom: '#use_card' }
        });
    }
</script>
<div id="use_card" style="display:none; width:350px;">
    <div class="job_box_div">
        <form action="index.php?c=paylist&act=card" target="supportiframe" method="post" id='myform'>
            <div class="job_box_inp" style="padding:10px 5px 5px 20px">
                <span class="job_box_div_span fltL" style="width:80px;"> 卡号：</span>
                <input name="card" class="com_info_text com_info_text_t1 placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
            </div>
            <div class="job_box_inp" style="padding:10px 5px 5px 20px">
                <span class="job_box_div_span  fltL" style="width:80px;"> 密码：</span>
                <input name="password" class="com_info_text  com_info_text_t1 placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
            </div>
             <div class="job_box_inp" style="padding:10px 5px 5px 20px">
                            <span class="job_box_div_span  fltL" style="width:80px;">&nbsp;</span>
                            
                <a class="job_box_div_span_brh1" href="javascript:void(0);" onclick="setTimeout(function(){$('#myform').submit()},0);">确定</a>
            </div>
        </form>
    </div>
</div>

{yun:}include file="$userstyle/footer.htm"{/yun}