{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_user_member_w1100">
    {yun:}include file="$userstyle/left.htm"{/yun}
 <div class="mian_right fltR mt20">
            <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">在线提交问题 / 建议</span> <i class="member_right_h1_icon user_bg"></i></div>
   
     
        <div>
            <div id="gms_showclew"></div>
            <div class="clear"></div>
              <div class="yj_tip_hi">Hi，欢迎提交任何关于{yun:}$config.sy_webname{/yun}的问题和建议，我们将尽快回复您。感谢您对{yun:}$config.sy_webname{/yun}的帮助。:)</div>
         <div class="yj_tip">
        您喜欢新版{yun:}$config.sy_webname{/yun}吗？我们倾听您的建议 :)<br>
         如果提交有关浏览速度、系统BUG、视觉显示等问题，请注明您使用的操作系统、浏览器，以便我们尽快对应查找问题并解决。
         </div>
         <div class="yj_tw_content">
          <form name="MyForm" onsubmit="return Showsub();" target="supportiframe" action='index.php?c=message' method="post">
         <div class="yj_tw_list"><span class="yj_tw_list_name">内容：</span> <textarea id="content" name="content" cols="60" rows="6" class="yj_tw_list_textarea"></textarea></div>
          <div class="yj_tw_list"><span class="yj_tw_list_name">&nbsp;</span><input type="submit" name="add_message"  value="提交" class="yj_tw_list_bth"></div>
               </form>
         </div>
         
            <div class="resume_box_list">
            {yun:}if !empty($rows){/yun}
                <div class="List_Ope List_Title ">
                    <span class="List_Title_span List_Title_w500">我反馈的问题</span>
                    <span class="List_Title_span List_Title_w170 List_Title_w170_new">反馈时间</span>
                    <span class="List_Title_span List_Title_w100">操作</span>
                </div>
                {yun:}/if{/yun}
                {yun:}foreach from=$rows item=item{/yun}
                <div class="List_Ope List_Ope_bor">
                   
                    <span class="List_Title_span List_Title_w500">{yun:}$item.content{/yun}</span>
                    <span class="List_Title_span List_Title_w170 List_Title_w170_new">{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</span>
                    <span class="List_Title_span List_Title_w100">
                        <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=seemessage&act=del&id={yun:}$item.id{/yun}');" class="List_dete">删除</a>
                    </span>
                    {yun:}if $item.status==1{/yun}
                    <div class="List_Title_content List_Title_content_Advisory_bor">
                        <em class="List_Title_content_Advisory_r2">
                            <span class="List_Title_conten_tit">回复时间：</span>{yun:}$item.reply_time|date_format:"%Y-%m-%d %H:%M"{/yun}
                        </em>
                        <span class="List_Title_conten_tit List_Title_conten_tit_cor">管理员回复：</span>
                        {yun:}$item.reply{/yun}
                    </div>
                    {yun:}/if{/yun}
                </div>
                {yun:}foreachelse{/yun}
               
                {yun:}/foreach{/yun}
                <div class="diggg">{yun:}$pagenav{/yun}</div>
            </div>
        </div>
    </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}