{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_user_member_w1100">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="mian_right fltR mt20">
      <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">系统消息</span> <i class="member_right_h1_icon user_bg"></i></div>

        <div>
            <div id="gms_showclew"></div>
            <div class="resume_box_list">
            {yun:}if !empty($rows){/yun}
                <div class="List_Ope List_Title ">
                    <span class="List_Title_span List_Title_w550">内容</span>
                    <span class="List_Title_span List_Title_w170 List_Title_w170_new">时间</span>
                    <span class="List_Title_span List_Title_w100">操作</span>
                </div>
                {yun:}/if{/yun}
                {yun:}foreach from=$rows item=item{/yun}
                <div class="List_Ope List_Ope_bor">
                    <span class="List_Title_span List_Title_w550">{yun:}$item.content{/yun}</span>
                    <span class="List_Title_span List_Title_w170 List_Title_w170_new">{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</span>
                    <span class="List_Title_span List_Title_w100">
                        <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=sysnews&act=del&id={yun:}$item.id{/yun}');" class="List_dete  cblue">删除</a>
                    </span>
                </div>
                {yun:}foreachelse{/yun}
                <div class="msg_no"> 暂无系统消息！ </div>
                {yun:}/foreach{/yun}
                <div class="diggg">{yun:}$pagenav{/yun}</div>
            </div>
        </div>
    </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}