<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/default/resume/css/new_resume.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<style>
#contentDiv ul li {list-style:none;}
.td_title1 {color: #fff;}
.td04 {COLOR: #00659c;TEXT-INDENT: 0px}
.mail{ padding-top:20px; margin-bottom:20px;}
.mail li{width:100%;height:40px; line-height:40px; float:left; margin-top:10px;color:#666}
.mail li span{width:160px; line-height:35px; text-align:right; display:block; float:left;color:#666}
.zhiw1{width:680px; background:#e0f0ff;border:1px solid #aad8f0; margin-top:10px; margin-bottom:10px;font-size:12px;}
.zhiw{width:680px; background:#e0f0ff;border:1px solid #aad8f0; margin-top:10px; margin-bottom:10px;font-size:12px; float:left; list-style:none;}
.zhiw li{width:300px; line-height:26px; float:left; margin-left:20px;_margin-left:10px; list-style:none;}
.resume_text{border:1px solid #ccc;height:35px; line-height:35px;}
.image_gall{ margin-right:10px;}
.resume_table_td_p{ line-height:25px;}
.send_yun_bth_jl{width:160px;height:40px; background:#f60;color:#fff; font-size:14px; font-weight:bold;border:none; cursor:pointer}
</style>
</head>
<body style="background:#f8f8f8">
{yun:}include file="$tplstyle/header.htm"{/yun}
<script>
function sendjob()
{
	var femail = $("#femail").val();
	var myemail = $("#myemail").val();
	var authcode = $("#authcode").val();
	var html =  $("#html").html();
	var id = "{yun:}$smarty.get.id{/yun}";

	if(femail=="" || myemail=="" || authcode==""){ 
		layer.msg('请完整填写信息！', 2, 8);return false; 
	}
	layer.load('执行中，请稍候...',0);
	$.post("{yun:}url m=resume c=resumeshare{/yun}",{femail:femail,myemail:myemail,authcode:authcode,id:id},function(data){		check_code();
		if(data==1){ 
			layer.msg('邮件发送成功！', 2, 9,function(){location.reload();});return false; 
		}else if(data==""){ 
			layer.msg('未知错误，请联系管理员！', 2, 8);
		}else{ 
			layer.msg(data, 2, 8);
		}
		return false; 
	});
}
</script>
<div class="clear"></div>
  <div style="width:1024px;  margin:20px auto; padding-bottom:10px;">

<div style="width:1024px;font-size:14px; margin-bottom:10px; background:#fff;">
<div style="line-height:40px; line-height:40px;color:#fff; text-indent:10px; background:#2c81d6; font-size:16px; font-family:'microsoft yahei';"><font color="#FFf">★ </font><strong class="td_title1">推荐简历给好友:</strong> </div>
      <ul class="mail" style="width:100%; margin-bottom:10px; float:left;background:#fff; padding-bottom:20px;">
        <li><span><font color="red">*</font> 朋友的E-mail：</span>
          <input type="text" id="femail" value="" name="femail" class="resume_text" style="width:230px;"/>
        </li>
        <li><span><font color="red">*</font> 朋友对您的昵称：</span>
          <input type="text" id="myemail"  value="" name="myemail" class="resume_text"/>
          让朋友知道是您推荐的简历，与其他垃圾邮件推广简历区分</li>
        <li><span><font color="red">*</font> 验证码：</span>
          <input id="authcode" type="text" tabindex="3"  class="resume_text" style="width:90px; float:left; margin-right:5px;" maxlength="4" name="authcode"/>
          <img id="vcode_img" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" />&nbsp;<a href="javascript:check_code();">看不清?</a> </li>
        <li> <span>&nbsp;</span>
          <input type="hidden"  value="{yun:}$id{/yun}" name="id" />
          <input type="button" onClick="sendjob();" value="发送" class="send_yun_bth_jl"  >
        </li>
      </ul>
    </div>

<div style="clear:both"></div>
<div class="user_resume_bg">
 <div class="yun_resume_content"> 
  {yun:}if $smarty.get.see!=member && $smarty.get.see!=userd{/yun}
  <!--header-->
  <div class="yun_resume_header">
    <div class="yun_resume_logo"> <a href="{yun:}$config.sy_weburl{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_logo{/yun}" class="png" style=" border:none;"></a> </div>
    <div class="yun_resume_logo_zt"> 编号：<span class="yun_resume_logo_zt_n">{yun:}$Info.id{/yun}</span> <em class="yun_resume_logo_zt_list"> 简历更新：<span class="yun_resume_logo_zt_n">{yun:}$Info.lastupdate{/yun} </span> </em> 浏览：<span class="yun_resume_logo_zt_n"><script language="javascript" src="{yun:}url m=resume c=show a=GetHits id='`$Info.id`'{/yun}"></script>次 </span> </div>
  </div>
  <!--header end--> 
  {yun:}/if{/yun}
  <!--/*简历开始*/-->
  <div class="yun_resume_box"> 
    <!--基本信息-->
    <div class="yun_resume_info">
      <div class="yun_resume_name">{yun:}$Info.username_n{/yun}  {yun:}if $UserMember.source==6 && $UserMember.claim==0 && $UserMember.email!=""{/yun}
<a class="myresume_rl " href="javascript:void(0);" onClick="claim('{yun:}url m=ajax c=claim uid=$Info.uid{/yun}')">认领</a>
{yun:}/if{/yun}
 </div>
      <div class="yun_resume_p">{yun:}if $Info.user_sex{/yun}{yun:}$Info.user_sex{/yun}<span class="yun_resume_info_line">|</span>{yun:}/if{/yun}{yun:}if $Info.age{/yun}{yun:}$Info.age{/yun}岁<span class="yun_resume_info_line">|</span>{yun:}/if{/yun}{yun:}if $Info.living{/yun}{yun:}$Info.living{/yun} <span class="yun_resume_info_line">|</span>{yun:}/if{/yun}{yun:}if $Info.useredu{/yun}{yun:}$Info.useredu{/yun}学历<span class="yun_resume_info_line">|</span>{yun:}/if{/yun}{yun:}if $Info.user_exp{/yun}{yun:}$Info.user_exp{/yun}经验{yun:}/if{/yun}</div>
 <div class="yun_resume_tel">
 {yun:}if $Info.basic_info=='1'{/yun}
<div class="one_vita_Basic_info_c">
{yun:}if $Info.user_marriage{/yun}<span class="one_vita_Identity">{yun:}$Info.user_marriage{/yun}</span>  
 <span class="yun_resume_info_line">|</span>{yun:}/if{/yun}
{yun:}if $Info.domicile{/yun}<span class="one_vita_Identity">户籍：{yun:}$Info.domicile{/yun} </span>  
 <span class="yun_resume_info_line">|</span>{yun:}/if{/yun}
{yun:}if $Info.weight||$Info.height{/yun}<span class="one_vita_Identity">{yun:}if $Info.height{/yun}{yun:}$Info.height{/yun}CM{yun:}/if{/yun}
{yun:}if $Info.weight&&$Info.height{/yun}/{yun:}/if{/yun}
{yun:}if $Info.weight{/yun} {yun:}$Info.weight{/yun}KG{yun:}/if{/yun} </span> 
 <span class="yun_resume_info_line">|</span>{yun:}/if{/yun}    
{yun:}if $Info.nationality{/yun}<span class="one_vita_Identity">{yun:}$Info.nationality{/yun}</span>{yun:}/if{/yun}   
</div>
{yun:}/if{/yun}

</div>
      <div class="yun_resume_photo"><img src="{yun:}$Info.resume_photo{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);" width="80" height="100"> </div>
    </div>
    
    <!--求职意向-->
    <div class="yun_resume_job_intention">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconyx"></i>求职意向</span></div>
      <ul class="yun_resume_job_intention_list ">
        <li>期望从事行业：{yun:}$Info.hy{/yun}</li>
        <li>工作地点：{yun:}$Info.city_one{/yun} {yun:}$Info.city_two{/yun} {yun:}$Info.city_three{/yun}</li>
        <li>期望薪资：{yun:}$Info.salary{/yun}</li>
        <li>到岗时间：{yun:}$Info.report{/yun}</li>
        <li>求职状态：{yun:}$Info.jobstatus{/yun}</li>
        <li>期望工作性质：{yun:}$Info.type{/yun}</li>
        <li class="yun_resume_job_intention_list_end">期望从事职位：期望从事职位：{yun:}$Info.jobname{/yun}</li>
      </ul>
    </div>
    {yun:}if is_array($Info.user_work) && !empty($Info.user_work){/yun}
    <!--工作经历-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconjl"></i>工作经历</span></div>
      <ul class="yun_resume_tabulation">
      {yun:}foreach item=one from=$Info.user_work{/yun}
        <li class="yun_resume_exp_list">
          <div class="yun_resume_exp_timt">{yun:}$one.sdate|date_format:"%Y.%m"{/yun}-{yun:}if $one.edate{/yun}{yun:}$one.edate|date_format:"%Y.%m"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</div>
          <div class="yun_resume_exp_r">
            <div class="yun_resume_exp_name">{yun:}$one.name{/yun}<span class="yun_resume_exp_name_job">{yun:}$one.title{/yun}</span></div>
            <div class="yun_resume_exp_p">{yun:}$one.content{/yun}</div>
          </div>
        </li>
        {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}/if{/yun}
    {yun:}if is_array($Info.user_edu) && !empty($Info.user_edu){/yun}
    <!--教育经历-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconjy"></i>教育经历</span></div>
      <ul class="">
      {yun:}foreach item=one from=$Info.user_edu{/yun}
        <li class="yun_resume_exp_list ">
          <div class="yun_resume_exp_timt">{yun:}$one.sdate|date_format:"%Y.%m"{/yun}-{yun:}$one.edate|date_format:"%Y.%m"{/yun}</div>
          <div class="yun_resume_exp_r">
            <div class="yun_resume_exp_name">{yun:}$one.name{/yun}<span class="yun_resume_exp_name_job">{yun:}$one.specialty{/yun}</span></div>
            <div class="yun_resume_exp_p">{yun:}$one.education_n{/yun}学历</div>
          </div>
        </li>
        {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}/if{/yun}
    {yun:}if is_array($Info.user_tra) && !empty($Info.user_tra){/yun}
    <!--培训经历-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconpx"></i>培训经历</span></div>
      <ul class="">
      {yun:}foreach item=one from=$Info.user_tra{/yun}
        <li class="yun_resume_exp_list  ">
          <div class="yun_resume_exp_timt">{yun:}$one.sdate|date_format:"%Y.%m"{/yun} - {yun:}$one.edate|date_format:"%Y.%m"{/yun} </div>
          <div class="yun_resume_exp_r ">
            <div class="yun_resume_exp_name">{yun:}$one.name{/yun}<span class="yun_resume_exp_name_job">{yun:}$one.title{/yun}</span></div>
            <div class="yun_resume_exp_p">{yun:}$one.content{/yun} </div>
          </div>
        </li>
        {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}/if{/yun}
    {yun:}if is_array($Info.user_skill) && !empty($Info.user_skill){/yun}
    <!--专业技能-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconjn"></i>职业技能</span></div>
      <ul class="resume_skill">
      {yun:}foreach item=one from=$Info.user_skill{/yun}
        <li class=""> <i class="resume_skill_icon"></i>   <div  class=" "> 技能名称：<span class="resume_table_blod">{yun:}$one.name{/yun}</span> <span class="yun_resume_exp_name_job">掌握时间：{yun:}$one.longtime{/yun}年</span></div>
        {yun:}if $one.pic{/yun}
        <div class=" ">技能证书：<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$one.pic{/yun}"  width="95" height="70" ></div> 
        {yun:}/if{/yun}
        </li>
      {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}/if{/yun}
    {yun:}if is_array($Info.user_xm) && !empty($Info.user_xm){/yun}
    <!--项目经验-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconxm"></i>项目经验</span></div>
      <ul class="">
      {yun:}foreach item=one from=$Info.user_xm{/yun}
        <li class="yun_resume_exp_list ">
          <div class="yun_resume_exp_timt">{yun:}$one.sdate|date_format:"%Y.%m"{/yun} - {yun:}$one.edate|date_format:"%Y.%m"{/yun}</div>
          <div class="yun_resume_exp_r">
            <div class="yun_resume_exp_name">{yun:}$one.name{/yun}<span class="yun_resume_exp_name_job">{yun:}$one.title{/yun}</span></div>
            <div class="yun_resume_exp_p"> {yun:}$one.content{/yun} </div>
          </div>
        </li>
        {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}/if{/yun}
                 <!-- 我的作品-->
       {yun:}if is_array($Info.user_show) && !empty($Info.user_show){/yun}
       <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconry"></i>我的作品</span></div>
      

        
            <div class="fairs_introduction_p" >
        <ul class="fairs_introduction_img" id="rolling_img1">
        {yun:}foreach item=v from=$Info.user_show{/yun}
            <li>
                <a class="image_gall" href="{yun:}$config.sy_weburl{/yun}/{yun:}$v.picurl{/yun}">
                    <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$v.picurl{/yun}" width="210" height="153" />
                </a>
            </li>
		{yun:}/foreach{/yun}
        </ul>
    </div>
    
    
<link rel="stylesheet" href="{yun:}$style{/yun}/style/popImage.css" type="text/css"> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery.popImage.mini.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/ScrollPic.js" language="javascript"></script>
 <SCRIPT language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--

var li_num=$("#rolling_img1 li").length;
if(li_num>3){//如果图片数量不足，就不执行切换
	var scrollPic_02 = new ScrollPic();
	scrollPic_02.scrollContId   = "rolling_img1"; //内容容器ID
	scrollPic_02.arrLeftId      = "LeftArr";//左箭头ID
	scrollPic_02.arrRightId     = "RightArr"; //右箭头ID
	scrollPic_02.frameWidth     = 680;//显示框宽度
	scrollPic_02.pageWidth      = 231; //翻页宽度
	scrollPic_02.speed          = 10; //移动速度(单位毫秒，越小越快)
	scrollPic_02.space          = 10; //每次移动像素(单位px，越大越快)
	scrollPic_02.autoPlay       = true; //自动播放
	scrollPic_02.autoPlayTime   = 2; //自动播放间隔时间(秒)
	scrollPic_02.initialize(); //初始化
}
//--><!]]> 
$(function(){
	$("a.image_gall").popImage();
})
</SCRIPT> 
        
</div>

            {yun:}/if{/yun} 
    {yun:}if is_array($Info.user_other) && !empty($Info.user_other){/yun}
    <!--附加信息-->
    <div class="yun_resume_joblist">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconqt"></i>其他信息</span></div>
      <ul class="resume_skill">
      {yun:}foreach item=one from=$Info.user_other{/yun}
        <li class=""> <i class="resume_skill_icon"></i>标题：<span class="resume_table_blod">{yun:}$one.name{/yun}</span>
          <div class="yun_resume_exp_p">{yun:}$one.content{/yun}</div>
        </li>
        {yun:}/foreach{/yun} 
      </ul>
    </div>
    {yun:}/if{/yun} 
    {yun:}if is_array($Info.description) && !empty($Info.description){/yun}
    <!--自我评价-->
    <div class="yun_resume_joblist yun_resume_joblist_mt20">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconpj"></i>自我评价</span></div>
      <ul class="resume_skill">
        <li class=""><i class="resume_skill_icon"></i>
          <div class="yun_resume_exp_p">{yun:}$Info.description{/yun}</div>
        </li>
      </ul>
    </div>
    {yun:}/if{/yun}
     {yun:}if $Info.doc{/yun}
        <!--粘贴简历-->
    <div class="yun_resume_joblist yun_resume_joblist_mt20">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconpj"></i>简历内容</span></div>
      
          <div class="yun_resume_zt_p">{yun:}$Info.user_doc.doc{/yun}</div>
       
    </div>
       {yun:}/if{/yun}
   
        <!--联系方式-->
    <div class="yun_resume_joblist yun_resume_joblist_mt20">
      <div class="yun_resume_h1"><span class="yun_resume_h1_s"><i class="yun_resume_h1_icon yun_resume_h1_iconlx"></i>联系方式</span></div>
      {yun:}if $Info.m_status=="1"{/yun}

	{yun:}if $Info.telphone{/yun}
    <div class="one_vita_Intention one_vita_Intention_w420"><i class="one_vita_Intention_i one_vita_red"></i>联系手机：{yun:}image number=$Info.telphone uid=$Info.uid action=telphone width=200{/yun}</div>
	{yun:}/if{/yun}
	
	{yun:}if $Info.telhome{/yun}
    <div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>联系座机：{yun:}image number=$Info.telhome  uid=$Info.uid action=telhome width=200{/yun} </div>        
	{yun:}/if{/yun}

	{yun:}if $Info.email{/yun}
    <div class="one_vita_Intention one_vita_Intention_w420"><i class="one_vita_Intention_i one_vita_red"></i>电子邮箱：{yun:}$Info.email{/yun} </div>
	{yun:}/if{/yun}

	{yun:}if $Info.homepage{/yun}

    <div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>个人主页：{yun:}$Info.homepage{/yun}</div>
	{yun:}/if{/yun}
	
	{yun:}if $Info.address{/yun}
    <div class="one_vita_Intention one_vita_Intention_w420"><i class="one_vita_Intention_i one_vita_red"></i>详细地址：{yun:}$Info.address{/yun}</div>
	{yun:}/if{/yun}
    

    {yun:}if $Info.idcard{/yun}<div class="one_vita_Intention one_vita_Intention_w420"><i class="one_vita_Intention_i one_vita_red"></i><span>身份证号</span>
    <span class="one_vita_Identity">
    {yun:}image uid=$Info.uid action=idcard width=180{/yun}
    {yun:}if $Info.idcard_status==1 && $Info.idcard{/yun}<img src="{yun:}$config.sy_weburl{/yun}/app/template/default/resume/images/sfrz.png" title="身份已认证">已认证{yun:}/if{/yun}
    </span> </div>
    {yun:}/if{/yun} 

   {yun:}else{/yun}
   <div class="re_touch">{yun:}$Info.link_msg{/yun}</div>
   {yun:}/if{/yun}
    </div>
  </div>
  <!--/*简历结束*/--> 
</div>

</div></div>
<div style="clear:both;"></div>

{yun:}include file="$tplstyle/footer.htm"{/yun}