@charset "utf-8";
/* CSS Document */
*{outline: none; }
html,body{height:100%; margin:0; padding:0;}
body{margin:0;padding:0; font:14px 微软雅黑,宋体; color:#333;word-wrap:break-word;}
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, button, input, textarea, th, td {margin:0; padding:0;}
img{border:none;}
ul{margin:0;padding:0; list-style:none;}
em{ font-style:normal;}
a{ text-decoration:none;color:#666}
.dn{ display:none;}
.db{display:block;}
.fl{float:left}
.fr{float:right;}
.f24{ font-size:24px;}
.f20{ font-size:20px;}
.f18{ font-size:18px;}
.f16{ font-size:16px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.c6{ color:#666;}
.c9{ color:#999;}
.ls{ color:#39c;}
.b9{ color:#b9b9b9;}
.c45{ color:#456dab;}
.fa{ color:#fa9325;}
.clear{ clear:both;height: 0; line-height:0px;}
.wrap{ margin:0 auto; width:980px;}
/*header头部*/
.c_header{ width:100%; height:300px; margin:0 auto; position:relative; padding-top:20px;}

.c_header_pic{width:980px; margin:0 auto}
.c_header_top{ width:980px; position:relative;}
.com_ans{ position:absolute; background:url(../images/com_anw.png) no-repeat; width:189px; height:74px; top:15px; right:0; color:#fff;}
.com_ans_tp{width:100%; float:left; text-align:center; font-size:24px; line-height:40px;}
.com_ans_tex{width:100%;float:left; text-align:center;font-size:14px;}
.c_top_logo{
	 padding:10px 0}
.c_logo_ba{ float:left}
.c_top_daoh{width:100%; float:left;
width: 100%;
min-width: 980px;
margin: 0 auto;
height: 43px;
background: url(../images/head_new_bg.jpg) repeat-x left top;
border-top: 1px solid #e4e4e4; 
}
.c_top_daoh ul{width:980px; margin:0 auto}
.c_top_daoh ul li{ float:left; font-size:16px; }
.c_top_daoh ul li.c_currer{ background:url(../images/company_bg1.png) repeat;font-weight:bold;}
.c_top_daoh ul li a{
display: block;
padding: 14px 20px;
font-size: 16px;
font-family: 'Microsoft YaHei';
color: #333333;
line-height: 100%;}
.c_top_daoh ul li.c_currer a {
/* text-shadow: 1px 1px 5px rgba(89,22,20,0.6); */
color: #ffffff;
background:#18589a;
border-radius: 3px;
}
/*内容content*/
.c_content{ background:#fff;}
.c_content_bao{ padding-top:26px;}
.c_content_about{ width:100%; padding-bottom:13px;}
.c_about_tit{ font-size:14px; color:#666; background:url(../images/c_xian.png) repeat-x center; line-height:26px; position:relative;}
.c_about_tit i{ width:9px; height:9px; margin-right:9px; background:url(../images/c_dian.png) no-repeat; position:absolute; left:0px; top:9px; display:inline-block;}
.c_about_tit span{ width:80px; display:inline-block; background:#fff; text-align:center; margin-left:18px; font-size:16px; font-weight:bold}
.c_about_nr{ width:100%; font-size:14px; color:#666; line-height:25px; padding-top:10px}
.c_content_recru{}
.c_recru_list{ padding-top:20px; width:1025px;}
.c_recru_list ul li{ float:left; width:270px; height:53px; background:#f9f9f9; padding:13px 22px 0px 13px; font-size:14px;}
.c_recru_list ul li a{ cursor:pointer; display:inline-block;}
.c_recru_list ul li a:hover{ text-decoration:none;}
.c_recru_list ul li.c_list_curre{ background:#18589a;}
.c_recru_list ul li.c_list_curre span{ color:#fff;}
.c_recru_list ul li.c_list_curre em{ color:#fff;}
.c_recru_list ul li.n_list_end{ text-align:center;}
.c_list_bt{ width:270px;}
.c_list_bt span{ color:#457e93;}
.c_list_bt em{ color:#b0b0b0; font-size:12px;}
.c_list_nr{ width:100%; color:#666; padding-top:8px;}
.c_list_more{ color:#a0a1a1;}
.c_content_envir{ padding-bottom:10px;}
.c_envir_pic{ padding-top:20px;}
.c_envir_pic ul li{ float:left; width:180px; margin-top:15px;}
.c_chat_ly{ height:auto; padding-top:14px; border-bottom:1px dashed #dddbdb;overflow:hidden; padding-bottom:10px;zoom:1;}
.c_chat_pictur{ width:94px; padding-left:20px; padding-top:5px;}
.c_pictur_bk{ width:70px; height:85px; border:1px solid #edeaea;}
.c_chat_cont{ width:960px; padding-right:18px; line-height:25px;}
.c_cont_name{ width:100%;}
.c_cont_name a{ color:#3399cc;}
.c_cont_name a:hover{ color:#0CF;}
.c_cont_name em{ color:#999;}
.c_cont_hf em{ color:#ff9933;}
.c_cont_pl{ width:100%;} 
.c_cont_hf{ width:100%;}
.c_cont_cy{ text-align:right; clear:both; width:100%;}
.c_cont_cy a{ display:inline-block; width:48px; padding-left:29px; background:url(../images/c_hf.png) no-repeat left center;}
.c_cont_cy a:hover{ color:#39c;}
.c_content_fb{ padding-top:9px;}
.c_fb_area{ width:955px; min-height:114px; border:1px solid #e7e7e7; _height:114px; padding:10px;}
.c_fb_button{ width:105px; height:29px; line-height:29px; border:medium none; background:#3ca2e3; color:#fff; text-align:center; margin-top:9px; cursor:pointer;}
.c_fb_button:hover{ background:#09C;}
.com_cp_list{width:100%}
.com_cp_list dl{width:200px; float:left; margin-right:40px; margin-top:20px;}
.com_cp_list dd{width:100%;height:40px; line-height:40px; overflow:hidden}
.com_news{width:100%}
.com_news ul { padding-top:10px;}
.com_news ul li{width:310px; float:left; height:30px; line-height:30px; font-size:14px; background:url(../images/c_xtb.png) no-repeat left 13px; padding-left:13px; overflow:hidden}
.wrap_l_name{ float:left; padding-left:20px; padding-top:10px;}
.wrap_l_name_n{ font-size:18px;}
.wrap_l_name_gz{ display:inline-block;width:65px;height:28px; text-align:center; line-height:28px; background:#093;color:#fff;  margin-right:10px;}
.wrap_l_name_gz:hover{color:#fff}
.wrap_l_name_p{ padding-top:10px;}
.wrap_l_name_p_line{ font-size:12px;color:#999; padding:0px 10px;}

/*底部footer*/
.c_footer{ height:68px; border-top:1px solid #a7a7a7; margin-top:23px; padding-top:23px; text-align:center; line-height:22px;}
.c_footer01{ height:65px; border-top:4px solid #18589a;}

.news_cont{width:100%;  text-align:center; font-size:20px; padding-bottom:20px;}
.blue_p_h1{width:100%; font-size:18px; text-align:center; padding:20px}
.firm_det_con{width:100%; text-align:center; padding-bottom:20px;}
.wrap_l_name_p{ margin-top:10px;}

.firm_login{ width:978px; height:51px; background:#f3f8fd; border:1px solid #e5eef7; margin-top:10px;}
.firm_login_con{ padding:11px 20px; line-height:30px;overflow:hidden;}
.firm_login_con span{ float:left; padding-right:30px; font-size:14px; color:#393e44;}
.firm_login_con a{width:80px; height:28px; line-height:28px;display:inline-block; text-align:center; color:#fff; font-size:14px; float:left; margin-right:14px;}
.firm_login_con .firm_login_dl{ background:#0066ff; }
.firm_login_con .firm_login_zc{ background:#ff6600;}
.c_right_nr{ width:246px;background:#fbfbfb; padding:15px 0px 0px 21px; line-height:30px; font-size:14px; margin-bottom:15px;}
.c_nr_hy em{ width:53px; display:inline-block; color:#6699cc;}
.c_nr_hy span{ color:#666;}
.firm_det_link{ font-size:14px; line-height:30px; padding-bottom:10px; overflow:hidden;zoom:1; margin-top:20px;}
.firm_det_link span{ color:#a8adb1; display:inline-block;overflow:hidden;}
.firm_det_link span i{ color:#141617; font-style:normal}
.firm_det_link .firm_mes1{ width:300px;}
.firm_mes1 img{ vertical-align:middle}
.firm_det_link .firm_mes2{ width:315px;}
.firm_det_link .firm_mes2 img{ vertical-align:middle}
.firm_det_link .firm_mes3{ width:690px;_margin-right:-3px;}
.firm_tips_no{width:100%; float:left; text-align:center; padding:40px 0; font-size:16px;}.zx_yx_input{width:105px;height:33px;line-height:33px;border:1px solid #ddd; text-indent:10px; margin-right:10px;}
.affirm_yz{width:100%; float:left; margin-top:10px;}
.wx_share_fx{width:122px; margin:10px auto 0px;}
.wx_share_fx_img{width:120px;height:120px;border:1px solid #ddd;}
.wx_share_fx_p{width:100%; text-align:center; padding-top:8px; font-size:14px; font-weight:bold}