{yun:}include file="$comstyle/header.htm"{/yun}
<script src="{yun:}$com_style{/yun}/js/part.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css" type="text/css" />
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <div class="com_tit"><span class="com_tit_span">兼职管理</span></div>

           <div class="com_body">
        <div class="clear"></div>
        <div class="com_Release_job">
          <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="index.php" target="supportiframe" method="get" id='myform'>
          <input type="hidden" name="c" value="part" />
               <input type="hidden" name="act" value="del" />
            {yun:}foreach item=list from=$rows{/yun}
            
            
            <div class="com_m_job_list">
              <div class="job_list_list">
                <div class="job_list_list_left">
                 <div class="com_m_job_list_t">
                <div class="com_m_job_lis_xz">
                <input type="checkbox" name="del[]" value="{yun:}$list.id{/yun}" class="com_job_list_check">
                </div>
                <div class="com_m_job_list_jobname">
                 <a href="{yun:}url m=part c=show id='`$list.id`'{/yun}" class="com_m_job_list_jobname_a cblue" target="_blank">{yun:}$list.name{/yun}</a>
              
             </div>
                </div> 
                   <div class="com_m_job_lis_j"><a href="index.php?c=partapply&jobid={yun:}$list.id{/yun}"><span class="job_list_list_left_name">报名用户：</span><strong class="job_list_list_left_u">{yun:}$list.applynum{/yun}</strong></a> <span class="job_list_list_left_name" style="margin-left:30px;">浏览量：</span><strong class="job_list_list_left_u">{yun:}$list.hits{/yun}</strong></div>
        
              <div class="com_m_job_list_jobdate">有效期：{yun:}if $list.edate>0{/yun}{yun:}$list.edate|date_format:'%Y-%m-%d'{/yun}{yun:}else{/yun}长期招聘{yun:}/if{/yun} <span style="margin-left:20px;">报名截止时间：{yun:}$list.deadline|date_format:'%Y-%m-%d'{/yun}</span><span style="margin-left:20px;">更新时间：{yun:}$list.lastupdate|date_format:'%Y-%m-%d'{/yun}</span></div>
                </div>
                <div class="job_list_extension">
                <a href="javascript:void(0);" onclick="rec('{yun:}$list.id{/yun}','{yun:}if $list.rec_time{/yun}{yun:}$list.rec_time|date_format:'%Y-%m-%d'{/yun}{yun:}else{/yun}0{yun:}/if{/yun}')"class="com_part_tj_sub">推荐</a>
                
      
   
                </div>
                 <div class="job_list_operation">
                                                  
						<a {yun:}if $statis.rating_type!='2'{/yun}
                        {yun:}if $statis.editpart_num||$config.integral_partjobedit{/yun}
                        href="javascript:void(0)" onclick="return layer.confirm('{yun:}if $statis.editpart_num>0{/yun}修改职位数还剩余<b>{yun:}$statis.editpart_num{/yun}</b>个！确认修改？{yun:}elseif $config.integral_partjobedit>0{/yun}修改职位要扣除{yun:}$config.integral_partjobedit{/yun}{yun:}$config.integral_pricename{/yun}！{yun:}/if{/yun}', function(){window.location.href='index.php?c=partadd&id={yun:}$list.id{/yun}';window.event.returnValue = false;return false;}); "{yun:}else{/yun}href="index.php?c=partadd&id={yun:}$list.id{/yun}"{yun:}/if{/yun}
                        {yun:}elseif $statis.rating_type=='2'{/yun}href="index.php?c=partadd&id={yun:}$list.id{/yun}"{yun:}/if{/yun} class="uesr_name_a">修改</A>&nbsp;<a  onclick="layer_del('确定要删除？', 'index.php?c=part&act=del&id={yun:}$list.id{/yun}');"href="javascript:void(0)" class="uesr_name_a">删除</a>&nbsp;
                        {yun:}if $statis.vip_etime>time() || $statis.vip_etime=="0"{/yun}
                        {yun:}if $statis.rating_type==1{/yun}
                        {yun:}if $statis.breakpart_num>0{/yun} <a href="javascript:void(0)" onclick="layer_del('刷新职位数还剩余{yun:}$statis.breakpart_num{/yun}个！确认刷新？', 'index.php?c=partok&act=opera&up={yun:}$list.id{/yun}');">刷新</a> {yun:}else{/yun}
                        {yun:}if $config.com_integral_online==1{/yun} <a href="javascript:void(0)" onclick="layer_del('本次刷新需扣除{yun:}$config.integral_partjobefresh{/yun}{yun:}$config.integral_pricename{/yun}！确认刷新？', 'index.php?c=partok&act=opera&up={yun:}$list.id{/yun}');">刷新</a> {yun:}else{/yun} <a  href="javascript:void(0)" onclick="job_refresh();"  title="刷新">刷新</a> {yun:}/if{/yun}
                        {yun:}/if{/yun}
                        {yun:}else{/yun} <a  href="javascript:void(0)" onclick="layer_del('确定刷新该职位么？', 'index.php?c=partok&act=opera&up={yun:}$list.id{/yun}');">刷新</a> {yun:}/if{/yun}
                        {yun:}else{/yun}
                        {yun:}if $config.com_integral_online==1{/yun} <a href="javascript:void(0)" onclick="layer_del('本次刷新需扣除{yun:}$config.integral_partjobefresh{/yun}{yun:}$config.integral_pricename{/yun}！确认刷新？', 'index.php?c=partok&act=opera&up={yun:}$list.id{/yun}');">刷新</a> {yun:}else{/yun} <a  href="javascript:void(0)" onclick="job_refresh();"  title="刷新">刷新</a> {yun:}/if{/yun}
                        {yun:}/if{/yun}
                        <a href="javascript:void(0);" onclick="gotime('{yun:}$list.id{/yun}','{yun:}$list.deadline|date_format:'%Y-%m-%d'{/yun}')" title="延期">延期</a> </div>      </div>
                    </div>
                    

              
	
            {yun:}foreachelse{/yun}
            <div class="msg_no">暂无相关兼职，<a href="javascript:;" onclick="jobadd_url('{yun:}$addpartjobnum{/yun}','{yun:}$config.integral_partjob{/yun}','{yun:}$config.integral_pricename{/yun}','part');" class="cblue">点击添加兼职</a>!</div>
            {yun:}/foreach{/yun}
                {yun:}if !empty($rows){/yun}
				<div class="com_Release_job_bot"> 
					<span class="com_Release_job_qx">
						<input id='checkAll' type="checkbox" onclick='m_checkAll(this.form)'class="com_Release_job_qx_check">全选
					</span>
                     <INPUT class="c_btn_02 c_btn_02_w110" type="button" value="批量延长有效期" onclick="allgotime();">
                    <INPUT class="c_btn_02 c_btn_02_w110" type="button" value="批量刷新职位" onclick="return Refresh('del[]');">
					<INPUT class="c_btn_02 c_btn_02_w110" type="button" value="批量删除" onclick="return really('del[]');">
                     
				</div>
                {yun:}/if{/yun}
				<div class="diggg">{yun:}$pagenav{/yun}</div> 
        </form>
        <div  class="clear"></div>
          {yun:}if $rows{/yun}
          <div class="job_list_tip"><span class="job_list_tip_span">贵公司还可以发布（<span class="f60">{yun:}if $statis.vip_etime>time() || $statis.vip_etime=="0"{/yun}{yun:}if $statis.rating_type==1{/yun}{yun:}$statis.part_num{/yun}{yun:}else{/yun}无限{yun:}/if{/yun}{yun:}else{/yun}0{yun:}/if{/yun}</span>）条兼职信息</span>
            <input class="fb_Com_xz" onclick="jobadd_url('{yun:}$addpartjobnum{/yun}','{yun:}$config.integral_partjob{/yun}','{yun:}$config.integral_pricename{/yun}','part');" type="button" value="新增兼职" name="input">
            
          </div>
          {yun:}/if{/yun}
      <div  class="clear"></div>
      <div class="wxts_box wxts_box_mt30">
        <div class="wxts">温馨提示：</div>
        1、如贵公司有快速招聘人才，建议升级贵宾，获取更多的展示机会，以帮助您快速找到满意的人才。 <br>        2、请贵公司保证职位信息的真实性、合法性，并及时更新职位信息，如被举报或投诉，确认发布的信息违反相关规定后，本站将会关闭贵公司的招聘服务，敬请谅解！ </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!--推荐职位弹出框-->
<div id="recom"  style="display:none;">
  <div class="job_box_div" style="width:auto;padding-top:5px;">
    <div class="job_box_msg" style="margin-left:10px; _margin-left:5px;margin-top:10px; padding:5px;">
      <p>提示：参加推荐的招聘职位;我们将在首页推荐招聘 模块显示，并且标题用红色突出显示。</p>
      <p>参加推荐职位，一天需要 <font color="red">{yun:}$config.com_recpartjob{/yun}</font> {yun:}$config.integral_pricename{/yun}！</p>
      <p id="rectime"></p>
    </div>
    <form action='index.php?c=partok&act=opera' target="supportiframe" method="post" id='recomf'>
      <input type="hidden" name="recid" id="recid" value=""/>
      <div class="job_box_inp" style="padding:10px 5px 5px 20px"> <span class="fltL">推荐天数：</span>
        <input name="day" value="" class="com_info_text placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width:130px;"/>
        <span class="fltL box_infobox_span">天</span> </div>
      <span class="job_box_botton" style="width:100%; position:relative"> <a class="job_box_yes job_box_botton2" href="javascript:void(0);" onclick="setTimeout(function(){$('#recomf').submit()},0);" style="top:30px">确定</a> </span>
    </form>
  </div>
</div
> 
<!--延期天数弹出框-->
<div id="gotime"  style="display:none; width:230px; ">
  <div class="" >
    <div class="job_box_msg" style="margin-left:10px;_margin-left:5px; padding:3px;border:none; background:#f8f8f8">
      <p id="gotime_edate"></p>
    </div>
    <form action='index.php?c=partok&act=opera' target="supportiframe" method="post" id='gotimef'>
      <input type="hidden" name="gotimeid" id="gotimeid" value=""/>
      <div class="job_box_inp"  style="padding:10px 5px 5px 20px"> <span style="float:left; margin-right:0px;">延期天数：</span>
        <input name="day" value="" class="com_info_text placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width:100px;"/>
        <span class="fltL box_infobox_span" style="padding-left:10px;">天</span> </div>
      <span class="job_box_botton" style="width:100%;"> <a class="job_box_yes job_box_botton2" href="javascript:void(0);" onclick="setTimeout(function(){$('#gotimef').submit()},0);">确定</a> </span>
    </form>
  </div>
</div>
<!--延期天数弹出框end-->



<script>
function rec(id,rectime){
	$("#recid").val(id);
	if(rectime!='0'){
		$('#rectime').html('当前职位推荐到期时间：<font color="red">'+rectime+'</font>');
	}
	$.layer({
		type : 1,
		title : '推荐职位',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['340px','250px'],
		page : {dom : '#recom'}
	});
}
function Refresh(name){
	var chk_value =[];
	var i=0;
	$('input[name="'+name+'"]:checked').each(function(){
		chk_value.push($(this).val());
		i++;
	});
	if(chk_value.length==0){
		layer.msg("请选择要刷新的职位！",2,8);return false;
	}else{
		var num="{yun:}$config.integral_partjobefresh{/yun}";
		var breakmsg = '本次共刷新'+i+'个职位,需扣除'+i+'个刷新数量,或消耗'+(num*i)+'{yun:}$config.integral_pricename{/yun}！';
		layer.confirm(breakmsg,function(){
			$.post("{yun:}$config.sy_weburl{/yun}/member/index.php?m=ajax&c=Refresh_part",{ids:chk_value},function(data){
				if(data==1){
					layer.msg("刷新成功！",2,9,function(){window.location.reload();});
				}else{
					layer.msg(data,2,8);
				}
			})
		});
	}
}
function allgotime(){//批量延期
	var allid =[];
	var i=0;
	$('input[name="del[]"]:checked').each(function(){
		allid.push($(this).val());
		i++;
	});
	if(allid.length==0){
		layer.msg("请选择要延期的职位！",2,8);return false;
	}else{
		gotime(allid,'',i);
	}
}
function gotime(id,deadline,i){
	$("#gotimeid").val(id);
	if(i)
	{
		$("#gotime_edate").html("本次共延期<font color='red'>"+i+"</font>个职位！");

	}else{
		$("#gotime_edate").html('当前职位报名截止时间：<font color="red">'+deadline+'</font>');
	}
	$.layer({
		type : 1,
		title : '延期天数',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['300px','180px'],
		page : {dom : '#gotime'}
	});
}
$(document).ready(function(){
	$(".job_cz").hover(function(){
		var aid=$(this).attr("aid");
		$("#czlist"+aid).show();
		$(".job_cz_hover").attr("class","");
		$("#czlist_"+aid).attr("class","job_cz_hover");
	},function(){
		var aid=$(this).attr("aid");
		$("#czlist"+aid).hide();
	})
})
</script>



{yun:}include file="$comstyle/footer.htm"{/yun}