 
{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
<div class="admin_mainbody">
{yun:}include file="$comstyle/left.htm"{/yun}
 
<div class=right_box>
<div class=admincont_box>
  <div class="com_tit"><span class="com_tit_span"> 修改账户</span></div>
   <div class="com_body">
<div class=admin_note2>

<div class="admin_password"><span class="text_s_left">新用户名：</span><input type="text" id="username" name="username" value="{yun:}$username{/yun}" class="com_info_text"/></div>
<div class="admin_password"><span class="text_s_left">新&nbsp;密&nbsp;码：</span><input type="password" id="password" name="password" class="com_info_text"/></div>
<div class="admin_password"><span class="text_s_left">确认密码：</span><input type="password" id="repassword" name="repassword" class="com_info_text"/></div>
<div class="admin_password"><span class="text_s_left">&nbsp;</span>
<input type="button" name="submit" class="btn_01" value=" 修 改 "onclick="Savenamepost();" ></div>

</div> 
</div>
</div>  
</div> 
</div> 
</div> 
{yun:}include file="$comstyle/footer.htm"{/yun}