<div id='job_box' style="display:none;float:left">
  <div class="resume_yqbox">
    <dl><dt>面试职位：</dt><dd><select id='jobname' class="resume_yqbox_select"></select></dd></dl>
    <dl><dt>联系人：</dt><dd><input size='20'  id='linkman' value='' class="resume_yqbox_text"></dd></dl>
    <dl><dt>联系电话：</dt><dd><input size='20'  id='linktel' value=''class="resume_yqbox_text"></dd></dl>
    <dl><dt>面试时间：</dt><dd><input size='34' id='intertime' value=''class="resume_yqbox_text"></dd></dl>
    <dl><dt>面试地址：</dt><dd><input size='34' id='address' value=''class="resume_yqbox_text"></dd></dl>
    <dl><dt>面试备注：</dt><dd> <textarea id="content" cols="40" rows="5" class="resume_yqbox_textarea"></textarea></dd></dl>
    <dl  id="resume_job" style="height:40px;"><dt>&nbsp;</dt><dd> <input type="hidden" id="uid" value="">
        <input type="hidden" id="username" value="">
        <input class="resume_sub_yq" id="click_invite" type="button" value="邀请面试"  ></dd></dl>
    
  </div>
</div>